@use '../../../../../src/variables.scss' as *;

.button-container {
  display: flex;
  height: 100%;
}

.nav-button {
  min-width: 0;
  padding: 0;
  margin: 0 16px 0 16px;

  &.route-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: map-get($sormas-primary, 700);
    content: '';
  }
}

@media (map-get($media, large-up)) {
  .nav-button {
    margin: 0 12px;
  }
}

@media (map-get($media, extra-large-up)) {
  .nav-button {
    margin: 0 16px;
  }
}

@media (map-get($media, medium-down)) {
  .button-container {
    flex-direction: column;
  }

  .nav-button {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 0;
    color: $white;
    line-height: 1;

    &.route-active {
      color: map-get($sormas-primary, 700);
    }

    &.route-active::after {
      display: none;
    }
  }
}
