<table mat-table matSort matSortDisableClear [dataSource]="dataSource">
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="'region'">
      <span>{{ 'captions.regionName' | translate }}</span>
      <mat-icon *ngIf="sort.active === 'region'" class="material-icons-round">
        {{ sort.direction === 'asc' ? 'arrow_drop_up' : 'arrow_drop_down' }}
      </mat-icon>
    </th>
    <td mat-cell *matCellDef="let element; let row">
      {{ element.region }}
    </td>
  </ng-container>

  <ng-container matColumnDef="spacer">
    <th mat-header-cell *matHeaderCellDef class="spacer"></th>
    <td mat-cell *matCellDef></td>
  </ng-container>

  <ng-container *ngFor="let column of columnDefs" [matColumnDef]="column.name">
    <th mat-header-cell *matHeaderCellDef [align]="column.align">
      {{ column.name | translate }}
    </th>
    <td mat-cell *matCellDef="let element; let row" [align]="column.align" class="disease">
      <button
        mat-stroked-button
        (click)="setOutbreaksForRegion(element.region, column.dataKey)"
        [matTooltip]="getAffectedDistrictsForRegion(element.region, column.dataKey)"
      >
        <span [ngClass]="getSeverityStatus(element[column.dataKey])">
          {{ element[column.dataKey] }}
        </span>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
