<h2>
  <strong>{{ total }}</strong>
  {{ 'strings.headingVisits' | translate }}
</h2>

<ul *ngIf="data" class="visits">
  <li class="visits-unavailable">
    <span class="count">{{ data.visits.UNAVAILABLE ?? 0 }}</span>
    <span class="statistic down" *ngIf="unavailablePercent < 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_down</mat-icon></span
    >
    <span class="statistic up" *ngIf="unavailablePercent > 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_up</mat-icon></span
    >
    <span class="statistic equal" *ngIf="unavailablePercent === 0"
      ><mat-icon class="material-icons-round icon">remove</mat-icon></span
    >
    <span class="percentage">{{ unavailablePercent | percent }}</span>
    <mat-icon class="material-icons-round icon">block</mat-icon>
    <span class="info">{{ 'captions.dashboardUnavailable' | translate }}</span>
    <mat-progress-bar [value]="(data.visits.UNAVAILABLE / total) * 100"></mat-progress-bar>
  </li>
  <li class="visits-uncooperative">
    <span class="count">{{ data.visits.UNCOOPERATIVE ?? 0 }}</span>
    <span class="statistic down" *ngIf="uncooperativePercent < 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_down</mat-icon></span
    >
    <span class="statistic up" *ngIf="uncooperativePercent > 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_up</mat-icon></span
    >
    <span class="statistic equal" *ngIf="uncooperativePercent === 0"
      ><mat-icon class="material-icons-round icon">remove</mat-icon></span
    >
    <span class="percentage">
      {{ uncooperativePercent | percent }}
    </span>
    <mat-icon class="material-icons-round icon">cancel</mat-icon>
    <span class="info">{{ 'captions.dashboardUncooperative' | translate }}</span>
    <mat-progress-bar [value]="(data.visits.UNCOOPERATIVE / total) * 100"></mat-progress-bar>
  </li>
  <li class="visits-cooperative">
    <span class="count">{{ data.visits.COOPERATIVE ?? 0 }}</span>
    <span class="statistic down" *ngIf="cooperativePercent < 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_down</mat-icon></span
    >
    <span class="statistic up" *ngIf="cooperativePercent > 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_up</mat-icon></span
    >
    <span class="statistic equal" *ngIf="cooperativePercent === 0"
      ><mat-icon class="material-icons-round icon">remove</mat-icon></span
    >
    <span class="percentage">
      {{ cooperativePercent | percent }}
    </span>
    <mat-icon class="material-icons-round icon">sentiment_satisfied_alt</mat-icon>
    <span class="info">{{ 'captions.dashboardCooperative' | translate }}</span>
    <mat-progress-bar [value]="(data.visits.COOPERATIVE / total) * 100"></mat-progress-bar>
  </li>
  <li class="visits-missed">
    <span class="count">{{ data.visits.MISSED ?? 0 }}</span>
    <span class="statistic down" *ngIf="missedPercent < 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_down</mat-icon></span
    >
    <span class="statistic up" *ngIf="missedPercent > 0"
      ><mat-icon class="material-icons-round icon">keyboard_arrow_up</mat-icon></span
    >
    <span class="statistic equal" *ngIf="missedPercent === 0"
      ><mat-icon class="material-icons-round icon">remove</mat-icon></span
    >
    <span class="percentage">{{ missedPercent | percent }}</span>
    <mat-icon class="material-icons-round icon">remove</mat-icon>
    <span class="info">{{ 'captions.dashboardMissed' | translate }}</span>
    <mat-progress-bar [value]="(data.visits.MISSED / total) * 100"></mat-progress-bar>
  </li>
</ul>
