<app-dynamic-form
  [formElements]="myFormElements"
  [resourceService]="resourceService"
></app-dynamic-form>

<section class="assessments">
  <h2 class="assessments-title">
    {{ 'Clinical assessments' | translate }}
  </h2>
  <mat-card class="assessments-list">
    <app-table
      [resourceService]="clinicalVisitService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [appearance]="tableAppearanceOptions.MINIMAL"
    ></app-table>
  </mat-card>
</section>
