<app-dynamic-form
  [formId]="formId"
  [formElements]="myFormElements"
  [resourceService]="resourceService"
></app-dynamic-form>

<section class="assessments">
  <h2 class="assessments-title">
    {{ 'captions.ClinicalVisit' | translate }}
  </h2>
  <mat-card class="assessments-list">
    <div class="actions">
      <button mat-flat-button color="primary" (click)="openAddClinicalCourseModal()">
        {{ 'captions.clinicalVisitNewClinicalVisit' | translate }}
      </button>
    </div>
    <app-table
      [resourceService]="clinicalVisitService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [appearance]="tableAppearanceOptions.MINIMAL"
    ></app-table>
  </mat-card>
</section>
