@use '@angular/material' as mat;
@use '../../../../variables.scss' as *;

.dashboard-new-events {
  margin: 8px;
  h1 {
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-weight: 500;
    .nr-of-events {
      color: mat.get-color-from-palette($sormas-accent, 800);
    }
  }
  .events-container {
    .event-types {
      .row {
        display: block;
        text-align: center;
        border-bottom: solid 1px mat.get-color-from-palette($sormas-accent, 200);
        margin-top: 10px;
        &.cluster {
          color: mat.get-color-from-palette($sormas-alert, 700);
        }
        &.event {
          color: mat.get-color-from-palette($sormas-warning, 700);
        }
        &.signal {
          color: mat.get-color-from-palette($sormas-alert, 300);
        }
        &.screening {
          color: mat.get-color-from-palette($sormas-primary, 500);
        }
        &.dropped {
          color: mat.get-color-from-palette($sormas-accent, 500);
        }
        .number {
          display: inline-block;
          text-align: right;
          font-weight: 500;
          min-width: 30px;
        }
        .icon {
          display: inline-block;
          padding-left: 5px;
          text-align: center;
          min-width: 30px;
          .mat-icon {
            height: 16px;
            font-size: 16px;
            position: relative;
            top: 2px;
          }
        }
        .text {
          display: inline-block;
          color: mat.get-color-from-palette($sormas-accent, 600) !important;
          font-weight: 500;
          min-width: 80px;
          text-align: left;
        }
      }
    }
  }
}
