<div [formGroup]="group" [ngClass]="className">
  <mat-form-field
    appearance="outline"
    floatLabel="always"
    [ngClass]="{
      'search-multiselect': true,
      'search-multiselect-opened': multiselect.panelOpen,
      'has-hint': !!config.hint
    }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
    </mat-label>
    <mat-select
      #multiselect
      disableOptionCentering
      [formControlName]="config.key"
      [matTooltip]="config.label || '' | translate"
      (selectionChange)="onChange()"
      multiple
      panelClass="search-multiselect-panel"
    >
      <div class="mat-select-header">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-icon matPrefix class="material-icons-round icon-search">search</mat-icon>
          <input
            #searchBox
            matInput
            [placeholder]="config.placeholder || '' | translate"
            appDebounce
            (debounce)="filterOptions()"
          />
          <button matSuffix mat-icon-button (click)="clearSearch()">
            <mat-icon class="material-icons-round icon-clear">cancel</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-select-body">
        <div
          *ngIf="config.allowSelect"
          [ngClass]="[
            'mat-option',
            'mat-select-all',
            selection.length === options.length ? 'mat-active mat-selected' : ''
          ]"
        >
          <mat-checkbox
            [indeterminate]="!!selection.length && selection.length !== options.length"
            [checked]="selection.length === options.length"
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="toggleSelection($event)"
          >
            {{ 'captions.actionSelectAll' | translate }}
          </mat-checkbox>
        </div>
        <mat-option
          *ngFor="let opt of options"
          [value]="opt.key"
          [disabled]="opt.disabled"
          [ngClass]="{ hidden: opt.hidden }"
        >
          {{ opt.value | translate }}
        </mat-option>
        <p *ngIf="searchBox.value && searchResults === 0" class="search-no-results">
          No matches for "{{ searchBox.value }}"
        </p>
      </div>
    </mat-select>
    <mat-icon matSuffix class="material-icons-round icon-arrow">{{
      multiselect.panelOpen ? 'arrow_drop_up' : 'arrow_drop_down'
    }}</mat-icon>
    <mat-hint *ngIf="config.hint">{{ config.hint | translate }}</mat-hint>
  </mat-form-field>
  <mat-chip-list *ngIf="config.chips && selection.length">
    <mat-chip
      *ngFor="let item of selection"
      [removable]="true"
      [disabled]="item.disabled"
      (removed)="remove(item)"
    >
      {{ item.value }}
      <mat-icon matChipRemove class="material-icons-round icon-clear">highlight_off</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <div *ngIf="config.allowClear || config.allowSelect" class="actions">
    <button
      *ngIf="config.allowClear && selection.length"
      mat-button
      color="primary"
      (click)="deselectAll()"
    >
      {{ 'captions.actionClearAll' | translate }}
    </button>
  </div>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
