@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.mat-button-base {
  text-align: left;
}

.mat-icon {
  width: 14px;
  font-size: 18px;
  line-height: 36px;
}

.mat-stroked-button.mat-primary[aria-expanded='true'] {
  background-color: mat.get-color-from-palette($sormas-primary, 50);
}

.mat-stroked-button.mat-accent {
  font-weight: normal;
  color: mat.get-color-from-palette($sormas-accent, 400);

  .button-text {
    color: mat.get-color-from-palette($sormas-accent, 800);
  }

  &:hover,
  &[aria-expanded='true'] {
    color: mat.get-color-from-palette($sormas-primary, 700);
  }
}

.button-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.button-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(.fullwidth) {
  display: block;

  .mat-button-base {
    width: 100%;
  }
}
