<ng-container [ngSwitch]="appearance">
  <button
    *ngSwitchCase="buttonTypes.STROKED"
    mat-stroked-button
    [color]="color"
    #toggle="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    [disabled]="disabled"
  >
    <ng-container *ngTemplateOutlet="buttonContent; context: { toggle: toggle }"></ng-container>
  </button>
  <button
    *ngSwitchCase="buttonTypes.FLAT"
    mat-flat-button
    [color]="color"
    #toggle="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    [disabled]="disabled"
  >
    <ng-container *ngTemplateOutlet="buttonContent; context: { toggle: toggle }"></ng-container>
  </button>
  <button
    *ngSwitchDefault
    mat-button
    [color]="color"
    #toggle="matMenuTrigger"
    [matMenuTriggerFor]="menu"
    [disabled]="disabled"
  >
    <ng-container *ngTemplateOutlet="buttonContent; context: { toggle: toggle }"></ng-container>
  </button>
</ng-container>

<ng-template #buttonContent let-toggle="toggle">
  <span class="button-text-wrapper">
    <span class="button-text">{{ buttonText | translate }}</span>
    <mat-icon *ngIf="chevron" class="material-icons-round">{{
      toggle.menuOpen ? chevronCloseIcon : chevronOpenIcon
    }}</mat-icon>
  </span>
</ng-template>

<mat-menu #menu [xPosition]="horizontalPosition" [class]="'dropdown-menu ' + panelClass">
  <ng-content></ng-content>
</mat-menu>
