<mat-sidenav-container (backdropClick)="toggleFilters()" class="filters">
  <mat-sidenav
    #filters
    [opened]="isAlwaysOpened ? true : opened"
    [mode]="drawerMode"
    [fixedInViewport]="fixed"
    [fixedTopGap]="topGap"
    [fixedBottomGap]="bottomGap"
    [disableClose]="true"
    [ngClass]="expandable ? 'expandable' : ''"
    [@onSideNavChange]="isAlwaysOpened ? (opened ? 'open' : 'close') : ''"
  >
    <button
      *ngIf="isAlwaysOpened || opened"
      mat-icon-button
      color="primary"
      class="button-close"
      (click)="toggleFilters()"
    >
      <mat-icon class="material-icons-round">{{
        isMobile ? 'highlight_off' : 'filter_list'
      }}</mat-icon>
    </button>
    <div [ngClass]="['filters-wrapper', expandable && opened ? 'expanded' : '']">
      <div class="filters-content">
        <ng-content select="[filters]"></ng-content>
      </div>
      <button
        mat-button
        class="button-reset"
        color="primary"
        (click)="resetFilters()"
        (keyup.enter)="resetFilters()"
      >
        {{ 'captions.actionResetFilters' | translate }}
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content
    [appFluidHeight]="topGap + bottomGap"
    [ngClass]="[opened ? '' : 'filters-closed', expandable ? 'expandable' : '']"
    [@onMainContentChange]="isAlwaysOpened ? (opened ? 'open' : 'close') : ''"
  >
    <button
      *ngIf="!isAlwaysOpened && !opened"
      mat-icon-button
      color="primary"
      class="button-open"
      (click)="toggleFilters()"
    >
      <mat-icon class="material-icons-round">filter_list</mat-icon>
    </button>
    <ng-content select="[list]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
