@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.button-open,
.button-close {
  position: absolute;
  z-index: 2;
  top: calc(50% - 20px);

  .mat-icon {
    transform: rotate(90deg);
  }
}

.button-close {
  right: 0;
}

.button-open {
  left: -8px;
}

.button-reset {
  position: sticky;
  bottom: 0;
  padding: 8px 16px;
  background-color: $white;
}

.filters-closed {
  padding-left: 24px;
}

.mat-sidenav-container {
  background-color: unset;
  color: unset;
}

.mat-sidenav {
  width: 290px;
}

.filters-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 0;

  &.expanded {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;

    .button-reset {
      padding: 16px 0 0;
      margin-bottom: -52px;
    }
  }
}

.filters-content {
  width: 100%;
  padding-bottom: 52px;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .button-close {
    top: 14px;
    right: 22px;
    color: mat.get-color-from-palette($sormas-accent, 500);
  }

  .mat-sidenav {
    width: 384px;

    &.expandable {
      width: 100%;
    }
  }

  .filters-wrapper {
    padding: 24px 72px;

    &.expanded {
      padding: 24px;
    }
  }

  .expandable {
    .button-close,
    .button-open {
      display: none;
    }
  }
}
