@use '/src/variables.scss' as *;

.mat-dialog-title {
  padding: 40px 25px 25px;

  > h1 {
    margin: 0;
    font-size: 28px;
  }

  .button-dialog-close {
    top: 2px;
    right: 2px;
  }
}

.mat-dialog-content {
  background: $white;
  padding: 14px 110px;
}
