<div class="page-header">
  <div class="page-header-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddCommunityModal()">
      {{ 'actionAddNewCommunity' | translate }}
    </button>
  </div>
</div>
<app-table
  [resourceService]="communityService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  [showTotal]="true"
  [isEditable]="true"
  showTotalContext="{{ 'strings.entityCommunities' | translate }}"
  (editItem)="openEditCommunityModal($event)"
></app-table>
