<section class="assessments">
  <h2 class="assessments-title">
    {{ 'captions.caseFollowupVisitsView' | translate }}
  </h2>
  <div class="follow-up-header-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddVisitModal()">
      {{ 'captions.visitNewVisit' | translate }}
    </button>
    <button mat-stroked-button color="primary" (click)="export()" class="export-btn">
      {{ 'captions.export' | translate }}
    </button>
  </div>
  <mat-card class="assessments-list">
    <app-table
      [resourceService]="visitService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [appearance]="tableAppearanceOptions.MINIMAL"
      [preSetFilters]="preSetFilters"
    ></app-table>
  </mat-card>
</section>
