<section class="assessments">
  <h2 class="assessments-title">
    {{ 'captions.caseFollowupVisitsView' | translate }}
  </h2>
  <button mat-stroked-button color="primary" (click)="export()" class="export-btn">
    {{ 'captions.export' | translate }}
  </button>
  <mat-card class="assessments-list">
    <app-table
      [resourceService]="visitService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [appearance]="tableAppearanceOptions.MINIMAL"
      [preSetFilters]="preSetFilters"
    ></app-table>
  </mat-card>
</section>
