<div class="filters">
  <h2 class="filters-header">{{ 'headingFilters' | translate }}</h2>
  <form [formGroup]="filtersForm" class="filters-form">
    <mat-form-field
      id="nameUuidEpidNumberLike"
      appearance="outline"
      floatLabel="always"
      class="search-field"
    >
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'promptCasesSearchField' | translate }}"
        formControlName="nameUuidEpidNumberLike"
        (debounce)="onFormChange()"
      />
    </mat-form-field>
    <app-collapsable-box boxTitle="{{ 'entityCases' | translate }}">
      <mat-radio-group name="cases" formControlName="cases" (change)="onFormChange()">
        <mat-radio-button value="active" color="primary">
          {{ 'caseActiveCases' | translate }}
        </mat-radio-button>
        <mat-radio-button value="archived" color="primary">
          {{ 'caseArchivedCases' | translate }}
        </mat-radio-button>
        <mat-radio-button
          class="option-radio"
          value="all"
          color="primary"
          (change)="onFormChange()"
        >
          {{ 'caseAllCases' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'CaseData.caseOrigin' | translate }}">
      <mat-radio-group name="caseOrigin" formControlName="caseOrigin" (change)="onFormChange()">
        <mat-radio-button value="IN_COUNTRY" color="primary">
          {{ 'CaseOrigin.IN_COUNTRY' | translate }}
        </mat-radio-button>
        <mat-radio-button value="POINT_OF_ENTRY" color="primary">
          {{ 'CaseOrigin.POINT_OF_ENTRY' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'caseEvents' | translate }}">
      <mat-form-field id="eventLike" appearance="outline" floatLabel="always" class="search-field">
        <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
        <input
          value=""
          type="text"
          matInput
          appDebounce
          placeholder="{{ 'promptCaseOrContactEventSearchField' | translate }}"
          formControlName="eventLike"
          (debounce)="onFormChange()"
        />
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'caseData.medicalAspects' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="caseOutcome"
          placeholder="{{ 'CaseData.outcome' | translate }}"
        >
          <mat-option value="NO_OUTCOME"> {{ 'CaseOutcome.NO_OUTCOME' | translate }} </mat-option>
          <mat-option value="DECEASED"> {{ 'CaseOutcome.DECEASED' | translate }} </mat-option>
          <mat-option value="RECOVERED"> {{ 'CaseOutcome.RECOVERED' | translate }} </mat-option>
          <mat-option value="UNKNOWN"> {{ 'CaseOutcome.UNKNOWN' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="disease"
          placeholder="{{ 'disease' | translate }}"
        >
          <mat-option *ngFor="let opt of allDisease" [value]="opt.value">
            {{ opt.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="caseClassification"
          placeholder="{{ 'CaseClassification' | translate }}"
        >
          <mat-option value="NOT_CLASSIFIED">
            {{ 'CaseClassification.Short.NOT_CLASSIFIED' | translate }}
          </mat-option>
          <mat-option value="SUSPECT">
            {{ 'CaseClassification.Short.SUSPECT' | translate }}
          </mat-option>
          <mat-option value="PROBABLE">
            {{ 'CaseClassification.Short.PROBABLE' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED">
            {{ 'CaseClassification.Short.CONFIRMED' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED_NO_SYMPTOMS">
            {{ 'CaseClassification.CONFIRMED_NO_SYMPTOMS' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED_UNKNOWN_SYMPTOMS">
            {{ 'CaseClassification.CONFIRMED_UNKNOWN_SYMPTOMS' | translate }}
          </mat-option>
          <mat-option value="NO_CASE"> {{ 'CaseClassification.NO_CASE' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="followUpStatus"
          placeholder="{{ 'headingFollowUpStatus' | translate }}"
        >
          <mat-option value="FOLLOW_UP"> {{ 'FollowUpStatus.FOLLOW_UP' | translate }} </mat-option>
          <mat-option value="COMPLETED"> {{ 'FollowUpStatus.COMPLETED' | translate }} </mat-option>
          <mat-option value="CANCELED"> {{ 'FollowUpStatus.CANCELED' | translate }} </mat-option>
          <mat-option value="LOST"> {{ 'FollowUpStatus.LOST' | translate }} </mat-option>
          <mat-option value="NO_FOLLOW_UP">
            {{ 'FollowUpStatus.NO_FOLLOW_UP' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="Admin aspects">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          (selectionChange)="onFormChange()"
          formControlName="presentCondition"
          placeholder="{{ 'PresentCondition' | translate }}"
        >
          <mat-option value="ALIVE"> {{ 'PresentCondition.ALIVE' | translate }} </mat-option>
          <mat-option value="DEAD"> {{ 'PresentCondition.DEAD' | translate }} </mat-option>
          <mat-option value="BURIED"> {{ 'PresentCondition.BURIED' | translate }} </mat-option>
          <mat-option value="UNKNOWN"> {{ 'PresentCondition.UNKNOWN' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleRegion"
          placeholder="{{ 'CaseData.responsibleRegion' | translate }}"
        >
          <mat-option value="defaultRegion"> {{ 'Default region' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleDistrict"
          placeholder="{{ 'CaseData.responsibleDistrict' | translate }}"
        >
          <mat-option value="defaultRegion"> {{ 'defaultDistrict' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleCommunity"
          placeholder="{{ 'CaseData.responsibleCommunity' | translate }}"
        >
          <mat-option value="defaultCommunity"> {{ 'defaultCommunity' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleSurveillor"
          placeholder="{{ 'CaseData.surveillanceOfficer' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="reportedBy"
          placeholder="{{ 'reportedBy' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="reportingUser"
          placeholder="{{ 'CaseData.reportingUser' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'facility' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facilityCategory"
          placeholder="{{ 'facilityTypeGroup' | translate }}"
        >
          <mat-option value="defaultCategory"> {{ 'Default category' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facilityType"
          placeholder="{{ 'CaseData.facilityType' | translate }}"
        >
          <mat-option *ngFor="let opt of allFacilityTypes" [value]="opt.value">
            {{ opt.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facility"
          placeholder="{{ 'facility' | translate }}"
        >
          <mat-option value="defaultFacility"> {{ 'Default Facility' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'caseData.dateFilter' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="dateFilter"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'DateFilterOption.DATE' | translate }}"
        >
          <mat-option value="byDate"> {{ 'DateFilterOption.DATE' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        id="new-case-from"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker1.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker1"
          size="5"
          formControlName="newCaseFrom"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'promptCasesDateFrom' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="new-case-to"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker2.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker2"
          size="5"
          formControlName="newCaseTo"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'promptDateTo' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="quarantine-end"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker3.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker3"
          size="5"
          formControlName="quarantineEnd"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'CaseData.quarantineTo' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="follow-up-until"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker4.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker4"
          size="5"
          formControlName="followUpUntil"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'CaseData.followUpUntil' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker4"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'caseData.moreFilters' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="sympromsJournal"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'CaseData.symptomJournalStatus' | translate }}"
        >
          <mat-option value="symptoms-journal1"> {{ 'Symptoms journal1' | translate }} </mat-option>
          <mat-option value="symptoms-journal2"> {{ 'Symptoms journal2' | translate }} </mat-option>
          <mat-option value="symptoms-journal3"> {{ 'Symptoms journal3' | translate }} </mat-option>
          <mat-option value="symptoms-journal4"> {{ 'Symptoms journal4' | translate }} </mat-option>
          <mat-option value="symptoms-journal5"> {{ 'Symptoms journal5' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          multiple
          formControlName="moreFilters"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'caseData.moreFilters' | translate }}"
          class="multiselect"
        >
          <mat-option value="no-geo-coordinates">
            {{ 'caseFilterWithoutGeo' | translate }}
          </mat-option>
          <mat-option value="no-facility">
            {{ 'caseFilterPortHealthWithoutFacility' | translate }}
          </mat-option>
          <mat-option value="management-data">
            {{ 'caseFilterCasesWithCaseManagementData' | translate }}
          </mat-option>
          <mat-option value="no-responsible">
            {{ 'caseFilterWithoutResponsibleOfficer' | translate }}
          </mat-option>
          <mat-option value="extended-quarantine">
            {{ 'caseFilterWithExtendedQuarantine' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
