<div class="filters">
  <h2 class="filters-header">{{ 'strings.headingFilters' | translate }}</h2>
  <form [formGroup]="filtersForm" class="filters-form">
    <mat-form-field
      id="nameUuidEpidNumberLike"
      appearance="outline"
      floatLabel="always"
      class="search-field"
    >
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'strings.promptCasesSearchField' | translate }}"
        formControlName="nameUuidEpidNumberLike"
        (debounce)="onFormChange()"
      />
    </mat-form-field>
    <app-collapsable-box boxTitle="{{ 'strings.entityCases' | translate }}">
      <mat-radio-group name="cases" formControlName="cases" (change)="onFormChange()">
        <mat-radio-button value="active" color="primary">
          {{ 'captions.caseActiveCases' | translate }}
        </mat-radio-button>
        <mat-radio-button value="archived" color="primary">
          {{ 'captions.caseArchivedCases' | translate }}
        </mat-radio-button>
        <mat-radio-button
          class="option-radio"
          value="all"
          color="primary"
          (change)="onFormChange()"
        >
          {{ 'captions.caseAllCases' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.CaseData.caseOrigin' | translate }}">
      <mat-radio-group name="caseOrigin" formControlName="caseOrigin" (change)="onFormChange()">
        <mat-radio-button value="IN_COUNTRY" color="primary">
          {{ 'enum.CaseOrigin.IN_COUNTRY' | translate }}
        </mat-radio-button>
        <mat-radio-button value="POINT_OF_ENTRY" color="primary">
          {{ 'enum.CaseOrigin.POINT_OF_ENTRY' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.caseEvents' | translate }}">
      <mat-form-field id="eventLike" appearance="outline" floatLabel="always" class="search-field">
        <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
        <input
          value=""
          type="text"
          matInput
          appDebounce
          placeholder="{{ 'strings.promptCaseOrContactEventSearchField' | translate }}"
          formControlName="eventLike"
          (debounce)="onFormChange()"
        />
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingMedicalAspects' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="caseOutcome"
          placeholder="{{ 'captions.CaseData.outcome' | translate }}"
        >
          <mat-option value="NO_OUTCOME">
            {{ 'enum.CaseOutcome.NO_OUTCOME' | translate }}
          </mat-option>
          <mat-option value="DECEASED"> {{ 'enum.CaseOutcome.DECEASED' | translate }} </mat-option>
          <mat-option value="RECOVERED">
            {{ 'enum.CaseOutcome.RECOVERED' | translate }}
          </mat-option>
          <mat-option value="UNKNOWN"> {{ 'enum.CaseOutcome.UNKNOWN' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="disease"
          placeholder="{{ 'captions.disease' | translate }}"
        >
          <mat-option *ngFor="let opt of allDisease" [value]="opt.value">
            {{ opt.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="caseClassification"
          placeholder="{{ 'captions.CaseData.caseClassification' | translate }}"
        >
          <mat-option value="NOT_CLASSIFIED">
            {{ 'enum.CaseClassification.Short.NOT_CLASSIFIED' | translate }}
          </mat-option>
          <mat-option value="SUSPECT">
            {{ 'enum.CaseClassification.Short.SUSPECT' | translate }}
          </mat-option>
          <mat-option value="PROBABLE">
            {{ 'enum.CaseClassification.Short.PROBABLE' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED">
            {{ 'enum.CaseClassification.Short.CONFIRMED' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED_NO_SYMPTOMS">
            {{ 'enum.CaseClassification.CONFIRMED_NO_SYMPTOMS' | translate }}
          </mat-option>
          <mat-option value="CONFIRMED_UNKNOWN_SYMPTOMS">
            {{ 'enum.CaseClassification.CONFIRMED_UNKNOWN_SYMPTOMS' | translate }}
          </mat-option>
          <mat-option value="NO_CASE">
            {{ 'enum.CaseClassification.NO_CASE' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="followUpStatus"
          placeholder="{{ 'captions.CaseData.followUpStatus' | translate }}"
        >
          <mat-option value="FOLLOW_UP">
            {{ 'enum.FollowUpStatus.FOLLOW_UP' | translate }}
          </mat-option>
          <mat-option value="COMPLETED">
            {{ 'enum.FollowUpStatus.COMPLETED' | translate }}
          </mat-option>
          <mat-option value="CANCELED">
            {{ 'enum.FollowUpStatus.CANCELED' | translate }}
          </mat-option>
          <mat-option value="LOST"> {{ 'enum.FollowUpStatus.LOST' | translate }} </mat-option>
          <mat-option value="NO_FOLLOW_UP">
            {{ 'enum.FollowUpStatus.NO_FOLLOW_UP' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingAdminAspect' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          (selectionChange)="onFormChange()"
          formControlName="presentCondition"
          placeholder="{{ 'captions.Person.presentCondition' | translate }}"
        >
          <mat-option value="ALIVE"> {{ 'enum.PresentCondition.ALIVE' | translate }} </mat-option>
          <mat-option value="DEAD"> {{ 'enum.PresentCondition.DEAD' | translate }} </mat-option>
          <mat-option value="BURIED"> {{ 'enum.PresentCondition.BURIED' | translate }} </mat-option>
          <mat-option value="UNKNOWN">
            {{ 'enum.PresentCondition.UNKNOWN' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleRegion"
          placeholder="{{ 'captions.CaseData.responsibleRegion' | translate }}"
        >
          <mat-option value="defaultRegion"> {{ 'Default region' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleDistrict"
          placeholder="{{ 'captions.CaseData.responsibleDistrict' | translate }}"
        >
          <mat-option value="defaultRegion"> {{ 'defaultDistrict' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleCommunity"
          placeholder="{{ 'captions.CaseData.responsibleCommunity' | translate }}"
        >
          <mat-option value="defaultCommunity"> {{ 'defaultCommunity' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleSurveillor"
          placeholder="{{ 'captions.CaseData.surveillanceOfficer' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="reportedBy"
          placeholder="{{ 'strings.reportedBy' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="reportingUser"
          placeholder="{{ 'captions.CaseData.reportingUser' | translate }}"
        >
          <mat-option value="defaultUser"> {{ 'Default user' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.facility' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facilityCategory"
          placeholder="{{ 'captions.facilityTypeGroup' | translate }}"
        >
          <mat-option value="defaultCategory"> {{ 'Default category' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facilityType"
          placeholder="{{ 'captions.CaseData.facilityType' | translate }}"
        >
          <mat-option *ngFor="let opt of allFacilityTypes" [value]="opt.value">
            {{ opt.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="facility"
          placeholder="{{ 'captions.facility' | translate }}"
        >
          <mat-option value="defaultFacility"> {{ 'Default Facility' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingDateFilter' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="dateFilter"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'enum.DateFilterOption.DATE' | translate }}"
        >
          <mat-option value="byDate"> {{ 'enum.DateFilterOption.DATE' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        id="new-case-from"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker1.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker1"
          size="5"
          formControlName="newCaseFrom"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'strings.promptCasesDateFrom' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="new-case-to"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker2.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker2"
          size="5"
          formControlName="newCaseTo"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'strings.promptDateTo' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="quarantine-end"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker3.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker3"
          size="5"
          formControlName="quarantineEnd"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'captions.CaseData.quarantineTo' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="follow-up-until"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker4.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker4"
          size="5"
          formControlName="followUpUntil"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'captions.CaseData.followUpUntil' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker4"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingMoreFilters' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="sympromsJournal"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'captions.CaseData.symptomJournalStatus' | translate }}"
        >
          <mat-option value="symptoms-journal1"> {{ 'Symptoms journal1' | translate }} </mat-option>
          <mat-option value="symptoms-journal2"> {{ 'Symptoms journal2' | translate }} </mat-option>
          <mat-option value="symptoms-journal3"> {{ 'Symptoms journal3' | translate }} </mat-option>
          <mat-option value="symptoms-journal4"> {{ 'Symptoms journal4' | translate }} </mat-option>
          <mat-option value="symptoms-journal5"> {{ 'Symptoms journal5' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          multiple
          formControlName="moreFilters"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'headingMoreFilters' | translate }}"
          class="multiselect"
        >
          <mat-option value="no-geo-coordinates">
            {{ 'captions.caseFilterWithoutGeo' | translate }}
          </mat-option>
          <mat-option value="no-facility">
            {{ 'captions.caseFilterPortHealthWithoutFacility' | translate }}
          </mat-option>
          <mat-option value="management-data">
            {{ 'captions.caseFilterCasesWithCaseManagementData' | translate }}
          </mat-option>
          <mat-option value="no-responsible">
            {{ 'captions.caseFilterWithoutResponsibleOfficer' | translate }}
          </mat-option>
          <mat-option value="extended-quarantine">
            {{ 'captions.caseFilterWithExtendedQuarantine' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
