@use '../../../variables.scss' as *;

.case-filters {
  .filters-header {
    margin-bottom: 0;
  }
  .case-radio {
    display: block;
    padding-bottom: 5px;
    margin-left: 0;
  }
  .collapsable-field {
    width: 185px;
  }
  .reset-button {
    color: map-get($sormas-primary, 700);
    cursor: pointer;
    text-align: center;
  }
  .search-field {
    width: 240px;
    margin-left: 16px;
  }
}
