@use '../../../variables.scss' as *;

.case-filters {
  .filters-header {
    margin-bottom: 0;
  }
  .filters-form {
    position: relative;
    .reset-button {
      position: sticky;
      z-index: 10;
      bottom: 0;
      color: map-get($sormas-primary, 700);
      cursor: pointer;
      text-align: center;
    }
  }
  .case-radio {
    display: block;
    padding-bottom: 5px;
    margin-left: 0;
  }
  .collapsable-field {
    width: 185px;
  }

  .search-field {
    width: 240px;
    margin-left: 16px;
  }
}
