<div [formGroup]="form" class="datetime-picker">
  <mat-form-field
    [id]="config.key"
    appearance="outline"
    floatLabel="always"
    [ngClass]="{
      'has-hint': !!config.hint,
      'datepicker-opened': picker.opened,
      'datepicker-closed': !picker.opened
    }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
      <span *ngIf="config.validation?.length" class="required">*</span>
    </mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="onChange()"
      [formControlName]="'date'"
      [placeholder]="config.placeholder || ''"
    />
    <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon class="material-icons-round">date_range</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always" class="time">
    <mat-label>{{ 'Select time' | translate }}</mat-label>
    <mat-select disableOptionCentering [formControlName]="'time'" (selectionChange)="onChange()">
      <mat-option *ngFor="let opt of options" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button type="button" color="primary" (click)="setDefaultDate()">Today</button>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
