.datetime-picker {
  display: inline-flex;
  gap: 20px;

  .time {
    width: 93px;
  }
}

:host-context(.filters) .datetime-picker {
  display: block;

  .time {
    width: unset;
    margin-top: -24px;
  }
}
