<div class="dashboard-new-cases" *ngIf="newCases">
  <h1>
    <span class="nr-of-cases">{{ newCases.newCases || 0 }}</span>
    {{ 'captions.dashboardNewCases' | translate }}
  </h1>
  <div class="cases-container">
    <div class="case-types">
      <div class="row not-classified">
        <div class="number">{{ newCases.caseClassificationCount?.NOT_CLASSIFIED || 0 }}</div>
        <div class="icon"><mat-icon class="material-icons-round">cached</mat-icon></div>
        <div class="text">{{ 'captions.dashboardNotYetClassified' | translate }}</div>
      </div>
      <div class="row suspect">
        <div class="number">{{ newCases.caseClassificationCount?.SUSPECT || 0 }}</div>
        <div class="icon"><mat-icon class="material-icons-round">person_search</mat-icon></div>
        <div class="text">{{ 'captions.dashboardSuspect' | translate }}</div>
      </div>
      <div class="row probable">
        <div class="number">{{ newCases.caseClassificationCount?.PROBABLE || 0 }}</div>
        <div class="icon"><mat-icon class="material-icons-round">queue</mat-icon></div>
        <div class="text">{{ 'captions.dashboardProbable' | translate }}</div>
      </div>
      <div class="row confirmed">
        <div class="number">{{ newCases.caseClassificationCount?.CONFIRMED || 0 }}</div>
        <div class="icon"><mat-icon class="material-icons-round">new_releases</mat-icon></div>
        <div class="text">{{ 'captions.dashboardConfirmed' | translate }}</div>
      </div>
      <div class="row confirmed-asymptomatic">
        <div class="number">{{ newCases.caseClassificationCount?.CONFIRMED_NO_SYMPTOMS || 0 }}</div>
        <div class="icon">
          <mat-icon class="material-icons-round">sentiment_satisfied_alt</mat-icon>
        </div>
        <div class="text">{{ 'captions.dashboardConfirmedNoSymptoms' | translate }}</div>
      </div>
      <div class="row confirmed-unknown">
        <div class="number">
          {{ newCases.caseClassificationCount?.CONFIRMED_UNKNOWN_SYMPTOMS || 0 }}
        </div>
        <div class="icon"><mat-icon class="material-icons-round">sick</mat-icon></div>
        <div class="text">{{ 'captions.dashboardConfirmedUnknownSymptoms' | translate }}</div>
      </div>
      <div class="row not-case">
        <div class="number">{{ newCases.caseClassificationCount?.NO_CASE || 0 }}</div>
        <div class="icon"><mat-icon class="material-icons-round">how_to_reg</mat-icon></div>
        <div class="text">{{ 'captions.dashboardNotACase' | translate }}</div>
      </div>
    </div>
    <div class="case-data">
      <div [ngClass]="['fatalities', newCases.fatalityCount === 0 ? 'no-fatalities' : '']">
        {{ 'strings.headingFatalities' | translate }}
        <span class="value">
          <mat-icon class="material-icons-round">keyboard_arrow_up</mat-icon
          >{{ newCases.fatalityCount || 0 }}</span
        >
        <br />{{ 'dashboard.newCase.rate' | translate }}
        <span class="value">{{ newCases.fatalityRate || 0 }}</span>
      </div>
      <div class="districts">
        {{ 'strings.headingOutbreakDistricts' | translate }}
        <span class="value">{{ newCases.outbreakDistrictCount || 0 }}</span>
      </div>
      <div class="row">
        {{ 'strings.headingCasesInQuarantine' | translate }}
        <span class="value">{{ newCases.quarantineCaseCount || 0 }}</span>
      </div>
      <div class="row">
        {{ 'strings.headingCasesPlacedInQuarantine' | translate }}
        <span class="value">{{ newCases.quarantinePlacedCaseCount || 0 }}</span>
      </div>
      <div class="row">
        {{ 'dashboard.newCase.casesWithDefinition' | translate }}
        <span class="value">{{ newCases.referenceDefinitionFulfilledCaseCount || 0 }}</span>
      </div>
      <div class="row cases-resulting">
        {{ 'strings.headingCasesResultingFromContacts' | translate }}
        <span class="value">{{ newCases.contactResultingCaseCount || 0 }}</span>
      </div>
      <div class="last-reported-district">
        <span class="hint">{{ 'strings.headingLastReportedDistrict' | translate }}</span>
        {{ newCases.lastReportedDistrict || 0 }}
      </div>
    </div>
  </div>
</div>
