@use '../../../../variables.scss' as *;

.dashboard-new-cases {
  margin: 8px;
  h1 {
    color: map-get($sormas-accent, 500);
    font-weight: 500;
    .nr-of-cases {
      color: map-get($sormas-accent, 800);
    }
  }
  .cases-container {
    display: flex;
    column-gap: 24px;
    .case-types {
      flex-basis: 50%;
      .row {
        display: flex;
        border-bottom: solid 1px map-get($sormas-accent, 200);
        margin-top: 10px;
        &.not-classified {
          color: map-get($sormas-accent, 500);
        }
        &.suspect {
          color: map-get($sormas-warning, 400);
        }
        &.probable {
          color: map-get($sormas-warning, 800);
        }
        &.confirmed {
          color: map-get($sormas-alert, 700);
        }
        &.confirmed-asymptomatic {
          color: map-get($sormas-alert, 300);
        }
        &.confirmed-unknown {
          color: map-get($sormas-alert, 900);
        }
        &.not-case {
          color: map-get($sormas-primary, 500);
        }
        .number {
          flex: 15%;
          text-align: right;
        }
        .icon {
          flex: 8%;
          padding-left: 5px;
          text-align: center;
          .mat-icon {
            height: 16px;
            font-size: 16px;
            position: relative;
            top: 1px;
          }
        }
        .text {
          flex: 77%;
          color: map-get($sormas-accent, 600) !important;
          font-weight: 500;
        }
      }
    }
    .case-data {
      flex-basis: 50%;
      .fatalities {
        width: fit-content;
        height: fit-content;
        padding: 6px 10px;
        color: map-get($sormas-accent, 400);
        border: solid 2px map-get($sormas-alert, 200);
        border-radius: 3px;
        .value {
          color: map-get($sormas-alert, 700);
          font-weight: 700;
          .mat-icon {
            width: 14px;
            height: 14px;
            font-size: 14px;
          }
        }
      }
      .districts {
        width: fit-content;
        margin-top: 12px;
        padding: 2px 6px;
        color: map-get($sormas-accent, 400);
        background-color: map-get($sormas-alert, 50);
        .value {
          color: map-get($sormas-alert, 700);
          font-weight: 700;
        }
      }
      .row {
        width: fit-content;
        margin-top: 8px;
        color: map-get($sormas-accent, 400);
        &.cases-resulting {
          border: solid 1px map-get($sormas-primary, 200);
          padding: 0 6px;
          border-radius: 2px;
        }
        .value {
          font-size: 16px;
          font-weight: 500;
          color: map-get($sormas-accent, 600);
        }
      }
      .last-reported-district {
        margin-top: 5px;
        color: map-get($sormas-accent, 600);
        font-weight: 500;
        .hint {
          display: block;
          color: map-get($sormas-accent, 400);
          font-size: 10px;
        }
      }
    }
  }
}
