<div *ngIf="data" class="card-task">
  <div [ngClass]="['task-details', data.priority === 'HIGH' ? 'show-priority' : '']">
    <span *ngIf="data.priority === 'HIGH'" class="task-priority">
      priority
      <strong [ngClass]="'priority-' + [data.priority | lowercase]">
        {{ data.priority | humanize }}
      </strong>
    </span>
    <span [ngClass]="['task-status', 'status-' + data.taskStatus | lowercase]">
      {{ data.taskStatus | humanize }}
    </span>
  </div>

  <div class="timeline">
    <app-date-card
      *ngIf="data.perceivedStart"
      [date]="data.perceivedStart"
      label="start"
      [showYear]="false"
      [appearance]="data.taskStatus === 'DONE' ? dateCardType.CARD : dateCardType.STANDARD"
      class="date"
    ></app-date-card>
    <app-date-card
      *ngIf="data.dueDate"
      [date]="data.dueDate"
      label="end"
      [showYear]="false"
      [appearance]="data.taskStatus === 'DONE' ? dateCardType.CARD : dateCardType.STANDARD"
      class="date"
    ></app-date-card>
  </div>

  <div class="assignee">
    <mat-icon>perm_contact_calendar</mat-icon>
    <span>{{ data.assigneeUser.caption }}</span>
  </div>
</div>
