<section class="dashboard-contacts-wrapper">
  <mat-card class="dashboard-contacts-filters">
    <app-dashboard-filters></app-dashboard-filters>
  </mat-card>
  <mat-card class="dashboard-contacts-contacts">
    <app-dashboard-contacts></app-dashboard-contacts>
  </mat-card>
  <mat-card class="dashboard-contacts-under-follow-up">
    <app-dashboard-under-follow-up></app-dashboard-under-follow-up>
  </mat-card>
  <mat-card class="dashboard-contacts-stopped-follow-up">
    <app-dashboard-stopped-follow-up></app-dashboard-stopped-follow-up>
  </mat-card>
  <mat-card class="dashboard-contacts-visits">
    <app-dashboard-visits></app-dashboard-visits>
  </mat-card>
  <mat-card class="dashboard-contacts-contact-stats">
    <app-dashboard-contact-stats></app-dashboard-contact-stats>
  </mat-card>
  <mat-card class="dashboard-contacts-epi-curve">
    <app-dashboard-epidemiological-curve></app-dashboard-epidemiological-curve>
  </mat-card>
  <mat-card class="dashboard-contacts-map">
    <app-dashboard-case-map></app-dashboard-case-map>
  </mat-card>
  <mat-card class="dashboard-transmission-chain">
    <app-dashboard-transmission-chain></app-dashboard-transmission-chain>
  </mat-card>
</section>
