@use '../../../variables.scss' as *;

.case-page {
  .case-content {
    margin-top: 160px;
  }
  .top-section {
    position: fixed;
    z-index: 9;
    top: 68px;
    right: 30px;
    left: 0;
    padding: 30px 0 0 30px;
    background: $white;
  }
  h1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 34px;
    font-weight: bold;

    span {
      margin-left: 10px;
      font-weight: bold;
    }
  }
  .info-box {
    padding: 8px 20px;
    background-color: map-get($sormas-accent, 50);

    .info-item {
      display: inline-block;
      height: 32px;
      padding: 0 15px;
      border-right: solid 1px map-get($sormas-accent, 200);
      margin-top: 5px;
      line-height: 32px;

      .material-icons {
        position: relative;
        top: 3px;
        font-size: 18px;
      }
    }
  }

  .tab-nav-header {
    display: flex;
    justify-content: space-between;
  }

  .mat-tab-header {
    min-width: 0;
    flex: 1;
  }

  .tab-nav-header-actions {
    min-width: 248px;
    border-bottom: solid 2px map-get($sormas-accent, 200);
    text-align: right;
    white-space: nowrap;
  }
}
