<section *ngIf="case" class="case-page">
  <div class="top-section">
    <div class="title-container">
      <h1>
        <a [routerLink]="['/cases/list']">
          <mat-icon class="material-icons" color="accent"> west </mat-icon>
        </a>
        <span> {{ case.person?.firstName }} {{ case.person?.lastName }}</span>
      </h1>
    </div>

    <div class="info-box">
    <span *ngIf="case.outcome" class="info-item">
      <span class="material-icons"> {{ caseOutcomeIcons[case.outcome!] }} </span>
      <span>{{ case.outcome }}</span>
    </span>
      <span *ngIf="case.caseClassification" class="info-item">
      <span class="material-icons"> {{ caseClassificationIcons[case.caseClassification!] }} </span>
        {{ case.caseClassification! }}
    </span>
      <span *ngIf="case.disease" class="info-item">
      {{ case.disease }}
    </span>
      <span *ngIf="case.uuid" class="info-item">
      <strong i18n>ID: </strong>
        {{ case.uuid }}
    </span>
      <span *ngIf="case.reportingUser?.caption" class="info-item">
      <strong i18n>Reporting user: </strong>
        {{ case.reportingUser.caption }}
    </span>
    </div>

    <div class="tab-nav-header" [ngClass]="{'fixed': fixedHeader}">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let link of links"
          [routerLink]="link.link"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.title }}
        </a>
      </nav>
      <div class="tab-nav-header-actions">
        <app-form-actions [resource]="case"></app-form-actions>
      </div>
    </div>
  </div>

  <div class="case-content" [ngClass]="{'fixed': fixedHeader}">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</section>
