<section *ngIf="case" class="case-page">
  <div class="title-container">
    <h1>
      <a [routerLink]="['/cases/list']">
        <span class="material-icons"> west </span>
      </a>
      <span> {{ case.person?.firstName }} {{ case.person?.lastName }}</span>
    </h1>
  </div>
  <div class="info-box">
    <span *ngIf="case.outcome" class="info-item">
      <span class="material-icons"> {{ caseOutcomeIcons[case.outcome!] }} </span>
      <span>{{ case.outcome }}</span>
    </span>
    <span *ngIf="case.caseClassification" class="info-item">
      <span class="material-icons"> {{ caseClassificationIcons[case.caseClassification!] }} </span>
      {{ case.caseClassification! }}
    </span>
    <span *ngIf="case.disease" class="info-item">
      {{ case.disease }}
    </span>
    <span *ngIf="case.uuid" class="info-item">
      <strong i18n>ID: </strong>
      {{ case.uuid }}
    </span>
    <span *ngIf="case.reportingUser?.caption" class="info-item">
      <strong i18n>Reporting user: </strong>
      {{ case.reportingUser.caption }}
    </span>
  </div>

  <div class="tab-nav-header">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title }}
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <button mat-stroked-button color="primary" class="reset-btn" (click)="resetForm()">
        Discard
      </button>
      <button mat-flat-button color="primary" class="save-btn" (click)="saveForm()">Save</button>
    </div>
  </div>

  <router-outlet (activate)="onActivate($event)"></router-outlet>
</section>
