<section *ngIf="case">
  <header>
    <a [routerLink]="['/cases/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1>{{ case.person?.firstName }} {{ case.person?.lastName }}</h1>
  </header>

  <div class="person-information">
    <ul>
      <li *ngIf="case.outcome">
        <mat-icon class="material-icons-round">
          {{ caseOutcomeIcons[case.outcome!] }}
        </mat-icon>
        {{ case.outcome }}
      </li>
      <li *ngIf="case.caseClassification">
        <mat-icon class="material-icons-round">
          {{ caseClassificationIcons[case.caseClassification!] }}
        </mat-icon>
        {{ case.caseClassification! }}
      </li>
      <li *ngIf="case.disease">
        {{ case.disease }}
      </li>
      <li *ngIf="case.uuid">
        <strong i18n>ID: </strong>
        {{ case.uuid }}
      </li>
      <li *ngIf="case.reportingUser?.caption">
        <strong i18n>Reporting user: </strong>
        {{ case.reportingUser.caption }}
      </li>
    </ul>
  </div>

  <div class="tab-nav-header">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title | translate }}
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <app-form-actions [resource]="case"></app-form-actions>
    </div>
  </div>

  <div class="case-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</section>
