<mat-icon *ngIf="config.iconify" class="material-icons-round">
  {{ getIcon() }}
</mat-icon>

<ng-container [ngSwitch]="dataType">
  <ng-container *ngSwitchCase="'LOADING'">
    <div class="row-skeleton"></div>
  </ng-container>

  <ng-container *ngSwitchCase="'LINK'">
    <a mat-button color="primary" [routerLink]="dataLink" [innerHtml]="dataDisplay"></a>
  </ng-container>

  <ng-container *ngSwitchCase="'DATE'">
    <span [innerHtml]="dataDisplay | customDate: config.format?.pattern"></span>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <span [innerHtml]="dataDisplay"></span>
  </ng-container>
</ng-container>
