<div mat-dialog-title>
  <h1>{{ 'headingImportCases' | translate }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div class="step">
    <div class="iteration">{{ 'step' | translate }} 1</div>
    <div class="instructions">
      <h2>{{ 'headingDownloadImportGuide' | translate }}</h2>
      <p>{{ 'infoDownloadImportGuide' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'importDownloadImportGuide' | translate }}
        </a>
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'importDownloadDataDictionary' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'step' | translate }} 2</div>
    <div class="instructions">
      <h2>{{ 'headingDownloadImportTemplate' | translate }}</h2>
      <p>{{ 'infoDownloadCaseImportTemplate' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'importDownloadImportTemplate' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'step' | translate }} 3</div>
    <div class="instructions">
      <h2>{{ 'headingImportCsvFile' | translate }}</h2>
      <p>{{ 'infoImportCsvFile' | translate }}</p>
      <p class="file-upload">
        <label for="import">Choose file</label>
        <input type="file" id="import" name="import" accept=".csv" />
      </p>
      <p class="actions">
        <button mat-button color="primary" class="button-upload" (click)="importCases()">
          <mat-icon class="material-icons-round">file_upload_black</mat-icon>
          {{ 'importImportData' | translate }}
        </button>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'step' | translate }} 4</div>
    <div class="instructions">
      <h2>{{ 'headingDownloadErrorReport' | translate }}</h2>
      <p>{{ 'infoDownloadErrorReport' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'importDownloadErrorReport' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
