<app-table
  [filterFormId]="formId"
  [resourceService]="countryService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  rowStyleData="subcontinent.caption"
  [showTotal]="true"
  [isEditable]="true"
  showTotalContext="{{ 'strings.entityCountries' | translate }}"
  (editItem)="openEditCountryModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddCountryModal()">
      {{ 'actionAddNewCountry' | translate }}
    </button>
  </div>
</app-table>
