<div class="page-header">
  <h1 class="page-header-title">
    {{ 'captions.View.contacts' | translate }}
  </h1>
  <div class="page-header-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddContactModal()">
      {{ 'captions.contactCreateNew' | translate }}
    </button>
  </div>
</div>

<app-table
  [resourceService]="contactService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [saveConfigKey]="configKey"
></app-table>
