<app-filters [topGap]="headerHeight">
  <app-contact-filters [formId]="formIdFilters" [data]="filtersData" filters></app-contact-filters>
  <ng-container list>
    <div class="page-header">
      <h1 class="page-header-title">
        <ng-container *ngIf="tableView !== views.FOLLOW_UP">
          {{ 'captions.View.contacts' | translate }}
        </ng-container>
        <ng-container *ngIf="tableView === views.FOLLOW_UP">
          {{ 'contactFollowupVisitsView' | translate }}
        </ng-container>
        <span *ngIf="tableView === views.DETAILED">
          {{ 'captions.contactDetailedView' | translate }}
        </span>
      </h1>
      <div *ngIf="tableView !== views.FOLLOW_UP" class="page-header-actions">
        <button class="add-btn" mat-flat-button color="primary" (click)="openAddContactModal()">
          {{ 'captions.contactCreateNew' | translate }}
        </button>
      </div>
    </div>
    <app-table
      *ngIf="showTable"
      [filterFormId]="formIdFilters"
      [resourceService]="$service"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="tableView !== views.FOLLOW_UP"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      [viewOptions]="actionsViewOptions"
      (viewOptionEvent)="changeOptionView($event)"
      [preSetFilters]="presetFilters"
      [showLegend]="!!legend?.length"
      showTotalContext="{{ 'strings.entityContacts' | translate }}"
    >
      <app-legend *ngIf="legend?.length" [data]="legend" class="table-legend"></app-legend>
      <app-period-picker
        *ngIf="tableView === views.FOLLOW_UP"
        [from]="from"
        [to]="to"
        class="table-filters"
      ></app-period-picker>
    </app-table>
  </ng-container>
</app-filters>
