@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.card-hospitalization {
  padding-top: 10px;
  border-top: solid 2px mat.get-color-from-palette($sormas-alert, 100);
  margin-top: -4px;
  .title {
    font-size: 14px;
    color: mat.get-color-from-palette($sormas-accent, 800);
  }
  text-align: center;
  .timeline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .date {
      &:first-child {
        margin-right: 10px;
      }
    }
    .isolation {
      text-align: center;
      .text {
        font-size: 10px;
        color: mat.get-color-from-palette($sormas-accent, 400);
        margin-bottom: 0;
      }
      .value {
        font-size: 14px;
        font-weight: 500;
        &.value-yes {
          color: mat.get-color-from-palette($sormas-warning, 800);
        }
        &.value-no {
          color: mat.get-color-from-palette($sormas-primary, 400);
        }
        &.value-unknown {
          color: mat.get-color-from-palette($sormas-accent, 500);
        }
      }
    }
  }

  .description {
    font-size: 12px;
    color: mat.get-color-from-palette($sormas-accent, 700);
    margin-top: 10px;
  }

  .address {
    width: 100%;
    font-size: 10px;
    line-height: 1rem;
    color: mat.get-color-from-palette($sormas-accent, 500);
  }

  .mat-icon {
    color: mat.get-color-from-palette($sormas-accent, 300);
    font-size: 14px;
  }
}
