<div mat-dialog-title>
  <h1>{{ 'strings.headingEditAssignee' | translate }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
    <button mat-stroked-button mat-dialog-close color="primary">
      {{ 'captions.actionDiscard' | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="save()">
      {{ 'captions.actionSave' | translate }}
    </button>
  </div>
</div>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>{{ 'captions.ExternalMessage.assignee' | translate }}</mat-label>
      <mat-select disableOptionCentering formControlName="assignee">
        <mat-option *ngFor="let user of users" [value]="user.uuid">
          {{ user.userName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="assignSelf()">
      {{ 'captions.assignToMe' | translate }}
    </button>
  </form>
</div>
