<mat-card-actions>
  <ng-container *ngFor="let action of actions" [ngSwitch]="action.presentation">
    <button
      *ngSwitchCase="'button'"
      mat-icon-button
      color="primary"
      [ngClass]="['small', action.type, action.position?.includes('LEFT') ? 'left' : 'right']"
      (click)="announceAction($event, action.type)"
    >
      <mat-icon class="material-icons-round">{{ getIcon(action.type) }}</mat-icon>
    </button>
    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      color="primary"
      [ngClass]="['small', action.position?.includes('LEFT') ? 'left' : 'right']"
      (change)="announceAction($event, action.type)"
    ></mat-checkbox>
  </ng-container>
</mat-card-actions>
