@use '/src/variables.scss' as *;

:host {
  display: block;
  min-height: 100%;
  background-image: url('/assets/img/background-about.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  padding: 48px;
}

h1 {
  text-align: center;
}

.description {
  max-width: 670px;
  margin: 32px auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.info {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, 296px);
  // grid-gap: 24px;
  gap: 24px;
  text-align: center;
}

// .info {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 24px;
//   max-width: 720px;
// }

.mat-card {
  @include mat-elevation(3);

  width: 296px;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .info {
    // grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    // max-width: unset;
  }
}
