<section>
  <h1><img src="/assets/img/logo-sormas.png" alt="Sormas" /></h1>

  <div class="description" [innerHTML]="'descriptionAboutUs' | translate"></div>

  <div class="info">
    <mat-card>
      <mat-card-title>About</mat-card-title>
      <mat-card-content>
        <p>Sormas pro by sormas</p>
        <p>Version: 1.63.0</p>
        <nav>
          <ul>
            <li><a href="#" target="_blank">What's new?</a></li>
            <li><a href="#" target="_blank">SORMAS Github</a></li>
            <li><a href="#" target="_blank">Full changelog</a></li>
            <li><a href="#" target="_blank">https://sormas.org</a></li>
          </ul>
        </nav>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Additional info</mat-card-title>
      <mat-card-content>
        <p>Hotline: <span>+01 2345 67890</span></p>
        <p>Mo-Fr from 8:00 to 17:00</p>
        <nav>
          <ul>
            <li><a href="#" target="_blank">Contact support</a></li>
            <li><a href="#" target="_blank">Give feedback</a></li>
          </ul>
        </nav>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Documents</mat-card-title>
      <mat-card-content>
        <nav>
          <ul>
            <li><a href="#" target="_blank">Case classification rules (HTML)</a></li>
            <li><a href="#" target="_blank">Data dictionary (XLSX)</a></li>
          </ul>
        </nav>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Copyright</mat-card-title>
      <mat-card-content>
        <p>Geo data provided by:</p>
        <p>Example geocoding service</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
