@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.mat-dialog-content {
  padding: 24px 64px;
  font-size: 14px;
  background-color: $white;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-primary, 400);
  text-transform: uppercase;
}
