@use '@angular/material' as mat;
@use '../../../variables.scss' as *;

section {
  min-height: 100%;
  background: map-get($sormas-accent, 50);
}

.page-content {
  position: relative;
  z-index: 1;
}

header {
  position: sticky;
  z-index: 2;
  top: 68px;
  display: flex;
  padding: 48px 24px 24px;
  border-bottom: 2px solid map-get($sormas-accent, 200);
  background: $white;

  .mat-icon-button {
    margin-right: 16px;
    margin-left: -8px;
  }

  .mat-icon {
    font-size: 32px;
  }
}

h1 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;

  small {
    font-size: 20px;
  }
}

.person-information {
  padding: 8px 24px;
  margin: 0 24px 16px;
  background-color: map-get($sormas-accent, 50);
  border-radius: 4px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    height: 32px;
    padding: 0 16px;
    border-right: solid 1px map-get($sormas-accent, 200);
    margin: 0;
    line-height: 32px;

    .mat-icon {
      position: relative;
      top: 4px;
      font-size: 18px;
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.tab-nav-header {
  position: sticky;
  z-index: 3;
  top: 164px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: solid 2px map-get($sormas-accent, 200);
  background-color: $white;
}

.mat-tab-header {
  min-width: 0;
  flex: 1;
}

.tab-nav-header-actions {
  min-width: 248px;
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
}

.events-title {
  flex: 0 0 176px;
  padding: 29px 24px;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
}

.events-list {
  flex: 1 1 auto;
  padding: 24px;

  .toggle-table-list-icon {
    color: mat.get-color-from-palette($sormas-primary, 600);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}

.events-actions {
  margin-bottom: 24px;
}

.events {
  display: flex;
  justify-content: stretch;
  margin: 10px 0;

  &:hover,
  &:focus {
    background-color: $white;

    .events-list {
      @include mat.elevation(6);
    }
  }
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .events-title {
    flex: 0 0 248px;
  }
}
