<section *ngIf="eventGroup">
  <header>
    <a [routerLink]="['/events/event-groups/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1>{{ eventGroup?.name }}</h1>
    <div class="tab-nav-header-actions">
      <app-form-actions [formId]="formId" [resource]="eventGroup"></app-form-actions>
    </div>
  </header>

  <div class="page-content">
    <app-dynamic-form
      *ngIf="myFormElements.length"
      [formId]="formId"
      [formElements]="myFormElements"
      [resourceService]="eventGroupService"
    ></app-dynamic-form>

    <section class="events">
      <h2 class="events-title">
        {{ 'strings.entityEvents' | translate }}
      </h2>
      <mat-card class="events-list">
        <p class="events-actions">
          <button (click)="onLinkEvent()" mat-stroked-button color="primary">
            {{ 'captions.linkEvent' | translate }}
          </button>
        </p>
        <mat-icon
          *ngIf="viewMode === 'list'"
          class="material-icons-round toggle-table-list-icon"
          (click)="toggleView('table')"
        >view_list_black</mat-icon>
        <mat-icon
          *ngIf="viewMode === 'table'"
          class="material-icons-round toggle-table-list-icon"
          (click)="toggleView('list')"
        >grid_view_black</mat-icon>
        <app-loader [show]="loading"></app-loader>
        <app-card-list
          *ngIf="events && events.length && viewMode === 'list'"
          [data]="events"
          [cardWidth]="200"
          [initialPageSize]="6"
          [cardType]="'case_event'"
          [cardEdit]="true"
          [cardUnlink]="true"
          [cardUnlinkPosition]="'BOTTOMLEFT'"
          cardTitleKey="eventTitle"
          (unlinkCard)="unlinkEvent($event)"
          (editCard)="editEvent($event)"
        ></app-card-list>
        <app-table
          *ngIf="showTable && viewMode === 'table'"
          [filterFormId]="formIdFilters"
          [resourceService]="eventService"
          [tableColumns]="defaultColumns"
          [isSortable]="false"
          [isSelectable]="false"
          [isHeaderSticky]="true"
          [fullHeight]="true"
          [preSetFilters]="presetFilters"
          [appearance]="'minimal'"
          [isViewable]="true"
          [viewableIcon]="'link_off'"
          (viewItem)="unlinkEvent($event)"
        ></app-table>
      </mat-card>
    </section>
  </div>
</section>
