<app-table
  [filterFormId]="formId"
  [resourceService]="continentService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  rowStyleData="defaultName"
  [showTotal]="true"
  [isEditable]="true"
  showTotalContext="{{ 'captions.View.configuration.continents.short' | translate }}"
  (editItem)="openEditContinentModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddContinentModal()">
      {{ 'actionAddNewContinent' | translate }}
    </button>
  </div>
</app-table>
