<div class="table-responsive mat-elevation-z8">
  <cdk-virtual-scroll-viewport [tvsItemSize]="57"
                               (scrolledIndexChange)="scrolledIndexChange($event)"
                               class="wrapper mat-elevation-z2">
    <mat-table #table [dataSource]="dataSource">
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.dataKey">
        <mat-header-cell *matHeaderCellDef>
          <div class="header-title">{{ tableColumn.name }}</div>
          <div class="header-icon" *ngIf="tableColumn.isSortable">
            <mat-icon
              (click)="
                sorting.ascending ? sort(tableColumn.dataKey, false) : sort(tableColumn.dataKey, true)
              "
              >{{
                !sorting.ascending && sorting.field === tableColumn.dataKey
                  ? 'arrow_drop_down'
                  : 'arrow_drop_up'
              }}</mat-icon
            >
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox
            *ngIf="tableColumn === tableColumns[0]"
            color="primary"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)"
          ></mat-checkbox>
          <span
            (click)="
              tableColumn === tableColumns[0] ? onCaseSelect(element[tableColumn.dataKey]) : null
            "
            (keyup.enter)="({})"
          >
            {{ element[tableColumn.dataKey] }}
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnKeys; sticky: true"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: columnKeys"
        [ngClass]="selection.isSelected(row) ? 'row-selected' : ''"
        (click)="selection.toggle(row)"
      >
        <div class="row-container"></div>
      </mat-row>
    </mat-table>
  </cdk-virtual-scroll-viewport>

<!--  <cdk-virtual-scroll-viewport [tvsItemSize]="17"-->
<!--                               (scrolledIndexChange)="scrolledIndexChange($event)"-->
<!--                               class="wrapper mat-elevation-z2">-->

<!--    <table mat-table [dataSource]="dataSource">-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

<!--      <ng-container matColumnDef="id">-->
<!--        <th mat-header-cell *matHeaderCellDef>No.</th>-->
<!--        <td mat-cell *matCellDef="let element">{{element.id}}</td>-->
<!--      </ng-container>-->

<!--      <ng-container matColumnDef="name">-->
<!--        <th mat-header-cell *matHeaderCellDef>Name</th>-->
<!--        <td mat-cell *matCellDef="let element">{{element.name}}</td>-->
<!--      </ng-container>-->

<!--    </table>-->

<!--  </cdk-virtual-scroll-viewport>-->
</div>
