@use '../../../variables.scss' as *;

.table-responsive {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: none;
  overflow-x: auto;
  .mat-table {
    display: table;
    width: 100%;
    max-width: 100%;
    margin: 0px;
    margin-bottom: 1rem;
    border-collapse: collapse;
  }
  .mat-header-cell {
    border-right: solid 1px map-get($sormas-accent, 300);
  }

  .mat-cell {
    .mat-checkbox {
      padding-right: 9px;
      padding-left: 9px;
    }
    &:first-child {
      color: map-get($sormas-primary, 700);
      font-weight: 500;
      span {
        cursor: pointer;
      }
    }
  }

  .mat-cell,
  .mat-header-cell {
    display: table-cell;
    overflow: hidden;
    width: auto;
    padding: 0px 16px;
    background-color: map-get($sormas-accent, 50);
    line-break: unset;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: initial;

    .header-title {
      display: inline-flex;
      color: map-get($sormas-accent, 800);
      font-size: 16px;
    }
    .header-icon {
      display: inline-flex;
      vertical-align: bottom;
      visibility: hidden;

      .mat-icon {
        position: relative;
        cursor: pointer;
      }
    }
    &:hover,
    :focus {
      .header-icon {
        visibility: visible;
      }
    }
  }
  .row-selected {
    .mat-cell {
      background-color: map-get($sormas-primary, 50) !important;
    }
  }

  .mat-row {
    position: relative;
    z-index: 1;
    display: table-row-group;
    border-bottom: solid 2px map-get($sormas-accent, 100);
    &:hover,
    :focus {
      z-index: 2;
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12),
        0 1px 8px 0 rgba(0, 0, 0, 0.2);
      .mat-cell {
        background-color: $white;
      }
    }
    &:nth-child(2n + 1) {
      .mat-cell {
        background-color: $white;
      }
    }
  }
  .mat-header-row {
    display: table-row;
    border-bottom: solid 4px map-get($sormas-accent, 800);
  }
}
