<div class="example-container mat-elevation-z8">
  <button style="margin: 15px" (click)="sort()">Sort me</button>
  <mat-table #table [dataSource]="tableData" (scroll)="onTableScroll($event)">
    <ng-container *ngFor="let tableColumn of tableColumns;" [matColumnDef]="tableColumn">
      <mat-header-cell *matHeaderCellDef> {{ tableColumn }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[tableColumn]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
    <mat-row (click)="onSelectRow(row)" *matRowDef="let row; columns: tableColumns;"></mat-row>
  </mat-table>
</div>
