<app-table
  [filterFormId]="formId"
  [resourceService]="facilityService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  rowStyleData="subcontinent.caption"
  [showTotal]="true"
  [isEditable]="true"
  showTotalContext="{{ 'strings.entityFacilities' | translate }}"
  (editItem)="openEditFacilityModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddFacilityModal()">
      {{ 'actionAddNewFacility' | translate }}
    </button>
    <button mat-stroked-button color="primary" class="import-btn">
      {{ 'captions.actionImport' | translate }}
    </button>
    <app-dropdown-menu buttonText="{{ 'captions.moreActions' | translate }}" class="export-dropdown">
      <app-action-menu
        [config]="actionsMore"
        (action)="onActionSelected($event)"
      ></app-action-menu>
    </app-dropdown-menu>
  </div>
</app-table>
