@use '/src/variables.scss' as *;

.dashboard-surveillance-wrapper {
  display: grid;
  padding: 24px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'filter filter'
    'disease_burden disease_burden'
    'disease_menu disease_menu'
    'cases cases'
    'events results'
    'epi_curve epi_curve'
    'map map';

  &.expand-map {
    grid-template-areas:
      'filter filter'
      'disease_menu disease_menu'
      'map map';
  }

  &.expand-epi-curve {
    grid-template-areas:
      'filter filter'
      'disease_menu disease_menu'
      'epi_curve epi_curve';
  }
}

.dashboard-surveillance-filters {
  grid-area: filter;
}

.dashboard-surveillance-disease-burden {
  grid-area: disease_burden;
}

.dashboard-surveillance-disease-menu {
  grid-area: disease_menu;
  max-width: 100%;
  padding-top: 0;
}

.dashboard-surveillance-cases {
  grid-area: cases;
}

.dashboard-surveillance-events {
  grid-area: events;
}

.dashboard-surveillance-results {
  grid-area: results;
}

.dashboard-surveillance-epi-curve {
  grid-area: epi_curve;
  overflow-x: hidden;
}

.dashboard-surveillance-map {
  grid-area: map;
}

[hidden] {
  display: none !important;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .dashboard-surveillance-wrapper {
    grid-template-columns: 1.91fr 1fr 1fr;
    grid-template-areas:
      'filter filter filter'
      'disease_burden disease_burden disease_burden'
      'disease_menu disease_menu disease_menu'
      'cases events results'
      'epi_curve map map';

    &.expand-map {
      grid-template-areas:
        'filter filter filter'
        'disease_menu disease_menu disease_menu'
        'map map map';
    }

    &.expand-epi-curve {
      grid-template-areas:
        'filter filter filter'
        'disease_menu disease_menu disease_menu'
        'epi_curve epi_curve epi_curve';
    }
  }
}
