@use '/src/variables.scss' as *;

.dashboard-surveillance-wrapper {
  padding: 24px;

  .pt-0 {
    padding-top: 0;
  }

  .mat-card {
    margin-bottom: 16px;
  }

  .width-40-mobile-100,
  .width-50,
  .width-50-mobile-100,
  .width-60-mobile-100 {
    display: inline-block;
    vertical-align: top;
  }
  .width-40-mobile-100 {
    width: 40%;
  }
  .width-50,
  .width-50-mobile-100 {
    width: 50%;
  }
  .width-60-mobile-100 {
    width: 60%;
  }

  .mr-16,
  .mr-16-mobile-0 {
    margin-right: 16px;
  }
}

.epi-visuals {
  display: flex;
  gap: 16px;

  .epi-curve,
  .map {
    flex: 1 1 50%;
    max-width: calc(50% - 8px);
  }
}

[hidden] {
  display: none !important;
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .dashboard-surveillance-wrapper {
    .width-40-mobile-100,
    .width-50-mobile-100,
    .width-60-mobile-100 {
      width: 100%;
    }

    .mr-16-mobile-0 {
      margin-right: 0;
    }
  }

  .epi-visuals {
    display: block;
  }
}
