<div
  class="dashboard-surveillance-wrapper"
  [ngClass]="{
    'expand-map': hideEpiCurve,
    'expand-epi-curve': hideMap
  }"
>
  <mat-card class="dashboard-surveillance-filters">
    <app-dashboard-filters [showDisease]="false"></app-dashboard-filters>
  </mat-card>

  <app-dashboard-disease-burden
    [hidden]="hideDiseaseBurden"
    class="dashboard-surveillance-disease-burden"
  ></app-dashboard-disease-burden>

  <mat-card class="dashboard-surveillance-disease-menu">
    <app-dashboard-disease-menu></app-dashboard-disease-menu>
  </mat-card>

  <mat-card [hidden]="hideNewData" class="dashboard-surveillance-cases">
    <app-dashboard-new-cases></app-dashboard-new-cases>
  </mat-card>

  <mat-card [hidden]="hideNewData" class="dashboard-surveillance-events">
    <app-dashboard-new-events></app-dashboard-new-events>
  </mat-card>

  <mat-card [hidden]="hideNewData" class="dashboard-surveillance-results">
    <app-dashboard-test-results></app-dashboard-test-results>
  </mat-card>

  <mat-card [hidden]="hideEpiCurve" class="dashboard-surveillance-epi-curve">
    <app-dashboard-epidemiological-curve
      [type]="dashboardEpidemiologicalCurveType.CASE"
      (epiCurveViewUpdate)="onEpiCurveViewChange($event)"
    ></app-dashboard-epidemiological-curve>
  </mat-card>

  <mat-card [hidden]="hideMap" class="dashboard-surveillance-map">
    <app-dashboard-map
      [mapType]="MapType.Surveillance"
      (mapViewUpdate)="onMapViewChange($event)"
    ></app-dashboard-map>
  </mat-card>
</div>
