<div class="dashboard-surveillance-wrapper">
  <app-dashboard-filters></app-dashboard-filters>
  <app-dashboard-disease-overview></app-dashboard-disease-overview>
  <app-dashboard-difference-cases></app-dashboard-difference-cases>
  <app-dashboard-disease-menu></app-dashboard-disease-menu>
  <app-dashboard-new-cases></app-dashboard-new-cases>
  <app-dashboard-new-events></app-dashboard-new-events>
  <app-dashboard-test-results></app-dashboard-test-results>
  <app-dashboard-epidemiological-curve></app-dashboard-epidemiological-curve>
  <app-dashboard-case-map></app-dashboard-case-map>
</div>
