<div class="follow-up-actions">
  <button *ngIf="allowResume()" mat-stroked-button color="primary" (click)="resumeFollowUp()">
    Resume follow-up
  </button>

  <button
    *ngIf="allowCancel() || allowLost()"
    mat-stroked-button
    color="primary"
    [matMenuTriggerFor]="menu"
  >
    Follow-up actions
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button *ngIf="allowCancel()" mat-menu-item (click)="cancelFollowUp()">Cancel follow-up</button>
    <button *ngIf="allowLost()" mat-menu-item (click)="lostFollowUp()">Lost follow-up</button>
  </mat-menu>
</div>
