@use '/src/variables.scss' as *;

.step {
  display: flex;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.iteration {
  flex: 0 0 96px;
  padding: 24px 24px 0 0;
  line-height: 24px;
  text-align: right;
}

.instructions {
  @include mat-elevation(1);

  flex: 1 1 100%;
  padding: 24px;
  background-color: $white;
  border-radius: 5px;
}

h2 {
  margin-bottom: 8px;
  color: map-get($sormas-accent, 500);
  font-size: 20px;
  line-height: 24px;
}

.actions {
  margin: 0;
}

.button-download {
  padding: 0;
  margin-right: 32px;

  .mat-icon {
    width: 14px;
    height: 14px;
    font-size: 14px;
  }
}

.button-upload {
  padding: 0;
  margin-right: 32px;

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.file-upload {
  margin: 16px 0;

  label {
    margin-right: 24px;
    color: map-get($sormas-primary, 700);
    cursor: pointer;
    font-size: 12px;
  }

  input[type='file']::file-selector-button {
    display: none;
  }
}
