<app-collapsable-box
  boxTitle="{{ config.title | translate }}"
  actionText="{{ config.action | translate }}"
  actionLink="{{ actionLink }}"
  [actionLinkParams]="actionLinkParams"
  [expanded]="true"
  appearance="section"
  iconExpand="arrow_drop_down"
  iconCollapse="arrow_drop_up"
  (action)="create()"
  [showGroupLink]="showGroupLink"
>
  <app-card-list
    *ngIf="items.length"
    [data]="items"
    [cardWidth]="cardWidth || 200"
    [initialPageSize]="initialSize"
    [cardType]="config.cardType"
    [cardTitleKey]="config.cardTitleKey"
    [titleDateFormat]="config.titleDateFormat"
    [cardStatusKey]="config.cardStatusKey"
    [cardAppearance]="config.appearance"
    [cardEdit]="true"
    [showCheckBoxFilter]="showCheckBoxFilter"
    [cardCollapse]="!!cardCollapse"
    [cardStatus]="config.cardStatus || ''"
    [titleUppercase]="config.titleUppercase"
  ></app-card-list>
</app-collapsable-box>
