<app-filters [topGap]="headerHeight">
  <app-event-filters filters></app-event-filters>
  <ng-container list>
    <div class="page-header">
      <h1 class="page-header-title">
        {{ 'captions.View.events' | translate }}
      </h1>
      <div class="page-header-actions">
        <button mat-flat-button color="primary" (click)="openAddEventModal()">
          {{ 'captions.eventNewEvent' | translate }}
        </button>
      </div>
    </div>
    <app-table
      [resourceService]="eventService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      [bulkEditOptions]="actionsBulkEdit"
      [preSetFilters]="helperService.setQueryParamsInFilters(routeParams)"
    ></app-table>
  </ng-container>
</app-filters>
