<div class="page-header">
  <h1 class="page-header-title">
    {{ 'View.events' | translate }}
  </h1>
  <div class="page-header-actions">
    <button mat-flat-button color="primary" (click)="openAddEventModal()">
      {{ 'eventNewEvent' | translate }}
    </button>
  </div>
</div>

<app-table
  [resourceService]="eventService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [saveConfigKey]="configKey"
  [bulkEditOptions]="actionsBulkEdit"
></app-table>
