<div class="event-participants-wrapper">
  <app-filters [fixed]="false">
    <app-event-participants-filters
      filters
      [formId]="formId"
      [data]="filtersData"
    ></app-event-participants-filters>
    <ng-container list>
      <div class="table-wrapper">
        <app-table
          [filterFormId]="formId"
          [resourceService]="eventParticipantService"
          [tableColumns]="defaultColumns"
          [isSortable]="true"
          [isSelectable]="true"
          [isHeaderSticky]="true"
          [fullHeight]="true"
          [saveConfigKey]="configKey"
          [preSetFilters]="presetFilters"
          [bulkEditOptions]="actionsBulkEdit"
        ></app-table>
      </div>
    </ng-container>
  </app-filters>
</div>
