<mat-card
  [style.width.px]="width"
  [style.height.px]="height"
  [ngClass]="[
    appearance ? 'appearance-' + appearance : '',
    status ? 'status-' + status : '',
    selected ? 'selected' : '',
    type ? 'type-' + type : ''
  ]"
>
  <app-card-actions
    *ngIf="!collapsed && actionsTop.length"
    [actions]="actionsTop"
    (actionSelected)="processAction($event)"
  ></app-card-actions>

  <mat-card-header *ngIf="title || collapse" [ngClass]="getClassCollapse()">
    <mat-card-title *ngIf="title" [ngClass]="titlePosition?.toLowerCase() || ''">
      <span [ngClass]="titleUppercase ? 'uppercase' : ''">
        {{ title | humanize | titlecase }}
      </span>
    </mat-card-title>
    <button *ngIf="collapse" mat-icon-button (click)="toggleCollapse()">
      <mat-icon class="material-icons-round">{{ collapsed ? 'add' : 'remove' }}</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content *ngIf="!collapsed" [ngSwitch]="type">
    <app-card-address *ngSwitchCase="'address'" [data]="data"></app-card-address>
    <app-card-case-task *ngSwitchCase="'case_task'" [data]="data"></app-card-case-task>
    <app-card-case-event *ngSwitchCase="'case_event'" [data]="data"></app-card-case-event>
    <app-card-person-case *ngSwitchCase="'person_case'" [data]="data"></app-card-person-case>
    <app-card-person-contact
      *ngSwitchCase="'person_contact'"
      [data]="data"
    ></app-card-person-contact>
    <app-card-person-event *ngSwitchCase="'person_event'" [data]="data"></app-card-person-event>
    <app-card-sample *ngSwitchCase="'sample'" [data]="data"></app-card-sample>
    <app-card-epid-data *ngSwitchCase="'epid_data'" [data]="data"></app-card-epid-data>
    <app-card-download *ngSwitchCase="'download'" [data]="data"></app-card-download>
    <app-card-treatments *ngSwitchCase="'therapy_treatments'" [data]="data"></app-card-treatments>
    <app-card-prescriptions
      *ngSwitchCase="'therapy_prescriptions'"
      [data]="data"
    ></app-card-prescriptions>
    <app-card-contact *ngSwitchCase="'person_contact'" [data]="data"></app-card-contact>
    <app-card-event-actions *ngSwitchCase="'event_actions'" [data]="data"></app-card-event-actions>
    <app-card-attachments *ngSwitchCase="'attachments'" [data]="data"></app-card-attachments>
    <ng-content *ngSwitchDefault></ng-content>
  </mat-card-content>

  <app-card-actions
    *ngIf="!collapsed && actionsBottom.length"
    [actions]="actionsBottom"
    (actionSelected)="processAction($event)"
  ></app-card-actions>
</mat-card>
