<div class="filters">
  <h2 class="filters-header">{{ 'strings.headingFilters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <mat-form-field
      id="caseCodeIdLike"
      appearance="outline"
      floatLabel="always"
      class="search-field"
    >
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'strings.promptSamplesSearchField' | translate }}"
        formControlName="caseCodeIdLike"
        (debounce)="onFormChange()"
      />
    </mat-form-field>

    <app-collapsable-box boxTitle="{{ 'captions.Sample' | translate }}">
      <mat-radio-group name="sample" formControlName="sample" (change)="onFormChange()">
        <mat-radio-button value="ALL" color="primary">
          {{ 'captions.sampleAllSamples' | translate }}
        </mat-radio-button>
        <mat-radio-button value="NOT_SHIPPED" color="primary">
          {{ 'captions.sampleNotShipped' | translate }}
        </mat-radio-button>
        <mat-radio-button value="SHIPPED" color="primary">
          {{ 'captions.sampleShipped' | translate }}
        </mat-radio-button>
        <mat-radio-button value="RECEIVED" color="primary">
          {{ 'captions.sampleReceived' | translate }}
        </mat-radio-button>
        <mat-radio-button value="REFERRED_TO_OTHER_LAB" color="primary">
          {{ 'captions.sampleReferred' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'Sample.status' | translate }}">
      <mat-radio-group name="status" formControlName="status" (change)="onFormChange()">
        <mat-radio-button value="active" color="primary">
          {{ 'captions.sampleActiveSamples' | translate }}
        </mat-radio-button>
        <mat-radio-button value="archived" color="primary">
          {{ 'captions.sampleArchivedSamples' | translate }}
        </mat-radio-button>
        <mat-radio-button value="all" color="primary">
          {{ 'captions.sampleAllSamples' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.sampleAssociationType' | translate }}">
      <mat-radio-group name="sampleType" formControlName="sampleType" (change)="onFormChange()">
        <mat-radio-button value="ALL" color="primary">
          {{ 'enum.SampleAssociationType.ALL' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CASE" color="primary">
          {{ 'enum.SampleAssociationType.CASE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CONTACT" color="primary">
          {{ 'enum.SampleAssociationType.CONTACT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="EVENT" color="primary">
          {{ 'enum.SampleAssociationType.EVENT_PARTICIPANT' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingMedicalAspects' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="testResults"
          placeholder="{{ 'captions.Sample.testResult' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="specimenCondition"
          placeholder="{{ 'captions.Sample.specimenCondition' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="caseClassification"
          placeholder="{{ 'captions.Sample.caseClassification' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="disease"
          placeholder="{{ 'captions.Sample.diseaseShort' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingAdminAspect' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="region"
          placeholder="{{ 'Sample.responsibleRegion' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="district"
          placeholder="{{ 'Sample.responsibleDistrict' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="laboratory"
          placeholder="{{ 'captions.Sample.lab' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingDateFilter' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="dateFilter"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'enum.DateFilterOption.DATE' | translate }}"
        >
          <mat-option value="byDate"> {{ 'enum.DateFilterOption.DATE' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        id="start-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker1.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker1"
          size="5"
          formControlName="startDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'Sample.sampleForm' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="due-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker2.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker2"
          size="5"
          formControlName="dueDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'to' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
