<mat-expansion-panel
  #panel
  [hideToggle]="true"
  [expanded]="expanded"
  [ngClass]="['collapsable-box', appearance]"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span>{{ boxTitle }}</span>
      <mat-icon class="material-icons-round">
        {{ panel.expanded ? iconCollapse : iconExpand }}
      </mat-icon>
    </mat-panel-title>
    <mat-panel-description *ngIf="actionText && !showGroupLink">
      <button mat-button color="primary" (click)="doAction($event)">{{ actionText }}</button>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
  <mat-panel-description *ngIf="actionText && showGroupLink">
    <a mat-button color="primary" [routerLink]="[actionLink]" [queryParams]="actionLinkParams">{{
      actionText
    }}</a>
  </mat-panel-description>
</mat-expansion-panel>
