@use '../../../variables.scss' as *;

.collapsable-box {
  padding: 24px 16px;
  border: solid 1px map-get($sormas-accent, 200);
  margin: 24px 0;
  box-shadow: none;
  .box-header {
    position: relative;
    width: 100%;

    .box-title {
      display: block;
      width: auto;
      padding-left: 8px;
      float: left;
      font-size: 14px;
    }
    .box-icon {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
  }
  .box-content {
    margin: 24px 8px -8px;
  }
}
