@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

:host {
  text-align: center;
}

.card-vaccination {
  .date {
    font-size: 10px;
    color: mat.get-color-from-palette($sormas-accent, 400);
    margin: 0;
    float: right;
  }

  .header {
    border-bottom: 2px solid mat.get-color-from-palette($sormas-alert, 100);
    margin-bottom: 10px;

    .vaccine-name {
      font-size: 16px;
      text-align: left;
      color: mat.get-color-from-palette($sormas-accent, 800);
      font-weight: 500;
    }
  }

  .vaccine-manufacturer {
    text-align: center;
    color: mat.get-color-from-palette($sormas-accent, 900);
    font-weight: 500;
  }

  .middle {
    overflow: hidden;

    .left {
      float: left;
      .vaccine-type {
        color: mat.get-color-from-palette($sormas-primary, A700);
        margin: 0;
      }
      .vaccine-type-label {
        font-size: 10px;
        color: mat.get-color-from-palette($sormas-accent, 400);
        margin: 0;
        text-align: left;
      }
    }

    .right {
      float: right;

      > p {
        font-size: 10px;
        color: mat.get-color-from-palette($sormas-accent, 400);
      }

      .dose-number {
        width: 25px;
        height: 25px;
        color: $white;
        background: mat.get-color-from-palette($sormas-primary, 500);
        font-size: 16px;
        padding-top: 3px;
        border-radius: 5px;
      }
    }
  }
}
