@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.actions {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;

  & > * {
    margin-right: 16px;
  }
}

.table-filters {
  margin-left: auto;
}

table {
  width: 100%;

  td.bold {
    font-weight: 500;
  }

  .column-edit,
  .column-view,
  .column-select {
    border-left: 0;

    &:not(:first-child) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  th.spacer-right,
  td.spacer-right {
    border-left: 0;
    padding: 0;
    width: 100%;
  }
}

.list-info {
  padding: 0 24px 16px;
  color: map-get($sormas-accent, 500);
  font-size: 12px;
  text-align: right;
}

tr.additional-header-row {
  height: auto;
}

th.additional-header {
  border-bottom: none;
  color: mat.get-color-from-palette($sormas-primary, 600);
  text-transform: uppercase;
}

.button-action {
  padding: 0;
  line-height: unset;

  .mat-icon {
    font-size: 18px;
  }

  & + & {
    margin-left: 16px;
  }

  &.button-accept {
    color: mat.get-color-from-palette($sormas-primary, 700);

    &:hover,
    &:focus {
      color: mat.get-color-from-palette($sormas-primary, 800);
    }
  }

  &.button-reject {
    color: mat.get-color-from-palette($sormas-alert, 400);

    &:hover,
    &:focus {
      color: mat.get-color-from-palette($sormas-alert, 700);
    }
  }
}

.footer-legend {
  text-align: left;
}

.legend {
  width: fit-content;
  position: sticky;
  left: 0;
}

.minimal {
  th.mat-header-cell {
    border-bottom-color: map-get($sormas-accent, 200);
    border-left-width: 0;
    background-color: $white;
  }

  tr.mat-row td.mat-cell {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: unset;
    vertical-align: top;

    &:first-of-type {
      padding-left: 24px;
    }

    &.column-edit,
    &.column-view,
    &.column-select {
      background-color: $white;
    }
  }

  tr.mat-row.row-selected td.mat-cell {
    background-color: map-get($sormas-primary, 50);
  }
}

.no-scroll {
  overflow: hidden;
}

.cell-actions {
  white-space: nowrap;
}
