@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.actions {
  display: flex;
  padding: 24px;

  & > * {
    margin-right: 16px;
  }
}

table {
  width: 100%;

  td.bold {
    font-weight: 500;
  }

  .disabled {
    color: mat.get-color-from-palette($sormas-accent, 600);
  }
}

.mat-cell {
  height: 48px;
}

.list-info {
  padding: 0 24px 16px;
  color: map-get($sormas-accent, 500);
  font-size: 12px;
  text-align: right;
}

.minimal {
  th.mat-header-cell {
    border-bottom-color: map-get($sormas-accent, 200);
    border-left-width: 0;
    background-color: $white;
  }

  tr.mat-row td.mat-cell {
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: unset;
    vertical-align: top;

    &:first-of-type {
      padding-left: 24px;
    }
  }

  tr.mat-row.row-selected td.mat-cell {
    background-color: map-get($sormas-primary, 50);
  }
}

.no-scroll {
  overflow: hidden;
}

.table-wrapper {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba($white, 0.6);
}
