<div #vsTable *ngIf="tableColumns">
  <cdk-virtual-scroll-viewport
    [tvsItemSize]="rowHeight"
    [headerHeight]="headerHeight"
    [style.height.px]="tableHeight"
    class="viewport"
    (scrolledIndexChange)="scrolledIndexChange($event)"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="sortTable($event)"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
      [ngClass]="[appearance]"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell cdkDrag *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="onItemSelect($event, row)"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.name">
        <ng-container *ngIf="isSortable && tableColumn.isSortable; else notSortable">
          <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="tableColumn.dataKey">
            <span>{{ tableColumn.name | translate }}</span>
            <mat-icon *ngIf="sorting?.field === tableColumn.dataKey" class="material-icons-round">
              {{ sorting?.ascending ? 'arrow_drop_up' : 'arrow_drop_down' }}
            </mat-icon>
          </th>
        </ng-container>

        <ng-template #notSortable>
          <th mat-header-cell cdkDrag *matHeaderCellDef>
            {{ tableColumn.name | translate }}
          </th>
        </ng-template>

        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="getTableData(element.index, tableColumn); let data">
            <span
              *ngIf="data !== 'loading'"
              [ngClass]="tableColumn.stylify ? getClass(tableColumn.dataKey, data) : ''"
            >
              <mat-icon *ngIf="tableColumn.iconify" class="material-icons-round">
                {{ getIcon(data) }}
              </mat-icon>
              {{ data }}
            </span>
            <div *ngIf="data === 'loading'" class="row-skeleton"></div>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isHeaderSticky"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onItemClick(row)"
        [ngClass]="selection.isSelected(row) ? 'row-selected' : ''"
      ></tr>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
