@use '/src/variables.scss' as *;

.mat-cell .mat-icon {
  font-size: 14px;
  line-height: inherit;
}

table {
  width: 100%;
}

.minimal {
  th.mat-header-cell {
    border-bottom-color: map-get($sormas-accent, 200);
    border-left-width: 0;
    background-color: unset;
  }

  tr.mat-row td.mat-cell {
    background-color: unset;
  }

  tr.mat-row.row-selected td.mat-cell {
    background-color: map-get($sormas-primary, 50);
  }
}

.risklevel-low {
  color: map-get($sormas-success, 700);
  font-weight: 500;
}

.risklevel-moderate {
  color: map-get($sormas-warning, 800);
  font-weight: 500;
}

.risklevel-high {
  color: map-get($sormas-alert, 300);
  font-weight: 500;
}

.risklevel-unknown {
  color: map-get($sormas-accent, 500);
  font-weight: 500;
}

.viewport {
  .mat-cell {
    height: 54px;
  }

  .mat-row {
    cursor: pointer;
  }

  .row-skeleton {
    display: inline-block;
    width: 100%;
    height: 1rem;
    animation: skeleton 3s ease;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    background-color: map-get($sormas-accent, 200);
    opacity: 0;
  }

  @media (prefers-reduced-motion) {
    .row-skeleton {
      animation: none;
    }
  }
}

@keyframes skeleton {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
  }
}
