<section *ngIf="sample">
  <header>
    <a [routerLink]="['/samples/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1>
      {{ sample.sampleMaterial }} <small>({{ sample.uuid | slice: 0:6 }})</small>
    </h1>
    <app-entity-actions
      [resource]="sample"
      [resourceService]="sampleService"
      [actionEditOptions]="actionEditOptions"
      [context]="'strings.entitySample' | translate"
      (completion)="onSampleDelete()"
      class="actions"
    ></app-entity-actions>
  </header>

  <app-info-bar [data]="additionalData" [type]="additionalDataType"></app-info-bar>

  <div class="tab-nav-header">
    <nav>
      <a
        *ngIf="additionalData"
        mat-button
        [routerLink]="additionalDataLink"
        [ngSwitch]="additionalDataType"
        class="associated-data-link"
      >
        <mat-icon class="material-icons-round">navigate_before</mat-icon>
        <span *ngSwitchCase="infoBarOptions.SAMPLE_CASE">Case</span>
        <span *ngSwitchCase="infoBarOptions.SAMPLE_CONTACT">Contact</span>
        <span *ngSwitchCase="infoBarOptions.SAMPLE_EVENT_PARTICIPANT">Event</span>
        <span *ngSwitchDefault></span>
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <app-form-actions [resource]="sample"></app-form-actions>
    </div>
  </div>

  <div class="page-content">
    <app-sidebar>
      <app-dynamic-form
        main
        [formElements]="myFormElements"
        [resourceService]="sampleService"
      ></app-dynamic-form>
      <div aside>
        <app-edge-panel
          type="PATHOGEN"
          [resourceService]="pathogenTestService"
          filterCriteriaEntity="sample"
          [cardCollapse]="false"
          status="unclassified"
          [showGroupLink]="true"
          actionLink=""
          [scopeId]="sample.uuid"
          [cardWidth]="280"
          [showGroupLink]="false"
        ></app-edge-panel>
        <app-edge-panel
          type="ADDITIONAL"
          [resourceService]="additionalTestService"
          filterCriteriaEntity="sample"
          [cardCollapse]="true"
          status="unclassified"
          [showGroupLink]="true"
          actionLink=""
          [scopeId]="sample.uuid"
          [cardWidth]="280"
          [showGroupLink]="false"
        ></app-edge-panel>
      </div>
    </app-sidebar>
  </div>
</section>
