@use '../../../variables.scss' as *;

.page-content {
  position: relative;
  z-index: 1;
  background: map-get($sormas-accent, 50);
}

header {
  position: sticky;
  z-index: 2;
  top: 68px;
  display: flex;
  padding: 48px 24px 24px;
  background: $white;

  .mat-icon-button {
    margin-right: 16px;
    margin-left: -8px;
  }

  .mat-icon {
    font-size: 32px;
  }
}

h1 {
  margin: 0;
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;

  small {
    font-size: 20px;
  }
}

.tab-nav-header {
  position: sticky;
  z-index: 3;
  top: 164px;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  border-bottom: solid 2px map-get($sormas-accent, 200);
  background-color: $white;
}

.associated-data-link {
  min-width: unset;
  padding: 0;
}

.tab-nav-header-actions {
  min-width: 248px;
  text-align: right;
  white-space: nowrap;
}
