@use '../../../variables.scss' as *;

.case-list-header {
  overflow: hidden;
  padding: 20px;

  .add-btn {
    float: right;
  }
  .header-title {
    float: left;
    font-size: 34px;
    font-weight: 500;
    margin: 0;
  }
}
