<mat-icon class="toggle-filter" (click)="drawer.open()" *ngIf="!drawer.opened"
  >filter_list</mat-icon
>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer opened mode="side" class="filters-bar">
    <app-case-filters [drawer]="drawer"></app-case-filters>
  </mat-drawer>
  <mat-drawer-content>
    <h1 class="header-title" i18n="Cases Overview header">Cases Overview</h1>
    <app-table2
      *ngIf="cases.length"
      [resourceService]="caseService"
      [tableData]="cases"
      [tableColumns]="defaultColumns"
      [isSelectable]="true"
      (selectData)="selectionData($event)"
      (selectCase)="onCaseSelect($event)"
    >
    </app-table2>
  </mat-drawer-content>
</mat-drawer-container>
