<h1 class="header-title" i18n="Cases Overview header">Cases Overview</h1>
<!--<app-table2-->
<!--  [resourceService]="caseService"-->
<!--  [tableData]="cases"-->
<!--  [tableColumns]="defaultColumns"-->
<!--  [isSelectable]="true"-->
<!--  (selectData)="selectionData($event)"-->
<!--  (selectCase)="onCaseSelect($event)"-->
<!--&gt;</app-table2>-->

<button (click)="filter()">filter</button>

<app-table3
  [resourceService]="caseService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [visibleRowsCount]="8"
  (selectItem)="selectCase($event)"
  (clickItem)="clickCase($event)"
></app-table3>
