@use '~@angular/material' as mat;
@use '../../../../variables.scss' as *;

.card-person-event {
  padding-top: 10px;
  border-top: solid 2px mat.get-color-from-palette($sormas-alert, 100);
  margin-top: -4px;
  .status {
    display: flex;
    color: mat.get-color-from-palette($sormas-primary, A700);
    font-weight: 500;
    gap: 5px;
    .mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
    }
  }
  .responsible-user {
    margin-bottom: 5px;
    color: mat.get-color-from-palette($sormas-accent, 800);
    font-size: 14px;
    font-weight: 500;
  }
  .event-id {
    position: absolute;
    top: -2px;
    right: 24px;
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-size: 14px;
    .label {
      position: relative;
      top: 4px;
      color: mat.get-color-from-palette($sormas-accent, 400);
      font-size: 10px;
      text-align: right;
    }
  }
}
