@use '/src/variables.scss' as *;

.dynamic-form-wrapper {
  .inpage-nav {
    &.fixed {
      position: fixed;
      z-index: 9;
      top: 200px;
      right: 0;
      left: 0;
      padding: 0 25px;
      background: $white;
    }
  }
}

.mat-card {
  flex: 1 1 auto;
  padding: 16px 24px;

  .mat-divider-horizontal {
    position: unset;
    border: 0;
    margin: 0.5rem;
  }
}

.dynamic-form-group {
  display: flex;
  justify-content: stretch;
  margin: 10px 0;

  &.dynamic-form-section {
    margin-top: 48px;
  }

  &:hover,
  &:focus {
    background-color: $white;

    .mat-card {
      @include mat-elevation(6);
    }
  }
}

.left-section {
  min-width: 176px;
  max-width: 248px;
  flex: 0 0 24%;
  padding: 29px 24px;
  margin: 0;
  text-align: right;

  h2 {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
  }

  .sub-title {
    color: mat-color($sormas-accent, 800);
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
  }
}

.dynamic-form-input {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.size-small {
  width: 150px;
}

.size-medium {
  width: 230px;
}

.size-large {
  width: 330px;
}

.size-full {
  width: 100%;
  max-width: 500px;
}

.fullwidth {
  width: 100%;
}

.push-right {
  margin-right: 0;
  float: right;
  text-align: right;
}

.required {
  color: map-get($sormas-alert, 400);
}

.hidden {
  display: none;
}
