<div class="dynamic-form-wrapper">
  <form [formGroup]="form">
    <div *ngFor="let group of formElements" class="dynamic-form-group">
      <h2>{{ group.title }} <span class="required" *ngIf="group.required">*</span></h2>
      <mat-card class="dynamic-form-card">
        <ng-container *ngFor="let field of group.fields">
          <mat-divider *ngIf="field.newLine"></mat-divider>
          <div [ngClass]="['dynamic-form-input', field.className || '']">
            <ng-container appDynamicField [config]="field" [group]="form"> </ng-container>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </form>
</div>
