<div [formGroup]="form">
  <div [ngSwitch]="formElement.controlType">
    <mat-form-field *ngSwitchCase="'input'" appearance="legacy" [id]="formElement.key">
      <mat-label>{{ formElement.key }}</mat-label>
      <input
        [value]="formElement.value"
        [type]="formElement.type"
        [formControlName]="formElement.key"
        matInput
        placeholder="{{ formElement.key }}"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" *ngSwitchCase="'dropdown'">
      <mat-label>{{ formElement.label }}</mat-label>
      <mat-select [formControlName]="formElement.key">
        <mat-option *ngFor="let opt of formElement.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      class="example-margin"
      [formControlName]="formElement.key"
      [id]="formElement.key"
      >{{ formElement.label }}</mat-checkbox
    >
  </div>

  <div class="errorMessage" color="warn" *ngIf="!isValid">{{ formElement.validationMessage }}</div>
  <br />
</div>
