<div [formGroup]="form">
  <div [ngSwitch]="formElement.controlType">
    <mat-form-field
      *ngSwitchCase="'date'"
      [id]="formElement.key"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>{{ formElement.label }}</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      *ngSwitchCase="'input'"
      [id]="formElement.key"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>{{ formElement.key }}</mat-label>
      <input
        [value]="formElement.value"
        [type]="formElement.type"
        [formControlName]="formElement.key"
        matInput
        placeholder="{{ formElement.key }}"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always" *ngSwitchCase="'dropdown'">
      <mat-label>{{ formElement.label }}</mat-label>
      <mat-select disableOptionCentering [formControlName]="formElement.key">
        <mat-option *ngFor="let opt of formElement.options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-checkbox
      *ngSwitchCase="'checkbox'"
      class="example-margin"
      [formControlName]="formElement.key"
      [id]="formElement.key"
      >{{ formElement.label }}</mat-checkbox
    >
    <mat-radio-group *ngSwitchCase="'radio'">
      <mat-label *ngIf="formElement.label" class="radio-group-label">{{
        formElement.label
      }}</mat-label>
      <mat-radio-button *ngFor="let opt of formElement.options" [value]="opt.key">
        {{ opt.value }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="errorMessage" color="warn" *ngIf="!isValid">{{ formElement.validationMessage }}</div>
  <br />
</div>
