<div class="dynamic-form-wrapper">
  <div class="inpage-nav" [ngClass]="{ fixed: fixedHeader }">
    <app-inpage-nav *ngIf="withAnchor" [anchors]="getSections()"></app-inpage-nav>
  </div>
  <div class="form-content">
    <form [formGroup]="form">
      <div
        *ngFor="let group of formElements"
        [attr.id]="group.anchor ? group.anchor : null"
        [ngClass]="{ 'dynamic-form-group': true, 'dynamic-form-section': group.anchor }"
      >
        <h2>{{ group.title }} <span class="required" *ngIf="group.required">*</span></h2>
        <mat-card class="dynamic-form-card">
          <ng-container *ngFor="let field of group.fields">
            <mat-divider *ngIf="field.newLine"></mat-divider>
            <div
              *ngIf="field.active"
              [ngClass]="[
                'dynamic-form-input',
                field.className || '',
                field.active ? '' : 'hidden'
              ]"
            >
              <ng-container appDynamicField [config]="field" [group]="form"></ng-container>
            </div>
          </ng-container>
        </mat-card>
      </div>
    </form>
  </div>
</div>
