@use '/src/variables.scss' as *;

section {
  font-size: 14px;
  line-height: 20px;
}

header {
  position: sticky;
  z-index: 2;
  top: 212px;
  margin: 0 -24px;
}

.mat-card {
  flex: 1 1 auto;
  padding: 16px 24px;

  .mat-divider-horizontal {
    position: unset;
    border: 0;
  }

  .push-right {
    width: auto;
    margin-top: 8px;
    margin-right: 0;
    float: right;
    text-align: right;
  }
}

fieldset {
  display: flex;
  justify-content: stretch;
  padding: 0;
  border: 0;
  margin: 10px 0;

  &.section {
    margin-top: 48px;
  }

  &:hover,
  &:focus {
    background-color: rgba($white, 0.8);

    .mat-card {
      @include mat-elevation(6);
    }
  }
}

legend {
  flex: 0 0 176px;
  padding: 24px;
  margin: 0;
  float: left;
  text-align: right;

  h2 {
    padding: 4px 0;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
  }

  h3 {
    margin: 8px 0 0 0;
    color: mat-color($sormas-accent, 800);
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
  }
}

.dynamic-form-input {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;

  &.margin-left-50 {
    margin-left: 50px;
  }
}

.size-small {
  width: 150px;
}

.size-medium {
  width: 230px;
}

.size-large {
  width: 330px;
}

.size-full {
  width: 100%;
  max-width: 500px;
}

.fullwidth {
  width: 100%;
}

.required {
  margin-left: 6px;
  color: map-get($sormas-alert, 400);
}

.hidden {
  display: none;
}

.sub-field {
  margin-left: 20px;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  legend {
    flex: 0 0 248px;
  }
}
