<div class="dynamic-form-wrapper">
  <form [formGroup]="form">
    <div *ngFor="let group of formElements" class="dynamic-form-group">
      <h1 class="group-title">{{group.title}}</h1>
      <mat-card class="dynamic-form-card">
        <div class="dynamic-form-input" *ngFor="let field of group.fields">
          <ng-container
            appDynamicField
            [config]="field"
            [group]="form"
          >
          </ng-container>
        </div>
      </mat-card>
    </div>
  </form>
</div>
