<div class="dashboard-contact-stats-wrapper" *ngIf="data">
  <div class="title dashboard-contact-stats-row">
    <p>Contacts</p>
  </div>
  <div class="per-case dashboard-contact-stats-row">
    <p class="label-md">Per case</p>
    <div class="per-case-data">
      <div class="per-case-box-wrapper">
        <div class="per-case-box">
          <p>{{ data.PER_CASE }}</p>
        </div>
        <p class="label-sm">min</p>
      </div>
      <div class="per-case-box-wrapper">
        <div class="per-case-box">
          <p class="max">{{ data.MAX }}</p>
        </div>
        <p class="label-sm">max</p>
      </div>
      <div class="per-case-box-wrapper">
        <div class="per-case-box average">
          <p class="average">{{ data.AVERAGE }}</p>
        </div>
        <p class="label-sm">average</p>
      </div>
    </div>
  </div>
  <div class="new-cases dashboard-contact-stats-row">
    <p class="label-md">New case not previously known to be contacts</p>
    <div class="new-cases-data">
      <div class="number">
        {{ data.NEW_CASE }}
      </div>
      <div class="percent">
        {{ data.PERCENT_NEW_CASE }}%
      </div>
    </div>
  </div>
  <div class="quarantine dashboard-contact-stats-row">
    <p class="label-md">Quarantine</p>
    <div class="quarantine-data">
      <div class="quarantine-box quarantine">
        <p>
          <span>{{ data.QUARANTINE }}</span> in quarantine
        </p>
      </div>
      <div class="quarantine-box quarantine-placed">
        <p>
          <span>{{ data.QUARANTINE_PLACED }}</span> placed in quarantine
        </p>
      </div>
    </div>
  </div>
</div>
