<div *ngIf="data" class="info-bar" [ngSwitch]="type">
  <ng-container *ngSwitchCase="infoBarOptions.CASE" [ngTemplateOutlet]="case"></ng-container>
  <ng-container *ngSwitchCase="infoBarOptions.EVENT" [ngTemplateOutlet]="event"></ng-container>
  <ng-container *ngSwitchCase="infoBarOptions.EVENT_PARTICIPANT" [ngTemplateOutlet]="event_participant"></ng-container>
  <ng-container
    *ngSwitchCase="infoBarOptions.SAMPLE_CASE"
    [ngTemplateOutlet]="sample_case"
  ></ng-container>
  <ng-container
    *ngSwitchCase="infoBarOptions.SAMPLE_EVENT_PARTICIPANT"
    [ngTemplateOutlet]="sample_event_participant"
  ></ng-container>
  <ng-container
    *ngSwitchCase="infoBarOptions.SAMPLE_CONTACT"
    [ngTemplateOutlet]="sample_contact"
  ></ng-container>
  <ng-container
    *ngSwitchCase="infoBarOptions.CONTACT"
    [ngTemplateOutlet]="contact"
  ></ng-container>
  <ng-container
    *ngSwitchCase="infoBarOptions.IMMUNIZATION"
    [ngTemplateOutlet]="immunization"
  ></ng-container>
</div>

<ng-template #case>
  <ul>
    <li *ngIf="data.outcome">
      <mat-icon class="material-icons-round">
        {{ getOutcomeIcon(data.outcome) }}
      </mat-icon>
      {{ 'enum.CaseOutcome.' + data.outcome | translate }}
    </li>
    <li *ngIf="data.caseClassification">
      <mat-icon class="material-icons-round">
        {{ getClassificationIcon(data.caseClassification) }}
      </mat-icon>
      {{ 'enum.CaseClassification.' + data.caseClassification | translate }}
    </li>
    <li *ngIf="data.disease">
      {{ 'enum.Disease.' + data.disease | translate }}
    </li>
    <li *ngIf="data.uuid">
      <strong i18n>{{ 'captions.CaseData.uuid' | translate }}: </strong>
      {{ data.uuid }}
    </li>
    <li *ngIf="data.reportingUser?.caption">
      <strong i18n>{{ 'captions.reportingUser' | translate }}: </strong>
      {{ data.reportingUser.caption }}
    </li>
  </ul>
</ng-template>

<ng-template #event>
  <ul>
    <li *ngIf="data.eventStatus">
      <strong i18n>{{ 'captions.Event.eventStatus' | translate }}: </strong>
      {{ 'enum.EventStatus.' + data.eventStatus | translate }}
    </li>
    <li *ngIf="data.startDate">
      <strong i18n>{{ 'captions.singleDayEventDate' | translate }}: </strong>
      {{ data.startDate | date: 'd/M/yyyy' }}
    </li>
    <li *ngIf="data.uuid">
      <strong i18n>{{ 'captions.Event.uuid' | translate }}: </strong>
      {{ data.uuid }}
    </li>
    <li *ngIf="data.reportingUser">
      <strong i18n>{{ 'captions.Event.reportingUser' | translate }}: </strong>
      {{ data.reportingUser.caption }}
    </li>
  </ul>
</ng-template>

<ng-template #event_participant>
  <ul>
    <li *ngIf="data.reportingUser">
      <strong i18n>{{ 'captions.Event.reportingUser' | translate }}: </strong>
      {{ data.reportingUser.caption }}
    </li>
  </ul>
</ng-template>

<ng-template #sample_case>
  <ul>
    <li *ngIf="data.disease">
      {{ 'enum.Disease.' + data.disease | translate }}
      <span *ngIf="data.diseaseVariant">({{ data.diseaseVariant.caption }})</span>
    </li>
    <li *ngIf="data.caseClassification">
      <mat-icon class="material-icons-round">
        {{ getClassificationIcon(data.caseClassification) }}
      </mat-icon>
      {{ 'enum.CaseClassification.' + data.caseClassification | translate }}
    </li>
    <li *ngIf="data.person.firstName && data.person.lastName">
      <strong i18n>{{ 'Case person' | translate }}: </strong>
      {{ data.person.firstName }} {{ data.person.lastName }}
    </li>
    <li *ngIf="data.person.approximateAge">
      {{ data.person.approximateAge }}
      {{ 'enum.ApproximateAgeType.' + data.person.approximateAgeType | translate }}
    </li>
    <li *ngIf="data.person.sex">{{ 'enum.Sex.' + data.person.sex | translate }}</li>
    <li *ngIf="data.symptoms.onsetDate">
      <strong>{{ 'captions.Contact.caze.symptomsOnset' | translate }}:</strong>
      {{ data.symptoms.onsetDate | date: 'd/M/yyyy' }}
    </li>
    <li *ngIf="data.clinicianName">
      <strong>{{ 'CaseData.clinicianName' | translate }}:</strong>
      {{ data.clinicianName }}
    </li>
  </ul>
</ng-template>

<ng-template #sample_event_participant>
  <ul>
    <li *ngIf="data.event">
      <strong>{{ 'captions.Event.uuid' | translate }}:</strong>
      {{ data.event.uuid | slice: 0:6 }}
    </li>
    <li *ngIf="data.event.disease">{{ 'enum.Disease.' + data.event.disease | translate }}</li>
    <li *ngIf="data.person">
      <strong>{{ 'captions.EventParticipant.personUuid' | translate }}:</strong>
      {{ data.person.uuid | slice: 0:6 }}
    </li>
    <li *ngIf="data.person.firstName && data.person.lastName">
      <strong>{{ 'captions.EventParticipant.person' | translate }}:</strong>
      {{ data.person.firstName }} {{ data.person.lastName }}
    </li>
    <li *ngIf="data.event.startDate">
      <strong>{{ 'Event.date' | translate }}:</strong>
      {{ data.event.startDate | date: 'd/M/yyyy' }}
    </li>
    <li *ngIf="data.person.approximateAge">
      {{ data.person.approximateAge }}
      {{ 'enum.ApproximateAgeType.' + data.person.approximateAgeType | translate }}
    </li>
    <li *ngIf="data.person.sex">{{ 'enum.Sex.' + data.person.sex | translate }}</li>
  </ul>
</ng-template>

<ng-template #sample_contact>
  <ul>
    <li *ngIf="data.disease">
      {{ data.disease }}
      <span *ngIf="data.diseaseVariant">({{ data.diseaseVariant.caption }})</span>
    </li>
  </ul>
</ng-template>

<ng-template #contact>
  <ul>
    <li *ngIf="data.disease">
      {{ data.disease }}
    </li>
    <li *ngIf="data.contactClassification">
      <strong i18n>{{ 'captions.Contact.contactClassification' | translate }}: </strong>
      {{ data.contactClassification }}
    </li>
    <li *ngIf="data.contactClassification">
      <strong i18n>{{ 'captions.CaseData.person' | translate }}: </strong>
      {{ data.person.firstName }} {{ data.person.lastName }}
    </li>
  </ul>
</ng-template>

<ng-template #immunization>
  <ul>
    <li *ngIf="data.disease">
      {{ data.disease }}
    </li>
  </ul>
</ng-template>
