@use '../../../variables.scss' as *;

.page-content {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  background: $white;
}

header {
  position: sticky;
  z-index: 2;
  top: 68px;
  display: flex;
  padding: 48px 24px 0;
  background: $white;

  .mat-icon-button {
    margin-right: 16px;
    margin-left: -8px;
  }

  .mat-icon {
    font-size: 32px;
  }
}

h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  margin-right: auto;
}

.add-participant-btn {
  margin-right: 15px;
}

.tab-nav-header {
  position: sticky;
  z-index: 3;
  top: 164px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  border-bottom: solid 2px map-get($sormas-accent, 200);
  background-color: $white;
}

.mat-tab-header {
  min-width: 0;
  flex: 1;
}

.tab-nav-header-actions {
  min-width: 248px;
  text-align: right;
  white-space: nowrap;
}
