<section *ngIf="contact">
  <header>
    <a [routerLink]="['/contacts/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1>{{ contact.person.firstName }} {{ contact.person.lastName }}</h1>
    <app-entity-actions
      [resource]="contact"
      [resourceService]="contactService"
      [actionEditOptions]="actionEditOptions"
      [context]="'strings.entityContact' | translate"
      (completion)="onContactDelete()"
      class="actions"
    ></app-entity-actions>
  </header>

  <app-info-bar [data]="contact" [type]="'CONTACT'"></app-info-bar>

  <div class="tab-nav-header">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title | translate }}
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <app-form-actions [formId]="formId" [resource]="contact"></app-form-actions>
    </div>
  </div>

  <div class="page-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</section>
