<app-table
  [resourceService]="districtService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  [showTotal]="true"
  showTotalContext="{{ 'strings.entityDistricts' | translate }}"
  [isEditable]="true"
  (editItem)="openEditDistrictModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddDistrictModal()">
      {{ 'actionAddNewDistrict' | translate }}
    </button>
  </div>
</app-table>
