<div *ngIf="data" class="card-sample">
  <div class="sample-details">
    <span [ngClass]="['sample-status', 'status-' + data.pathogenTestResult | lowercase]">
      {{ data.pathogenTestResult | humanize }}
    </span>
    <strong *ngIf="!data.shipmentDate">Not shipped yet</strong>
  </div>

  <div class="timeline">
    <app-date-card
      *ngIf="data.shipmentDate && !data.receivedDate"
      [date]="data.shipmentDate"
      label="shipped"
      [showYear]="false"
      [appearance]="dateCardType.ACCENT"
      class="date"
    ></app-date-card>
    <app-date-card
      *ngIf="data.receivedDate"
      [date]="data.receivedDate"
      label="recieved"
      [showYear]="false"
      [appearance]="dateCardType.HIGHLIGHT"
      class="date"
    ></app-date-card>
    <app-date-card
      *ngIf="data.sampleDateTime"
      [date]="data.sampleDateTime"
      label="collected"
      [showYear]="false"
      class="date"
    ></app-date-card>
  </div>

  <div class="assignee">
    <mat-icon class="material-icons-round">perm_contact_calendar</mat-icon>
    <span>{{ data.lab.caption }}</span>
  </div>
</div>
