<div class="page-header">
  <h1 class="page-header-title">
    {{ 'captions.View.groups' | translate }}
  </h1>
  <div class="page-header-actions">
    <button mat-flat-button color="primary" (click)="openAddEventModal()">
      {{ 'captions.eventNewEvent' | translate }}
    </button>
    <button mat-stroked-button color="primary" (click)="exportBasicEventGroup()">
      {{ 'captions.export' | translate }}
    </button>
  </div>
</div>
<app-table
  [filterFormId]="formId"
  [resourceService]="eventGroupService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [saveConfigKey]="configKey"
  [viewOptions]="actionsViewOption"
>
</app-table>
