<div class="page-header">
  <h1 class="page-header-title">
    {{ 'captions.View.groups' | translate }}
  </h1>
  <div class="page-header-actions">
    <button mat-flat-button color="primary" (click)="openAddEventModal()">
      {{ 'captions.eventNewEvent' | translate }}
    </button>
    <app-dropdown-menu buttonText="{{ 'captions.moreActions' | translate }}">
      <app-action-menu [config]="actionsMore" (action)="onActionSelected($event)"></app-action-menu>
    </app-dropdown-menu>
  </div>
</div>
<app-table
  [filterFormId]="formId"
  [resourceService]="eventGroupService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [viewOptions]="actionsViewOption"
>
</app-table>
