@mixin button-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-stroked-button:not(.mat-button-disabled) {
      border-width: 2px;
      border-color: currentColor;
    }

    .mat-icon-button.small {
      width: 24px;
      height: 24px;

      .mat-button-wrapper {
        display: block;
        line-height: 24px;
      }

      .mat-icon {
        display: block;
        font-size: 16px;
      }
    }
  }
}
