@mixin card-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-card {
      color: unset;
    }

    .mat-card-header-text {
      width: 100%;
      margin: 0;
    }

    .title-date {
      color: map-get($sormas-accent, 600);
      font-size: 14px;
      .title-date-item-2,
      .title-date-item-4 {
        color: map-get($sormas-accent, 400);
        font-size: 10px;
      }
      .title-date-item-3 {
        font-size: 10px;
      }
    }
  }
}
