@use '../variables.scss' as *;

* {
  box-sizing: border-box;
  scrollbar-color: map-get($sormas-accent, 300) map-get($sormas-accent, 100);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: map-get($sormas-accent, 100);
}

::-webkit-scrollbar-thumb {
  background-color: map-get($sormas-accent, 300);
}

html,
body {
  height: 100%;
  margin: 0;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}

a:not(.mat-button) {
  color: map-get($sormas-primary, 700);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

strong {
  font-weight: 500;
}

.errorMessage {
  color: $warn;
}

.filters {
  .mat-drawer-inner-container {
    overflow-y: scroll;
  }
  .dynamic-form-input {
    margin-right: 0;
    .mat-radio-button {
      margin-right: 0 !important;
      .mat-radio-label {
        font-weight: normal;
      }
    }
  }

  fieldset.collapsable {
    margin: 24px 0;
  }

  .mat-form-field-appearance-outline.searchbox .mat-form-field-wrapper {
    margin: 0;
  }
}

:root .filters-field-compact {
  .mat-form-field-appearance-outline.search-multiselect {
    display: block;

    &:not(.search-multiselect-opened) {
      color: map-get($sormas-accent, 400);
    }
  }
}

:root .filters-field-expanded {
  .mat-form-field-appearance-outline.search-multiselect {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;

    &:not(.search-multiselect-opened) {
      color: map-get($sormas-accent, 400);
    }
  }

  .mat-chip-list {
    margin-top: 6px;
  }
}

// page general layout
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 48px 32px 24px;
  border-bottom: 2px solid map-get($sormas-accent, 200);

  .page-header-title {
    margin: 0;
    font-size: 34px;
    font-weight: 500;
    line-height: 36px;
  }

  .page-header-actions > * + * {
    margin-left: 1rem;
  }
}

.page-content {
  padding: 24px;

  .sidebar,
  .mat-drawer-container {
    margin: -24px;
    background-color: unset;
  }
}

/* Table dynamic content */
:root td.mat-cell {
  &.visit-date {
    .visitDateTime {
      color: map-get($sormas-accent, 600);
      font-size: 10px;
      text-transform: uppercase;
    }

    .visitDateTime-item-1 {
      font-size: 14px;
    }

    .visitDateTime-item-2 {
      margin-right: 4px;
    }
  }

  &.visit-blood-pressure {
    color: map-get($sormas-accent, 600);
    font-weight: 500;

    .explicative {
      display: block;
    }
  }

  &.visit-heart-rate {
    color: map-get($sormas-accent, 600);
    font-weight: 500;
  }

  &.visit-temperature {
    font-weight: 500;

    .fever {
      color: map-get($sormas-alert, 400);
    }
  }

  .temperature-item-3,
  .bloodPressure-item-2,
  .heartRate-item-2 {
    display: block;
    color: map-get($sormas-accent, 500);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }

  .heartRate-item-2 {
    display: inline;
  }

  &.visit-remarks {
    font-size: 12px;
  }

  &.visit-clinician,
  &.visit-person {
    color: map-get($sormas-accent, 500);
    font-weight: 500;
  }

  .risk-level-LOW {
    color: map-get($sormas-success, 700);
    font-weight: 500;
  }

  .risk-level-MODERATE {
    color: map-get($sormas-warning, 800);
    font-weight: 500;
  }

  .risk-level-HIGH {
    color: map-get($sormas-alert, 300);
    font-weight: 500;
  }

  .risk-level-UNKNOWN {
    color: map-get($sormas-accent, 500);
    font-weight: 500;
  }

  .visit-status-UNAVAILABLE {
    font-weight: 500;
  }

  .visit-status-UNCOOPERATIVE {
    color: map-get($sormas-alert, 400);
    font-weight: 500;
  }

  .visit-status-COOPERATIVE {
    color: map-get($sormas-primary, 500);
    font-weight: 500;
  }

  .symptoms-true,
  .active-entry-true {
    color: map-get($sormas-alert, 400);
    font-weight: 500;
  }

  .symptoms-false {
    font-weight: 500;
  }

  &.user-status {
    color: map-get($sormas-primary, 700);
  }

  &.configuration-country-code {
    width: 120px;
  }
}

:root tr.mat-row {
  &[class*='africa'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: map-get($sormas-warning, 200);
  }

  &[class*='asia'] td.mat-cell,
  &[class*='middle-east'] td.mat-cell,
  &[class*='oceania'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: map-get($sormas-alert, 100);
  }

  &[class*='europe'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: map-get($sormas-primary, 200);
  }

  &[class*='america'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: map-get($sormas-primary, A100);
  }

  &[class*='australia'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: rgba(map-get($sormas-warning, 700), 0.5);
  }
}

.icon-active-true {
  color: map-get($sormas-primary, 400);
}

.icon-active-false {
  color: map-get($sormas-alert, 300);
}

/* card-status-overrides */
.status-critical {
  .card-sample-pathogen {
    .test-result {
      color: map-get($sormas-alert, 700);
    }
  }
}

.status-pending {
  .card-sample-pathogen {
    .test-result {
      color: map-get($sormas-alert, 300);
    }
  }
}

.status-undetermined {
  .card-sample-pathogen {
    .test-result {
      color: map-get($sormas-warning, 800);
    }
  }
}

.status-good {
  .card-sample-pathogen {
    .test-result {
      color: map-get($sormas-primary, 400);
    }
  }
}

.event-group-link-event-container {
  .search-box {
    margin-bottom: 10px;
  }
}

// dashboard-disease-menu
.dashboard-disease-menu {
  .mat-tab-label {
    min-width: 100px;
    padding: 15px;
  }

  .mat-tab-header {
    border: none;
  }

  .mat-tab-group {
    &.mat-primary {
      .mat-ink-bar {
        background-color: black;
      }
    }
  }
}
