@use '@angular/material' as mat;
@use '../variables.scss' as *;

* {
  box-sizing: border-box;
  scrollbar-color: mat.get-color-from-palette($sormas-accent, 300)
    mat.get-color-from-palette($sormas-accent, 100);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: mat.get-color-from-palette($sormas-accent, 100);
}

::-webkit-scrollbar-thumb {
  background-color: mat.get-color-from-palette($sormas-accent, 300);
}

html,
body {
  height: 100%;
  margin: 0;
  color: mat.get-color-from-palette($sormas-accent, 800);
}

.noscroll {
  position: fixed;
  overflow: hidden;
}

.float-right {
  float: right;
}

a:not(.mat-button) {
  color: mat.get-color-from-palette($sormas-primary, 700);
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

strong {
  font-weight: 500;
}

.errorMessage {
  color: $warn;
}

.filters {
  .mat-drawer-inner-container {
    overflow-y: scroll;
  }
  .dynamic-form-input {
    margin-right: 0;
    .mat-radio-button {
      margin-right: 0 !important;
      .mat-radio-label {
        font-weight: normal;
      }
    }
  }

  fieldset.collapsable {
    margin: 24px 0;
  }

  .mat-form-field-appearance-outline.searchbox .mat-form-field-wrapper {
    margin: 0;
  }
}

:root .filters-field-compact {
  .mat-form-field-appearance-outline.search-multiselect {
    display: block;

    &:not(.search-multiselect-opened) {
      color: mat.get-color-from-palette($sormas-accent, 400);
    }
  }
}

:root .filters-field-expanded {
  .mat-form-field-appearance-outline.search-multiselect {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;

    &:not(.search-multiselect-opened) {
      color: mat.get-color-from-palette($sormas-accent, 400);
    }
  }

  .mat-chip-list {
    margin-top: 6px;
  }
}

// page general layout
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 48px 32px 24px;
  border-bottom: 2px solid mat.get-color-from-palette($sormas-accent, 200);

  .page-header-title {
    margin: 0;
    font-size: 34px;
    font-weight: 500;
    line-height: 36px;
  }

  .page-header-actions > * + * {
    margin-left: 1rem;
  }
}

.page-content {
  padding: 24px;

  .sidebar,
  .mat-drawer-container {
    margin: -24px;
    background-color: unset;
  }
}

/* Table dynamic content */
:root td.mat-cell {
  &.visit-date {
    .visitDateTime {
      color: mat.get-color-from-palette($sormas-accent, 600);
      font-size: 10px;
      text-transform: uppercase;
    }

    .visitDateTime-item-1 {
      font-size: 14px;
    }

    .visitDateTime-item-2 {
      margin-right: 4px;
    }
  }

  &.visit-blood-pressure {
    color: mat.get-color-from-palette($sormas-accent, 600);
    font-weight: 500;

    .explicative {
      display: block;
    }
  }

  &.visit-heart-rate {
    color: mat.get-color-from-palette($sormas-accent, 600);
    font-weight: 500;
  }

  &.visit-temperature {
    font-weight: 500;

    .fever {
      color: mat.get-color-from-palette($sormas-alert, 400);
    }
  }

  .temperature-item-3,
  .bloodPressure-item-2,
  .heartRate-item-2 {
    display: block;
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }

  .heartRate-item-2 {
    display: inline;
  }

  &.visit-remarks,
  &.share-requests-comment {
    font-size: 12px;
  }

  &.visit-clinician,
  &.visit-person {
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-weight: 500;
  }

  .risk-level-LOW {
    color: mat.get-color-from-palette($sormas-success, 700);
    font-weight: 500;
  }

  .risk-level-MODERATE {
    color: mat.get-color-from-palette($sormas-warning, 800);
    font-weight: 500;
  }

  .risk-level-HIGH {
    color: mat.get-color-from-palette($sormas-alert, 300);
    font-weight: 500;
  }

  .risk-level-UNKNOWN {
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-weight: 500;
  }

  .visit-status-UNAVAILABLE {
    font-weight: 500;
  }

  .visit-status-UNCOOPERATIVE {
    color: mat.get-color-from-palette($sormas-alert, 400);
    font-weight: 500;
  }

  .visit-status-COOPERATIVE {
    color: mat.get-color-from-palette($sormas-primary, 500);
    font-weight: 500;
  }

  .contact-category-HIGH_RISK {
    color: mat.get-color-from-palette($sormas-alert, 500);
    font-weight: 500;
  }

  .contact-category-HIGH_RISK_MED {
    color: mat.get-color-from-palette($sormas-alert, 300);
    font-weight: 500;
  }

  .contact-category-MEDIUM_RISK_MED {
    color: mat.get-color-from-palette($sormas-warning, 800);
    font-weight: 500;
  }

  .contact-category-LOW_RISK {
    color: mat.get-color-from-palette($sormas-warning, 700);
    font-weight: 500;
  }

  .contact-category-NO_RISK {
    color: mat.get-color-from-palette($sormas-success, 700);
    font-weight: 500;
  }

  .symptoms-true,
  .active-entry-true {
    color: mat.get-color-from-palette($sormas-alert, 400);
    font-weight: 500;
  }

  .symptoms-false,
  .handover-false {
    font-weight: 500;
  }

  .handover-true {
    color: mat.get-color-from-palette($sormas-alert, 400);
    font-weight: 500;
  }

  &.user-status {
    color: mat.get-color-from-palette($sormas-primary, 700);
  }

  &.configuration-country-code {
    width: 120px;
  }

  .positive-fatalities {
    color: mat.get-color-from-palette($sormas-alert, 700);
  }

  .task-priority-HIGH {
    color: mat.get-color-from-palette($sormas-alert, 300);
  }

  .task-priority-NORMAL {
    color: mat.get-color-from-palette($sormas-primary, 400);
  }

  .task-priority-LOW {
    color: mat.get-color-from-palette($sormas-accent, 500);
  }

  .lab-message-status-UNPROCESSED {
    display: none;
  }

  .lab-message-status-FORWARDED {
    color: mat.get-color-from-palette($sormas-success, 700);
  }

  .lab-message-status-UNCLEAR {
    color: mat.get-color-from-palette($sormas-alert, 400);
  }

  .pathogen-test-result-INDETERMINATE {
    font-weight: 500;
    color: mat.get-color-from-palette($sormas-warning, 800);
  }

  .pathogen-test-result-PENDING {
    font-weight: 500;
    color: mat.get-color-from-palette($sormas-alert, 300);
  }

  .pathogen-test-result-NEGATIVE {
    font-weight: 500;
    color: mat.get-color-from-palette($sormas-primary, 400);
  }

  .pathogen-test-result-POSITIVE {
    font-weight: 500;
    color: mat.get-color-from-palette($sormas-alert, 700);
  }
}

:root tr.mat-row {
  &[class*='africa'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: mat.get-color-from-palette($sormas-warning, 200);
  }

  &[class*='asia'] td.mat-cell,
  &[class*='middle-east'] td.mat-cell,
  &[class*='oceania'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: mat.get-color-from-palette($sormas-alert, 100);
  }

  &[class*='europe'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: mat.get-color-from-palette($sormas-primary, 200);
  }

  &[class*='america'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: mat.get-color-from-palette($sormas-primary, A100);
  }

  &[class*='australia'] td.mat-cell {
    border-bottom-width: 2px;
    border-bottom-color: rgba(mat.get-color-from-palette($sormas-warning, 700), 0.5);
  }

  &.rising {
    background-color: mat.get-color-from-palette($sormas-alert, 50);

    td.mat-cell {
      border-bottom-width: 2px;
      border-bottom-color: mat.get-color-from-palette($sormas-alert, 100);
    }

    .positive-value {
      color: mat.get-color-from-palette($sormas-alert, 700);

      .material-icons-round {
        vertical-align: middle;
        font-size: 18px;
      }
    }
  }

  &.falling {
    background-color: mat.get-color-from-palette($sormas-success, 50);

    .positive-value {
      color: mat.get-color-from-palette($sormas-success, 700);

      .material-icons-round {
        vertical-align: middle;
        transform: rotate(180deg);
        font-size: 18px;
      }
    }
  }

  &.stagnant {
    .no-value {
      color: mat.get-color-from-palette($sormas-accent, 300);

      .material-icons-round {
        display: none;
      }
    }
  }
}

.overview-disease-table {
  td.mat-cell {
    font-weight: 500;
  }
}

.icon-active-true {
  color: mat.get-color-from-palette($sormas-primary, 400);
}

.icon-active-false {
  color: mat.get-color-from-palette($sormas-alert, 300);
}

/* card-status-overrides */
.status-critical {
  .card-sample-pathogen {
    .test-result {
      color: mat.get-color-from-palette($sormas-alert, 700);
    }
  }
}

.status-pending {
  .card-sample-pathogen {
    .test-result {
      color: mat.get-color-from-palette($sormas-alert, 300);
    }
  }
}

.status-undetermined {
  .card-sample-pathogen {
    .test-result {
      color: mat.get-color-from-palette($sormas-warning, 800);
    }
  }
}

.status-good {
  .card-sample-pathogen {
    .test-result {
      color: mat.get-color-from-palette($sormas-primary, 400);
    }
  }
}

.event-group-link-event-container {
  .search-box {
    margin-bottom: 10px;
  }
}

// dashboard-disease-menu
.dashboard-disease-menu {
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    padding-top: 10px;
  }
  .mat-tab-span {
    padding: 20px 10px 0 10px;
  }
  .mat-tab-label-active {
    .mat-tab-span {
      background: mat.get-color-from-palette($brand-neutrals, 600);

      &.mat-tab-AFP {
        background: mat.get-color-from-palette($sormas-primary, 800);
      }
      &.mat-tab-ANTHRAX {
        background: mat.get-color-from-palette($sormas-primary, 200);
        color: mat.get-color-from-palette($sormas-accent, 800);
      }
      &.mat-tab-CORONAVIRUS {
        background: mat.get-color-from-palette($sormas-success, 600);
      }
      &.mat-tab-CHOLERA {
        background: mat.get-color-from-palette($sormas-warning, 700);
      }
      &.mat-tab-CONGENITAL_RUBELLA {
        background: mat.get-color-from-palette($sormas-alert, 400);
      }
      &.mat-tab-DENGUE {
        background: mat.get-color-from-palette($sormas-primary, A100);
        color: mat.get-color-from-palette($sormas-accent, 800);
      }
      &.mat-tab-EVD {
        background: mat.get-color-from-palette($sormas-warning, 900);
      }
      &.mat-tab-GUINEA_WORM {
        background: mat.get-color-from-palette($sormas-accent, 300);
      }
      &.mat-tab-RABIES {
        background: mat.get-color-from-palette($sormas-accent, A700);
      }
      &.mat-tab-LASSA {
        background: mat.get-color-from-palette($sormas-warning, 800);
      }
      &.mat-tab-MEASLES {
        background: mat.get-color-from-palette($sormas-alert, 200);
      }
      &.mat-tab-CSM {
        background: mat.get-color-from-palette($sormas-accent, A100);
      }
      &.mat-tab-MONKEYPOX {
        background: mat.get-color-from-palette($sormas-accent, A200);
      }
      &.mat-tab-NEW_INFLUENZA {
        background: mat.get-color-from-palette($sormas-primary, 700);
      }
      &.mat-tab-UNDEFINED {
        background: mat.get-color-from-palette($sormas-accent, 600);
      }
      &.mat-tab-OTHER {
        background: mat.get-color-from-palette($sormas-accent, 900);
      }
      &.mat-tab-PLAGUE {
        background: mat.get-color-from-palette($sormas-alert, 700);
      }
      &.mat-tab-POLIO {
        background: mat.get-color-from-palette($sormas-primary, A700);
      }
      &.mat-tab-UNSPECIFIED_VHF {
        background: mat.get-color-from-palette($sormas-alert, 800);
      }
      &.mat-tab-YELLOW_FEVER {
        background: mat.get-color-from-palette($sormas-warning, 500);
        color: mat.get-color-from-palette($sormas-accent, 800);
      }
    }
  }

  .mat-tab-label {
    min-width: min-content;
    height: auto;
    padding: 5px 0;
    margin-right: 16px;
    opacity: 1;
    padding-top: 0;

    &.mat-tab-label-active {
      .mat-tab-label-content {
        color: $white;
      }
    }

    .mat-tab-label-content {
      color: mat.get-color-from-palette($sormas-accent, 600);
    }
  }

  .mat-tab-header {
    border: none;
  }

  .mat-tab-group {
    &.mat-primary {
      .mat-ink-bar {
        background-color: mat.get-color-from-palette($sormas-accent, 600);
        display: none;
      }
    }
  }
}

.contact-unconfirmed .mat-progress-bar-fill::after,
.follow-up-canceled .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-accent, 500);
}

.contact-confirmed .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-alert, 700);
}

.contact-not .mat-progress-bar-fill::after,
.follow-up-completed .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-primary, 500);
}

.contact-new .mat-progress-bar-fill::after,
.follow-up-lost .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-warning, 700);
}

.contact-symptomatic .mat-progress-bar-fill::after,
.follow-up-converted .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-alert, 300);
}

.follow-up-cooperative .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-success, 600);
}

.follow-up-uncooperative .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-alert, 700);
}

.follow-up-unavailable .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-warning, 700);
}

.follow-up-not-visited .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-accent, 500);
}

.visits-cooperative .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-success, 600);
}

.visits-uncooperative .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-alert, 700);
}

.visits-unavailable .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-warning, 700);
}

.visits-missed .mat-progress-bar-fill::after {
  background-color: mat.get-color-from-palette($sormas-warning, 800);
}

.case-person-contact-form {
  form {
    width: 500px;
    margin: 0 auto;
  }
}
