@use '@angular/material' as mat;
@use '/src/variables.scss' as *;
@mixin dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-dialog-container {
      position: relative;
      padding: 0;
      background: map-get($sormas-accent, 50);
      border-radius: 12px;
      color: unset;
    }

    .mat-dialog-actions {
      min-height: unset;
      align-content: flex-end;
      justify-content: flex-end;
      padding: 12px 64px 36px;
      margin-bottom: 0;

      .mat-button-base + .mat-button-base {
        margin-left: 1rem;
      }
    }

    .mat-dialog-title {
      display: flex;
      justify-content: space-between;
      padding: 24px 64px;
      border-bottom: 2px solid map-get($sormas-accent, 200);
      margin: 0;
      background-color: $white;

      h1 {
        margin: 24px 0 0;
        font-size: 34px;
        font-weight: 500;
        line-height: 36px;
      }

      .mat-dialog-actions {
        padding: 0;
      }
    }

    .button-dialog-close {
      position: absolute;
      top: 8px;
      right: 8px;
      color: map-get($sormas-accent, 500);
    }

    .mat-dialog-content {
      max-height: calc(100vh - 120px);
      padding: 16px 64px;
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;

      fieldset.section {
        margin-top: 10px;
      }

      legend {
        flex-basis: 134px;
        padding-left: 0;
      }
    }

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      margin: 1em 0;
    }

    .dialog-confirm,
    .dialog-prompt,
    .dialog-alert {
      .mat-dialog-container {
        background-color: $white;
      }
    }

    .dialog-prompt {
      .mat-dialog-title h1 {
        font-size: 24px;
        margin: 24px 0 -6px;
      }

      .mat-dialog-content {
        padding: 16px 64px 48px;
      }
    }

    .dialog-confirm {
      .mat-dialog-title h1 {
        color: mat.get-color-from-palette(mat.define-palette($warn, 700));
        font-size: 24px;
      }
    }

    .dialog-alert {
      .mat-dialog-title {
        padding-left: 88px;

        h1 {
          color: mat.get-color-from-palette(mat.define-palette($warn, 700));
          font-size: 24px;
        }
      }

      .mat-dialog-content {
        padding-left: 88px;
      }

      ul {
        list-style: none;
      }

      li::before {
        margin-right: 0.5rem;
        color: mat.get-color-from-palette(mat.define-palette($warn, 700));
        content: '•';
      }
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
      .mat-dialog-content {
        legend {
          flex-basis: 156px;
        }
      }
    }
  }
}
