@mixin expansion-panel-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-expansion-panel {
      @include mat-elevation(0);

      border: solid 1px map-get($sormas-accent, 200);
    }

    .mat-expansion-panel-header {
      height: auto;
      padding: 16px 24px;

      &:hover,
      &:focus {
        background: unset !important;
      }
    }

    .mat-expansion-panel-header-title {
      font-weight: 500;
      line-height: 24px;
    }

    .dropdown-menu {
      .mat-expansion-panel {
        border: 0;
        border-bottom: 1px solid map-get($sormas-accent, 200);
        margin-bottom: 8px;
        border-radius: 0;
      }

      .mat-expansion-panel-header {
        padding: 12px 16px;
      }

      .mat-expansion-panel-header-title {
        font-size: 14px;
      }

      .mat-expansion-panel-body {
        padding: 0;
        border-top: 1px solid map-get($sormas-accent, 200);
      }
    }
  }
}
