@use '~@angular/material' as mat;
@mixin form-checkbox-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-checkbox {
      .mat-checkbox-layout {
        margin: 8px 0;
      }

      .mat-checkbox-label {
        font-weight: 500;
      }

      &:not(.mat-checkbox-disabled) .mat-checkbox-frame {
        border-color: mat.get-color-from-palette(mat.define-palette($primary, 700));
      }

      &.ng-touched.ng-invalid .mat-checkbox-frame {
        border-color: mat.get-color-from-palette(mat.define-palette($warn, 300));
      }

      &.small {
        .mat-checkbox-layout {
          margin: 0;
        }

        .mat-checkbox-inner-container {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  // for checkbox groups
  .mat-selection-list {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .single-item {
      flex: 1 1 30%;
      &:hover,
      &:focus {
        background: transparent;
      }
      .mat-list-item-content {
        flex-direction: row !important;
        .mat-list-text {
          padding-left: 7px !important;
          font-weight: 500;
        }
        .mat-pseudo-checkbox {
          border-color: mat.get-color-from-palette(mat.define-palette($primary, 700));
        }
      }
    }
  }

  .mat-select-all {
    .mat-checkbox {
      width: 100%;

      .mat-checkbox-layout {
        width: 100%;
        margin: 0;
      }

      &:not(.mat-checkbox-checked) .mat-checkbox-label {
        font-weight: normal;
      }
    }

    .mat-checkbox-inner-container {
      margin-left: 0;
    }
  }
}
