@mixin form-radio-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-radio-group {
      display: inline-block;
      margin: 8px 0;

      .radio-group-label {
        display: block;
      }
    }

    .mat-radio-button {
      margin-right: 1em;
      font-weight: 500;
      line-height: 32px;
      text-align: left;

      &:not(.mat-radio-disabled) .mat-radio-outer-circle {
        border-color: mat-color(mat-palette($primary, 700));
      }

      &.mat-radio-disabled:not(.mat-radio-checked) .mat-radio-outer-circle {
        border-width: 0;
      }

      &:focus,
      &:hover {
        color: mat-color(mat-palette($primary, 700));
      }

      &.mat-radio-checked {
        color: mat-color(mat-palette($primary, 700));
      }
    }
  }
}
