@mixin form-select-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-option {
      align-items: flex-start;
      padding: 10px 16px;
      white-space: normal;
    }

    .mat-option-pseudo-checkbox {
      margin-top: 3px;
      color: map-get($sormas-primary, 700);
    }

    .mat-select-panel-wrap {
      max-width: 180px;
    }

    .mat-select-panel {
      padding: 8px 0;

      .mat-option {
        height: auto;
        line-height: 20px;
      }

      .mat-selected {
        font-weight: 500;
      }

      .mat-option.mat-active,
      .mat-option.mat-selected,
      .mat-option:not(.mat-option-disabled):hover,
      .mat-option:not(.mat-option-disabled):focus {
        background-color: mat-color(mat-palette($accent, 50));
        color: currentColor;
      }

      &.search-multiselect-panel {
        max-width: 180px;
        max-height: 304px;
        margin-top: 42px;
        margin-left: 24px;

        .mat-select-header {
          .mat-form-field-wrapper {
            margin: 0;
          }

          .mat-form-field-flex {
            padding-right: 0;
          }
        }
      }
    }

    .mat-form-field-type-mat-select.mat-form-field-appearance-outline {
      .mat-select-arrow-wrapper {
        transform: scale(0.8) translateX(6px);
      }

      .mat-select-arrow {
        width: 8px;
        height: 8px;
        border: 0 solid currentColor;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(45deg);
      }

      &.mat-focused {
        .mat-select-arrow {
          transform: rotate(-135deg) translate(-3px, -3px);
        }
      }

      &:not(.mat-form-field-invalid) {
        &.mat-focused,
        .mat-form-field-flex:focus,
        .mat-form-field-flex:hover {
          .mat-select-arrow {
            border-color: mat-color(mat-palette($primary, 700));
          }

          .mat-select-value {
            color: mat-color(mat-palette($primary, 700));
          }
        }
      }
    }
  }
}
