@use '@angular/material' as mat;
@mixin form-datepicker-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-datepicker-content {
      color: unset;
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-flex {
        align-items: center;
      }

      .mat-form-field-prefix,
      .mat-form-field-suffix {
        top: 0;
        right: 4px;
      }

      .mat-form-field-infix {
        width: unset;
      }

      .mat-datepicker-toggle {
        font-size: 9px;
      }

      &.mat-focused,
      .mat-form-field-flex:focus,
      .mat-form-field-flex:hover {
        .mat-datepicker-toggle {
          color: mat.get-color-from-palette(mat.define-palette($primary, 700));
        }
      }

      &.field-borderless:not(.mat-focused),
      .mat-form-field-flex:focus,
      .mat-form-field-flex:hover {
        .mat-datepicker-toggle {
          color: mat.get-color-from-palette(mat.define-palette($primary, 500));
        }
      }

      &.datepicker-closed,
      &.datepicker-opened {
        .mat-form-field-flex {
          width: 124px;
          padding-right: 0;
        }
      }

      &.datepicker-opened {
        .mat-form-field-outline {
          border-color: mat.get-color-from-palette(mat.define-palette($primary, 700));
          color: mat.get-color-from-palette(mat.define-palette($primary, 700));
        }
        .mat-form-field-infix,
        .mat-button-wrapper {
          color: mat.get-color-from-palette(mat.define-palette($primary, 700));
        }
      }

      &.time {
        flex-grow: 1;

        .mat-form-field-infix {
          width: auto;
        }
      }

      &.date-filter .mat-form-field-flex {
        width: 100%;
      }
    }

    .mat-calendar-body-selected {
      background-color: mat.get-color-from-palette(mat.define-palette($primary, 700));
    }

    .mat-datepicker-content .mat-calendar-next-button:not(.mat-button-disabled),
    .mat-datepicker-content .mat-calendar-previous-button:not(.mat-button-disabled) {
      color: mat.get-color-from-palette(mat.define-palette($primary, 600));
    }

    .cdk-keyboard-focused
      .mat-calendar-body-active
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
    .cdk-program-focused
      .mat-calendar-body-active
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):focus
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
      > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
      background-color: mat.get-color-from-palette(mat.define-palette($primary, 50));
    }

    .mat-calendar-table-header-divider::after {
      background: mat.get-color-from-palette(mat.define-palette($accent, 300));
    }

    .fullwidth .mat-form-field-appearance-outline {
      &.datepicker-closed,
      &.datepicker-opened {
        .mat-form-field-flex {
          width: 100%;
        }
      }
    }

    .follow-up-date .mat-form-field-appearance-outline.mat-form-field-disabled {
      .mat-form-field-outline > div {
        border-width: 0;
      }

      .mat-form-field-suffix {
        display: none;
      }

      .mat-input-element {
        display: block;
        margin-top: -8px;
        margin-left: -16px;
        color: inherit;
        font-weight: 500;
      }
    }
  }
}
