@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

@mixin menu-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-menu-panel {
      @include mat.elevation(6);

      border: 1px solid mat.get-color-from-palette($sormas-accent, 200);
      margin-top: 5px;
      border-radius: 5px;
    }

    .mat-menu-content {
      min-width: 200px;
    }

    .mat-list-base {
      padding: 0;

      .mat-list-item {
        height: 36px;
        font-size: 14px;
        color: unset;
      }

      .mat-list-item:hover,
      .mat-list-item:focus {
        text-decoration: none;
      }
    }

    .dashboard-filters {
      width: 360px;
      max-width: unset;
    }

    .dashboard-map-legend {
      max-width: unset;
      min-width: 420px;
      width: 45vw;
    }
  }
}
