$brand-primary: (
  50: #e5e7e8,
  100: #bfc3c5,
  200: #959b9e,
  300: #6a7277,
  400: #4a545a,
  500: #2a363d,
  600: #253037,
  700: #1f292f,
  800: #192227,
  900: #0f161a,
  A100: #5dc2ff,
  A200: #2aafff,
  A400: #009af6,
  A700: #008add,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$brand-secondary: (
  50: #e4ebf5,
  100: #bdcee7,
  200: #91add7,
  300: #648cc6,
  400: #4373ba,
  500: #225aae,
  600: #1e52a7,
  700: #19489d,
  800: #143f94,
  900: #0c2e84,
  A100: #b4c6ff,
  A200: #819fff,
  A400: #4e78ff,
  A700: #3565ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
