$brand-neutrals: (
  50: #f5f7fa,
  100: #e1e8f2,
  200: #c1cad9,
  300: #a1adbf,
  400: #8592a6,
  500: #6d798c,
  600: #515b6b,
  700: #3e4654,
  800: #2b323d,
  900: #1b1f26,
  A100: #9bc2db,
  A200: #669ac2,
  A400: #4d7ead,
  A700: #395d8a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$brand-primary: (
  50: #e6f4ff,
  100: #cce9ff,
  200: #a6d8ff,
  300: #87cbff,
  400: #6bbfff,
  500: #59b2ff,
  600: #409fff,
  700: #3281fa,
  800: #1646e0,
  900: #0300ba,
  A100: #b2f5fc,
  A200: #32e6fa,
  A400: #00c7e1,
  A700: #009cac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
