$brand-neutrals: (
  50: #f5f7fa,
  100: #e1e8f2,
  200: #c1cad9,
  300: #a1adbf,
  400: #8592a6,
  500: #6d798c,
  600: #515b6b,
  700: #3e4654,
  800: #2b323d,
  900: #1b1f26,
  A100: #9bc2db,
  A200: #669ac2,
  A400: #4d7ead,
  A700: #395d8a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$brand-primary: (
  50: #e6f4ff,
  100: #cce9ff,
  200: #a6d8ff,
  300: #87cbff,
  400: #6bbfff,
  500: #59b2ff,
  600: #409fff,
  700: #3281fa,
  800: #1646e0,
  900: #0300ba,
  A100: #b2e1e6,
  A200: #32e6fa,
  A400: #00c7e1,
  A700: #009cac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$brand-alert: (
  50: #ffe6e6,
  100: #ffcccc,
  200: #ffa6a6,
  300: #ff8080,
  400: #ff5959,
  500: #ff2626,
  600: #f20000,
  700: #d90000,
  800: #b30000,
  900: #800000,
  A100: #ffe9e9,
  A200: #ffb6b6,
  A400: #ff8383,
  A700: #ff6969,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$brand-success: (
  50: #d9ffe3,
  100: #a2fab9,
  200: #6df290,
  300: #45e66f,
  400: #21d951,
  500: #0ac73c,
  600: #00b32f,
  700: #009928,
  800: #00731e,
  900: #004d14,
  A100: #9affa0,
  A200: #67ff71,
  A400: #34ff41,
  A700: #1aff29,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$brand-warning: (
  50: #fff6cc,
  100: #fff0a6,
  200: #ffea80,
  300: #ffe359,
  400: #fdd926,
  500: #fdca23,
  600: #fdba1e,
  700: #fda312,
  800: #fd7600,
  900: #e05600,
  A100: #ffffff,
  A200: #fff5e0,
  A400: #ffe6ad,
  A700: #ffde93,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
