@mixin progress-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  :root {
    .mat-progress-bar-buffer {
      background-color: mat.get-color-from-palette($sormas-primary, 50);
    }

    .mat-progress-bar {
      &.loading-bar {
        height: 6px;
        border-radius: 3px;

        .mat-progress-bar-fill::after {
          background: linear-gradient(to right, #32e6fa, #3281fa);
        }
      }
    }
  }
}
