@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.merge-duplicates-table-wrapper {
  overflow: auto;
  max-width: 100%;
  margin-top: 40px;

  .uuid {
    .mat-icon {
      font-size: 18px;
      color: mat.get-color-from-palette($sormas-accent, 400);
      cursor: pointer;
    }
  }

  .actions {
    .mat-icon {
      font-size: 24px;
      color: mat.get-color-from-palette($sormas-primary, 700);
      cursor: pointer;
    }
  }
}


table {
  width: 100%;
  th.mat-header-cell {
    border-bottom-color: mat.get-color-from-palette($sormas-accent, 200);
    border-left-width: 0;
    background-color: $white;
  }

  tr.mat-row {
    &:nth-child(2n) {
      td.mat-cell {
        border-bottom: 2px solid mat.get-color-from-palette($sormas-primary, 200);
      }
    }
  }

  tr.mat-row td.mat-cell {
    padding: 5px;
    border: 0;
    background-color: unset;
    border-bottom: 1px solid mat.get-color-from-palette($sormas-accent, 200);

    &.pl-child {
      padding-left: 29px;
    }
  }

  tr.hide {
    display: none;
  }

  .bold {
    font-weight: 500;
  }
}
