@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.merge-duplicates-table-wrapper {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .total {
    font-size: 12px;
    color: mat.get-color-from-palette($sormas-accent, 500);
    text-align: right;
    margin-right: 32px;
  }

  .uuid {
    .mat-icon {
      font-size: 18px;
      color: mat.get-color-from-palette($sormas-accent, 400);
      cursor: pointer;
    }
  }

  .actions {
    .mat-icon {
      font-size: 24px;
      color: mat.get-color-from-palette($sormas-primary, 700);
      cursor: pointer;

      &:hover {
        color: mat.get-color-from-palette($sormas-primary, 800);
      }

      &.pick {
        color: mat.get-color-from-palette($sormas-primary, A400);

        &:hover {
          color: mat.get-color-from-palette($sormas-primary, A700);
        }
      }

      &.is-child {
        font-size: 18px;
        color: mat.get-color-from-palette($sormas-primary, 400);

        &:hover {
          color: mat.get-color-from-palette($sormas-primary, 800);
        }
      }

      &.disabled {
        color: mat.get-color-from-palette($sormas-accent, 300);

        &:hover {
          color: mat.get-color-from-palette($sormas-accent, 300);
        }
      }
    }
  }
}

.mat-table {
  width: 100%;
  overflow: auto;
  height: 100%;

  th.mat-header-cell {
    border-bottom-color: mat.get-color-from-palette($sormas-accent, 200);
    border-left-width: 0;
    background-color: $white;

    &.align-center {
      text-align: center;
    }

    &.align-right {
      text-align: right;
    }
  }

  tr.mat-header-row {
    th {
      &.align-center {
        text-align: center;
      }

      &.align-right {
        text-align: right;
      }
    }
  }

  tr.mat-row {
    &.hide,
    &.hide-all {
      display: none;
    }
    td {
      vertical-align: top;
      text-align: left;

      .row-content {
        width: max-content;
        max-width: 200px;
      }

      &.align-center {
        text-align: center;
      }

      &.align-right {
        text-align: right;
      }

      &.completeness {
        &.value-low {
          font-weight: 500;
          color: mat.get-color-from-palette($sormas-alert, 700);
        }

        &.value-medium {
          font-weight: 500;
          color: mat.get-color-from-palette($sormas-warning, 800);
        }

        &.value-normal {
          font-weight: 500;
          color: mat.get-color-from-palette($sormas-warning, 600);
        }

        &.value-high {
          font-weight: 500;
          color: mat.get-color-from-palette($sormas-success, 700);
        }
      }

      .show-more-content {
        display: inline-block;
        vertical-align: sub;
        height: 16px;
        width: 16px;
        margin-right: 5px;
        &:hover {
          background: mat.get-color-from-palette($sormas-primary, 50);
        }
      }

      .mat-icon.show-more {
        transition: 0.4s;
        transform-origin: 9px 12px;
        font-size: 16px;
        margin-top: -10px;

        &:hover {
          color: mat.get-color-from-palette($sormas-accent, 600);
        }

        &.rotate {
          transform: rotate(-90deg);
        }
      }
    }

    &:nth-child(2n) {
      td.mat-cell {
        background-color: rgb(mat.get-color-from-palette($sormas-primary, 50), 0.5);
      }

      .actions {
        .mat-icon {
          width: 32px;
          height: 32px;
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    &:nth-child(2n + 1) {
      td.mat-cell {
        border-bottom: 2px solid mat.get-color-from-palette($sormas-primary, 200);
      }
    }

    &.child-hidden {
      td.mat-cell {
        border-bottom: 2px solid mat.get-color-from-palette($sormas-primary, 200);
      }
    }
  }

  tr.mat-row td.mat-cell {
    padding: 5px 16px;
    padding-top: 13px;
    border: 0;
    background-color: unset;
    border-bottom: 1px solid mat.get-color-from-palette($sormas-accent, 200);

    &.uuid {
      padding-top: 4px;
    }

    &.pl-child {
      padding-left: 40px;
    }
  }

  .bold {
    font-weight: 500;
  }
}
