@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.info {
  color: mat.get-color-from-palette($sormas-accent, 500);
  font-size: 12px;
}

.mat-icon {
  font-size: 18px;
  vertical-align: middle;
}
