<div [formGroup]="group">
  <mat-form-field
    appearance="outline"
    class="data-select"
    floatLabel="always"
    [ngClass]="{ 'has-hint': !!config.hint }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
      <span *ngIf="config.validation?.length" class="required">*</span>
    </mat-label>
    <mat-select
      disableOptionCentering
      [formControlName]="config.key"
      [placeholder]="config.placeholder || '' | translate"
      [matTooltip]="config.label || '' | translate"
      (selectionChange)="onChange()"
    >
      <mat-option *ngFor="let opt of config.options" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
    <mat-hint class="hint" *ngIf="config.hint">{{ config.hint || '' | translate }}</mat-hint>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
