<div [formGroup]="group">
  <mat-form-field
    appearance="outline"
    class="data-select"
    floatLabel="always"
    [ngClass]="{ 'has-hint': !!config.hint }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
    </mat-label>
    <mat-select
      #control
      disableOptionCentering
      [formControlName]="config.key"
      [placeholder]="config.placeholder || '' | translate"
      [matTooltip]="config.label || '' | translate"
      [multiple]="config.multipleChoice"
      (selectionChange)="onChange()"
    >
      <mat-option *ngFor="let opt of config.options" [value]="opt.key">
        <mat-icon *ngIf="opt.icon" class="material-icons-round">
          <img [src]="opt.icon" />
        </mat-icon>
        {{ opt.value | translate }}
      </mat-option>
      <mat-option *ngIf="config.allowClear" [disabled]="!control.value" class="select-clear-option">
        <span>{{ 'captions.actionClear' | translate }}</span>
      </mat-option>
    </mat-select>
    <mat-hint class="hint" *ngIf="config.hint">{{ config.hint || '' | translate }}</mat-hint>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
