<div [formGroup]="group">
  <mat-form-field
    appearance="outline"
    floatLabel="always"
    [ngClass]="{ 'has-hint': !!config.hint }"
  >
    <mat-label *ngIf="config.label">{{ config.label }}</mat-label>
    <mat-select disableOptionCentering [formControlName]="config.key" (change)="onChange()">
      <mat-option *ngFor="let opt of config.options" [value]="opt.key">
        {{ opt.value }}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">{{ config.validationMessage }}</div>
</div>
