@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.data-select {
  .hint {
    color: mat.get-color-from-palette($sormas-accent, 500);
    font-size: 12px;
  }
}

.mat-option.select-clear-option {
  position: sticky;
  bottom: -8px;
  background-color: $white;
  color: map-get($sormas-accent, 400);
  box-shadow: 0px -1px 1px 0px rgba($black, 0.14), 0px -1px 2px 0px rgba($black, 0.12);

  &.mat-option-disabled {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

.mat-option .mat-icon {
  margin-right: 12px;
}
