@use '/src/variables.scss' as *;

.dialog-title-icon {
  position: absolute;
  margin-top: 18px;
  margin-left: -60px;
  color: map-get($sormas-alert, 200);
  font-size: 40px;
}

.button-cancel {
  margin-right: auto;
}
