<div mat-dialog-title>
  <mat-icon *ngIf="data.titleIcon" class="dialog-title-icon material-icons-round">
    {{ data.titleIcon }}
  </mat-icon>
  <h1 *ngIf="data.title">{{ data.title }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content [innerHtml]="data.message"></div>

<div mat-dialog-actions *ngIf="showActions">
  <button
    *ngIf="data.buttonCancelText"
    mat-button
    [color]="buttonCancelColor"
    class="button-cancel"
    mat-dialog-close
  >
    {{ data.buttonCancelText }}
  </button>
  <button
    *ngIf="data.buttonDeclineText"
    mat-stroked-button
    [color]="buttonDeclineColor"
    [mat-dialog-close]="'DECLINE'"
  >
    {{ data.buttonDeclineText }}
  </button>
  <button
    *ngIf="data.buttonConfirmText"
    mat-flat-button
    [color]="buttonConfirmColor"
    [mat-dialog-close]="'CONFIRM'"
  >
    {{ data.buttonConfirmText }}
  </button>
</div>
