<div class="filters">
  <h2 class="filters-header">{{ 'headingFilters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <mat-form-field id="search" appearance="outline" floatLabel="always" class="search-field">
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        placeholder="{{ 'searchByIdName' | translate }}"
        formControlName="search"
        (change)="onFormChange()"
      />
    </mat-form-field>

    <app-collapsable-box boxTitle="{{ 'Task.taskStatus' | translate }}">
      <mat-radio-group name="taskStatus" formControlName="taskStatus" (change)="onFormChange()">
        <mat-radio-button value="PENDING" color="primary">
          {{ 'TaskStatus.PENDING' | translate }}
        </mat-radio-button>
        <mat-radio-button value="DONE" color="primary">
          {{ 'TaskStatus.DONE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="REMOVED" color="primary">
          {{ 'TaskStatus.REMOVED' | translate }}
        </mat-radio-button>
        <mat-radio-button value="NOT_EXECUTABLE" color="primary">
          {{ 'TaskStatus.NOT_EXECUTABLE' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'Task' | translate }}">
      <mat-radio-group name="task" formControlName="task" (change)="onFormChange()">
        <mat-radio-button value="active" color="primary">
          {{ 'taskActiveTasks' | translate }}
        </mat-radio-button>
        <mat-radio-button value="archived" color="primary">
          {{ 'taskArchivedTasks' | translate }}
        </mat-radio-button>
        <mat-radio-button value="all" color="primary">
          {{ 'taskAllTasks' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'Task.taskContext' | translate }}">
      <mat-radio-group name="taskContext" formControlName="taskContext" (change)="onFormChange()">
        <mat-radio-button value="CASE" color="primary">
          {{ 'TaskContext.CASE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CONTACT" color="primary">
          {{ 'TaskContext.CONTACT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="EVENT" color="primary">
          {{ 'TaskContext.EVENT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="GENERAL" color="primary">
          {{ 'TaskContext.GENERAL' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'task.adminAspect' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="region"
          placeholder="{{ 'CaseData.responsibleRegion' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="district"
          placeholder="{{ 'CaseData.responsibleDistrict' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="assignedTo"
          placeholder="{{ 'Task.assigneeUser' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="createdBy"
          placeholder="{{ 'Task.creatorUser' | translate }}"
        >
          <mat-option value="region1"> {{ 'Region 1' | translate }} </mat-option>
          <mat-option value="region2"> {{ 'Region 2' | translate }} </mat-option>
          <mat-option value="region3"> {{ 'Region 3' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'task.dateFilter' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="dateFilter"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'DateFilterOption.DATE' | translate }}"
        >
          <mat-option value="byDate"> {{ 'DateFilterOption.DATE' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="referenceDate"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'task.referenceDate' | translate }}"
        >
          <mat-option value="referenceDate"> {{ 'task.referenceDate' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        id="start-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker1.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker1"
          size="5"
          formControlName="startDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'task.startDate' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        id="due-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          picker2.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="picker2"
          size="5"
          formControlName="dueDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'Task.dueDate' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
