<section>
  <header [ngClass]="{'listing-header-region': regionName}">
    <h1 *ngIf="!regionName">{{ 'captions.mainMenuConfiguration' | translate }}</h1>
    <div *ngIf="regionName" class="line-listing-region">
      <a [routerLink]="['/configuration/line-listing']" mat-icon-button>
        <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
        <h1>{{ regionName }}</h1>
      </a>
    </div>

    <div class="page-header-actions">
      <app-dropdown-menu buttonText="{{ 'captions.moreActions' | translate }}" *ngIf="exportType === 'basic_detailed'">
        <app-action-menu
          [config]="actionsMore"
          (action)="onActionSelected($event)"
        ></app-action-menu>
      </app-dropdown-menu>
      <button mat-stroked-button color="primary" (click)="export()" class="export-btn" *ngIf="exportType === 'basic'">
        {{ 'captions.export' | translate }}
      </button>
    </div>
  </header>

  <div class="tab-nav-header" *ngIf="!regionName">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title | translate }}
      </a>
    </nav>
  </div>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</section>
