@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.mat-form-field-prefix {
  right: unset;
  left: 4px;
}

.search-icon {
  width: 16px;
  color: mat.get-color-from-palette($sormas-accent, 200);
  font-size: 14px;
}

::placeholder {
  font-size: 12px;
}
