@use '/src/variables.scss' as *;

.section-title {
  flex: 0 0 176px;
  padding: 29px 24px;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: right;
}

.section-content {
  position: relative;
  flex: 1 1 auto;
  padding: 16px 24px;
  @include mat-elevation(1);
  background-color: $white;
  border-radius: 4px;
}

.left-section {
  display: flex;
  justify-content: stretch;
  margin: 10px 0;

  &:hover,
  &:focus {
    background-color: $white;

    .section-content {
      @include mat-elevation(6);
    }
  }
}

.operations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 24px;
  gap: 16px;
}

.actions {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .section-title {
    flex: 0 0 248px;
  }
}
