.superordinate-event-wrapper {
  margin-top: 8px;

  .bottom {
    overflow: hidden;
    > p {
      float: left;
    }

    .superordinate-btns {
      float: right;
    }
  }
}

strong {
  font-weight: 500;
}
