@use '~@angular/material' as mat;
@use '/src/variables.scss' as *;

.date {
  display: flex;
  flex-direction: column;
  width: 36px;
  padding: 4px 0;
  border: 1px solid mat.get-color-from-palette($sormas-accent, 200);
  background-color: $white;
  border-radius: 4px;
  line-height: 14px;
}

.month,
.year {
  display: block;
  text-transform: uppercase;
}

.day {
  display: block;
  color: mat.get-color-from-palette($sormas-accent, 600);
  font-size: 14px;
  font-weight: 500;
}

.date-card {
  display: inline-block;
  vertical-align: top;
  color: mat.get-color-from-palette($sormas-accent, 400);
  font-size: 10px;
  text-align: center;

  &.card .date {
    border-width: 0;
    @include mat.elevation(1);
  }

  &.accent {
    color: mat.get-color-from-palette($sormas-accent, 800);
  }

  &.flat {
    .date {
      border-width: 0;
      background-color: mat.get-color-from-palette($sormas-accent, 50);
    }
  }

  &.highlight {
    color: mat.get-color-from-palette($sormas-accent, 800);

    .date {
      border-color: mat.get-color-from-palette($sormas-primary, 400);
    }

    .month {
      color: mat.get-color-from-palette($sormas-primary, 400);
    }
  }
}

:host(.event-date) .date {
  color: mat.get-color-from-palette($sormas-accent, 800);

  .day {
    order: 1;
    color: inherit;
  }

  .month {
    order: 2;
  }
}
