@use '../../../../../src/variables.scss' as *;

.menu {
  display: flex;
  height: 100%;
}

.mat-button {
  min-width: 0;
  padding: 0;
  margin: 0 16px 0 16px;
  line-height: 68px;

  &.route-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: map-get($sormas-primary, 700);
    content: '';
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .mat-button {
    margin: 0 12px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .mat-button {
    margin: 0 16px;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .menu {
    flex-direction: column;
  }

  .mat-button {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 0;
    color: $white;
    line-height: 1;

    &.route-active {
      color: map-get($sormas-primary, 700);
    }

    &.route-active::after {
      display: none;
    }
  }
}
