<section>
  <h2>
    {{ 'dashboardDiseaseOverview' | translate }}
    <app-toggle-view (selection)="onViewChange($event)"></app-toggle-view>
  </h2>

  <div *ngIf="viewMode === viewOptions.PRIMARY" class="overview-disease-list">
    <app-card-list
      *ngIf="data?.length"
      [data]="data"
      [cardWidth]="242"
      [cardType]="'disease'"
    ></app-card-list>
  </div>

  <div *ngIf="viewMode === viewOptions.SECONDARY" class="overview-disease-table">
    <app-table-static
      [data]="data"
      [tableColumns]="columnDefs"
      [styleRow]="determineDiseaseProgress"
    ></app-table-static>
  </div>
</section>
