<div class="filters">
  <h2 class="filters-header">{{ 'strings.headingFilters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <mat-form-field id="freeText" appearance="outline" floatLabel="always" class="search-field">
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'strings.promptEventsSearchField' | translate }}"
        formControlName="freeText"
        (debounce)="onFormChange()"
      />
    </mat-form-field>

    <app-collapsable-box boxTitle="{{ 'captions.Event.riskLevel' | translate }}">
      <mat-radio-group name="riskLevel" formControlName="riskLevel" (change)="onFormChange()">
        <mat-radio-button value="LOW" color="primary">
          {{ 'enum.RiskLevel.LOW' | translate }}
        </mat-radio-button>
        <mat-radio-button value="MODERATE" color="primary">
          {{ 'enum.RiskLevel.MODERATE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="HIGH" color="primary">
          {{ 'enum.RiskLevel.HIGH' | translate }}
        </mat-radio-button>
        <mat-radio-button value="UNKNOWN" color="primary">
          {{ 'enum.RiskLevel.UNKNOWN' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.EventAction.eventStatus' | translate }}">
      <mat-radio-group name="eventStatus" formControlName="eventStatus" (change)="onFormChange()">
        <mat-radio-button value="ALL" color="primary">
          {{ 'captions.all' | translate }}
        </mat-radio-button>
        <mat-radio-button value="SIGNAL" color="primary">
          {{ 'enum.EventStatus.SIGNAL' | translate }}
        </mat-radio-button>
        <mat-radio-button value="EVENT" color="primary">
          {{ 'enum.EventStatus.EVENT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="SCREENING" color="primary">
          {{ 'enum.EventStatus.SCREENING' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CLUSTER" color="primary">
          {{ 'enum.EventStatus.CLUSTER' | translate }}
        </mat-radio-button>
        <mat-radio-button value="DROPPED" color="primary">
          {{ 'enum.EventStatus.DROPPED' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.Event.eventInvestigationStatus' | translate }}">
      <mat-radio-group
        name="eventInvestigationStatus"
        formControlName="eventInvestigationStatus"
        (change)="onFormChange()"
      >
        <mat-radio-button value="PENDING" color="primary">
          {{ 'enum.EventInvestigationStatus.Short.PENDING' | translate }}
        </mat-radio-button>
        <mat-radio-button value="ONGOING" color="primary">
          {{ 'enum.EventInvestigationStatus.Short.ONGOING' | translate }}
        </mat-radio-button>
        <mat-radio-button value="DONE" color="primary">
          {{ 'enum.EventInvestigationStatus.Short.DONE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="DISCARDED" color="primary">
          {{ 'enum.EventInvestigationStatus.Short.DISCARDED' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.eventDefaultView' | translate }}">
      <mat-radio-group name="event" formControlName="event" (change)="onFormChange()">
        <mat-radio-button value="active" color="primary">
          {{ 'captions.eventActiveEvents' | translate }}
        </mat-radio-button>
        <mat-radio-button value="archived" color="primary">
          {{ 'captions.eventArchivedEvents' | translate }}
        </mat-radio-button>
        <mat-radio-button value="all" color="primary">
          {{ 'captions.eventAllEvents' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.eventEventParticipants' | translate }}">
      <mat-form-field
        id="freeTextEventParticipants"
        appearance="outline"
        floatLabel="always"
        class="search-field"
      >
        <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
        <input
          value=""
          type="text"
          matInput
          appDebounce
          placeholder="{{ 'strings.promptEventsSearchFieldEventParticipants' | translate }}"
          formControlName="freeTextEventParticipants"
          (debounce)="onFormChange()"
        />
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.EventGroup' | translate }}">
      <mat-form-field
        id="freeTextEventGroups"
        appearance="outline"
        floatLabel="always"
        class="search-field"
      >
        <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
        <input
          value=""
          type="text"
          matInput
          appDebounce
          placeholder="{{ 'strings.promptEventsSearchFieldEventGroups' | translate }}"
          formControlName="freeTextEventGroups"
          (debounce)="onFormChange()"
        />
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingMedicalAspects' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="disease"
          placeholder="{{ 'captions.Event.diseaseShort' | translate }}"
        >
          <mat-option value="corona">Corona</mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingAdminAspect' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="reportingUser"
          placeholder="{{ 'strings.reportedBy' | translate }}"
        >
          <mat-option value="survoff">Surveillance Officer</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="responsibleUser"
          placeholder="{{ 'captions.Event.responsibleUser' | translate }}"
        >
          <mat-option value="survoff">Surveillance Officer</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="region"
          placeholder="{{ 'captions.EventParticipant.region' | translate }}"
        >
          <mat-option value="default_region">Default region</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="district"
          placeholder="{{ 'captions.EventParticipant.district' | translate }}"
        >
          <mat-option value="default_district">Default district</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="community"
          placeholder="{{ 'Event.responsibleCommunity' | translate }}"
        >
          <mat-option value="default_community">Default community</mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingDateFilter' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          formControlName="dateType"
          (selectionChange)="onFormChange()"
          placeholder="{{ 'enum.DateFilterOption.DATE' | translate }}"
        >
          <mat-option value="byDate"> {{ 'enum.DateFilterOption.DATE' | translate }} </mat-option>
          <mat-option value="byEpiWeek">
            {{ 'enum.DateFilterOption.EPI_WEEK' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        id="start-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          pickerStartDate.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="pickerStartDate"
          size="5"
          formControlName="startDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'captions.Event.startDate' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerStartDate"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field
        id="due-date"
        appearance="outline"
        floatLabel="always"
        class="{{
          pickerEndDate.opened ? 'datepicker-opened' : 'datepicker-closed'
        }} date-filter has-hint"
      >
        <input
          matInput
          [matDatepicker]="pickerEndDate"
          size="5"
          formControlName="dueDate"
          (dateChange)="onFormChange()"
        />
        <mat-hint>{{ 'captions.Event.endDate' | translate }}</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEndDate"
          class="datepicker-icon"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingMoreFilters' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="countMethod"
          placeholder="{{ 'captions.Event.contactCountMethod' | translate }}"
        >
          <mat-option value="all">
            {{ 'enum.EventContactCountMethod.ALL' | translate }}
          </mat-option>
          <mat-option value="withSourceCase">
            {{ 'enum.EventContactCountMethod.SOURCE_CASE_IN_EVENT' | translate }}
          </mat-option>
          <mat-option value="both">
            {{ 'enum.EventContactCountMethod.BOTH_METHODS' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="srcType"
          placeholder="{{ 'captions.Event.srcType' | translate }}"
        >
          <mat-option value="NOT_APPLICABLE">
            {{ 'enum.EventSourceType.NOT_APPLICABLE' | translate }}
          </mat-option>
          <mat-option value="MEDIA_NEWS">
            {{ 'enum.EventSourceType.MEDIA_NEWS' | translate }}
          </mat-option>
          <mat-option value="HOTLINE_PERSON">
            {{ 'enum.EventSourceType.HOTLINE_PERSON' | translate }}
          </mat-option>
          <mat-option value="MATHEMATICAL_MODEL">
            {{ 'enum.EventSourceType.MATHEMATICAL_MODEL' | translate }}
          </mat-option>
          <mat-option value="INSTITUTIONAL_PARTNER">
            {{ 'enum.EventSourceType.INSTITUTIONAL_PARTNER' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="countMethod"
          placeholder="{{ 'captions.Event.contactCountMethod' | translate }}"
        >
          <mat-option value="FACILITY"> {{ 'enum.TypeOfPlace.FACILITY' | translate }} </mat-option>
          <mat-option value="FESTIVITIES">
            {{ 'enum.TypeOfPlace.FESTIVITIES' | translate }}
          </mat-option>
          <mat-option value="HOME"> {{ 'enum.TypeOfPlace.HOME' | translate }} </mat-option>
          <mat-option value="MEANS_OF_TRANSPORT">
            {{ 'enum.TypeOfPlace.MEANS_OF_TRANSPORT' | translate }}
          </mat-option>
          <mat-option value="PUBLIC_PLACE">
            {{ 'enum.TypeOfPlace.PUBLIC_PLACE' | translate }}
          </mat-option>
          <mat-option value="SCATTERED">
            {{ 'enum.TypeOfPlace.SCATTERED' | translate }}
          </mat-option>
          <mat-option value="UNKNOWN"> {{ 'enum.TypeOfPlace.UNKNOWN' | translate }} </mat-option>
          <mat-option value="OTHER"> {{ 'enum.TypeOfPlace.OTHER' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
