@use '/src/variables.scss' as *;

.filters-header {
  margin: 16px 0;
  font-size: 24px;
}

.mat-radio-group {
  margin: 0;

  .mat-radio-button {
    display: block;
    margin: 0;
    font-weight: 400;
  }
}

.collapsable-field {
  margin: 12px 0;
}

.search-field {
  .search-icon {
    width: 14px;
    height: 12px;
    color: map-get($sormas-accent, 200);
    font-size: 12px;
  }
  ::placeholder {
    color: map-get($sormas-accent, 200);
    font-size: 12px;
  }
}
