<div mat-dialog-title>
  <h2>{{ 'strings.headingPickOrCreatePerson' | translate }}</h2>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
    <button mat-stroked-button color="primary" class="cancel-btn" mat-dialog-close>
      {{ 'captions.actionCancel' | translate }}
    </button>
    <button
      [disabled]="!selection?.uuid && action !== selectOptions.CREATE_NEW"
      mat-flat-button
      color="primary"
      class="confirm-btn"
      (click)="confirm()"
    >
      {{ 'captions.actionConfirm' | translate }}
    </button>
  </div>
</div>

<div mat-dialog-content>
  <div class="info-text">
    <mat-icon class="material-icons-round">info</mat-icon>
    <p [innerHtml]="data.info"></p>
  </div>

  <div *ngIf="person" class="person">
    <div class="person-attribute">
      <span class="label">{{ 'captions.firstName' | translate }}</span>
      <strong>{{ person.firstName }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.lastName' | translate }}</span>
      <strong>{{ person.lastName }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.nickname' | translate }}</span>
      <strong>{{ person.nickname }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.ageAndBirthDate' | translate }}</span>
      <strong>{{ person.ageAndBirthDate }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.sex' | translate }}</span>
      <strong>{{ person.sex }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.presentCondition' | translate }}</span>
      <strong>{{ person.presentCondition }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.phone' | translate }}</span>
      <strong>{{ person.phone }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.district' | translate }}</span>
      <strong>{{ person.districtName }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.community' | translate }}</span>
      <strong>{{ person.communityName }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Location.postalCode' | translate }}</span>
      <strong>{{ person.postalCode }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.city' | translate }}</span>
      <strong>{{ person.city }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Location.street' | translate }}</span>
      <strong>{{ person.street }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Location.houseNumber' | translate }}</span>
      <strong>{{ person.houseNumber }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.nationalHealthId' | translate }}</span>
      <strong>{{ person.nationalHealthId }}</strong>
    </div>
    <div class="person-attribute">
      <span class="label">{{ 'captions.Person.passportNumber' | translate }}</span>
      <strong>{{ person.passportNumber }}</strong>
    </div>
  </div>

  <form [formGroup]="form">
    <mat-radio-group formControlName="action">
      <mat-radio-button [value]="selectOptions.SELECT" color="primary">
        {{ 'captions.personSelect' | translate }}
      </mat-radio-button>
      <div class="similar-persons" *ngIf="action === selectOptions.SELECT">
        <app-table-static
          [data]="matchingPersons"
          [tableColumns]="defaultColumns"
          [isSelectable]="true"
          [isHeaderSticky]="true"
          [showCheckbox]="false"
          [appearance]="tableAppearanceOptions.MINIMAL"
          (selectItem)="onSelectEvent($event)"
        ></app-table-static>
      </div>

      <mat-radio-button [value]="selectOptions.SEARCH_AND_SELECT" color="primary">
        {{ 'captions.personSearchAndSelect' | translate }}
      </mat-radio-button>

      <div *ngIf="action === selectOptions.SEARCH_AND_SELECT" class="filters">
        <mat-form-field appearance="outline" floatLabel="always" class="search-field">
          <input
            type="text"
            matInput
            appDebounce
            placeholder="{{ 'captions.firstName' | translate }}"
            formControlName="firstName"
            (debounce)="onFilterChange()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" class="search-field">
          <input
            type="text"
            matInput
            appDebounce
            placeholder="{{ 'captions.lastName' | translate }}"
            formControlName="lastName"
            (debounce)="onFilterChange()"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always" class="search-field">
          <input
            type="text"
            matInput
            appDebounce
            placeholder="{{ 'strings.promptPersonDuplicateSearchIdExternalId' | translate }}"
            formControlName="uuidExternalIdExternalTokenLike"
            (debounce)="onFilterChange()"
          />
        </mat-form-field>
      </div>
      <div class="similar-persons" *ngIf="action === selectOptions.SEARCH_AND_SELECT">
        <app-table-static
          [data]="differentPersons"
          [tableColumns]="defaultColumns"
          [isSelectable]="true"
          [isHeaderSticky]="true"
          [showCheckbox]="false"
          [appearance]="tableAppearanceOptions.MINIMAL"
          (selectItem)="onSelectEvent($event)"
        ></app-table-static>
      </div>

      <mat-radio-button [value]="selectOptions.CREATE_NEW" color="primary">
        {{ 'captions.personCreateNew' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</div>
