<div [formGroup]="group">
  <mat-checkbox
    color="primary"
    [ngClass]="[config.className || '']"
    (change)="onChange()"
    [formControlName]="config.key"
    *ngIf="!config.options.length"
    [id]="config.key"
  >
    {{ config.label || '' | translate }}
  </mat-checkbox>
  <div *ngIf="config.options.length">
    <mat-label *ngIf="config.label" class="selection-list-label">
      {{ config.label || '' | translate }}
    </mat-label>
    <mat-selection-list [formControlName]="config.key" (change)="onChange()">
      <mat-list-option
        color="primary"
        class="single-item"
        [value]="opt.key"
        [id]="opt.key"
        *ngFor="let opt of config.options"
      >
        {{ opt.value || '' | translate }}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
