@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.selection-list-label {
  display: block;
  margin-top: 10px;
}

.required {
  color: mat.get-color-from-palette($sormas-alert, 300);
}
