<app-sidebar>
  <app-dynamic-form
    #form
    main
    [formId]="formId"
    [formElements]="myFormElements"
    [resourceService]="resourceService"
    [withAnchor]="true"
  ></app-dynamic-form>
  <div aside>
    <app-edge-panel
      type="EVENT"
      *ngIf="contact"
      [resourceService]="eventService"
      [scopeId]="contact.caze?.uuid"
      [cardCollapse]="true"
      [showCheckBoxFilter]="true"
    ></app-edge-panel>
    <app-edge-panel
      type="TASK"
      *ngIf="contact"
      [resourceService]="taskService"
      [scopeId]="contact.caze?.uuid"
      [cardCollapse]="true"
    ></app-edge-panel>
    <app-edge-panel
      type="SAMPLE"
      *ngIf="contact"
      [resourceService]="sampleService"
      [scopeId]="contact.caze?.uuid"
      [cardCollapse]="true"
    ></app-edge-panel>
    <app-edge-panel
      type="VACCINATION"
      *ngIf="contact"
      [resourceService]="vaccinationService"
      [scopeId]="contact.caze?.uuid"
    ></app-edge-panel>
    <app-documents-panel *ngIf="contact" [entityUuid]="contact.uuid!"></app-documents-panel>
    <app-edge-panel
      type="DOCUMENT_TEMPLATE"
      *ngIf="contact"
      [resourceService]="documentTemplateService"
      [scopeId]="contact.uuid"
      [cardEdit]="false"
    ></app-edge-panel>
  </div>
</app-sidebar>
