<div class="filters">
  <h2 class="filters-header">{{ 'strings.headingFilters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <mat-form-field id="nameEpidLike" appearance="outline" floatLabel="always" class="search-field">
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'strings.promptSearch' | translate }}"
        formControlName="nameEpidLike"
        (debounce)="onFormChange()"
      />
    </mat-form-field>

    <app-collapsable-box boxTitle="{{ 'strings.entityRegions' | translate }}">
      <mat-radio-group
        name="relevanceStatus"
        formControlName="relevanceStatus"
        (change)="onFormChange()"
      >
        <mat-radio-button value="ACTIVE" color="primary">
          {{ 'captions.regionActiveRegions' | translate }}
        </mat-radio-button>
        <mat-radio-button value="ARCHIVED" color="primary">
          {{ 'captions.regionArchivedRegions' | translate }}
        </mat-radio-button>
        <mat-radio-button value="ALL" color="primary">
          {{ 'captions.regionAllRegions' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <mat-form-field formGroupName="country" appearance="outline" class="collapsable-field">
      <mat-select
        disableOptionCentering
        (selectionChange)="onFormChange()"
        formControlName="uuid"
        placeholder="{{ 'captions.country' | translate }}"
      >
        <mat-option *ngFor="let country of countriesOptions" [value]="country.field">
          {{ country.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
