@use '/src/variables.scss' as *;

.info-text {
  max-width: 520px;
  margin: 0 auto;
  color: map-get($sormas-accent, 500);
  font-size: 12px;
  line-height: 16px;

  .mat-icon {
    margin-left: -24px;
    float: left;
    font-size: 18px;
  }
}

.actions {
  margin-top: 32px;
  text-align: center;

  button + button {
    margin-left: 24px;
  }
}
