@import '../../../styles.scss';

:host {
  text-align: center;

  header {
    padding: 1rem;
    background-color: $blue;
    color: $white;

    figure {
      padding: 0.3rem;
      margin: auto;

      img {
        border-radius: 0.8rem;
      }
    }

    figcaption {
      padding: 0.3rem;
      font-size: 1.5rem;
    }
  }

  nav {
    margin: 0.5rem;
    a {
      padding: 15px;
      margin-right: 10px;
      color: $white;
      text-decoration: none;

      &:hover:focus {
        background-color: lighten($blue, 5);
      }

      &.active {
        background-color: lighten($blue, 3);
      }
    }
  }
}
