<div class="main-wrapper">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <div class="logo">
        <figure>
          <img [src]="logo" i18n-alt alt="logo" />
          <figcaption i18n>Sormas</figcaption>
        </figure>
      </div>
      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let item of navigation"
          (click)="sidenav.close()"
          [routerLink]="[item.link]"
          routerLinkActive="active"
          i18n
        >
          {{ item.label }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">
      <div class="toolbar">
        <div class="toolbar">
          <mat-toolbar color="primary">
            <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
              <fa-icon icon="bars"></fa-icon>
            </button>

            <span routerLink="" class="logo spacer d-inline d-sm-none">
              <figure>
                <img [src]="logo" i18n-alt alt="logo" />
                <figcaption i18n>Sormas</figcaption>
              </figure>
            </span>

            <span class="d-none d-md-inline">
              <button
                mat-button
                class="nav-button"
                *ngFor="let item of navigation"
                [routerLink]="[item.link]"
                routerLinkActive="active"
              >
                {{ item.label }}
              </button>
            </span>
          </mat-toolbar>
        </div>

        <div class="content">
          <ng-content></ng-content>
        </div>

        <div class="footer"></div>
      </div>
    </div>
  </mat-sidenav-container>
</div>
