@use './src/variables.scss' as *;

.main-wrapper {
  width: 100%;
  height: 100%;
}

.menu-burger {
  margin: 0 auto;
}

.mat-toolbar {
  &.mat-toolbar-single-row {
    height: 68px;
    background: linear-gradient(
      90deg,
      map-get($sormas-accent, 900) 0%,
      map-get($sormas-accent, 800) 100%
    );
  }
}

.sidenav-figure {
  width: 40px;
  height: 25px;
  margin: 0 1rem 0 0.5rem;
}

.menu-top {
  height: 100%;
}

.toolbar {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  .mat-stroked-button {
    margin-right: 10px;
  }
}

.mat-sidenav {
  width: 100%;
  background: linear-gradient(
    90deg,
    map-get($sormas-accent, 900) 0%,
    map-get($sormas-accent, 800) 100%
  );
  color: $white;

  .mat-nav-list {
    justify-content: center;
    padding-top: 0;

    .menu-item-label {
      text-align: center;
    }
    button {
      display: block;
      width: 100%;
      margin: 0;
      color: $white;
      line-height: 40px;

      .align-center {
        width: 100%;
        text-align: center;
      }
      &.is-menu-item-active {
        color: map-get($sormas-primary, 700);
      }
    }
  }
}

.mat-sidenav-container {
  &[fullscreen] {
    top: 68px;
  }
}

.content {
  height: 100%;
  padding: 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .menu-burger {
    transition: 0.3s;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .content {
    padding: 0.3rem;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .sidenav-figure {
    position: absolute;
  }
}
