@use './src/variables.scss' as *;

.main-wrapper {
  width: 100%;
  height: 100%;
}

mat-sidenav {
  width: 15.625rem;
  width: 100%;
  background-color: map-get($sormas-accent, 800);
  color: $white;

  .sidenav-figure {
    margin: 15px 15px 0 15px;
  }

  .logo {
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.625rem;

      figcaption {
        font-size: large;
      }

      > * {
        margin-left: 0.4rem;
      }
    }
    img {
      position: absolute;
      left: 20px;
    }

    .inner-hamburger-menu {
      color: map-get($sormas-primary, 700);
    }
  }

  .mat-nav-list {
    justify-content: center;
    padding-top: 0;
    .menu-item-label {
      text-align: center;
    }
  }

  mat-nav-list {
    a {
      color: $white;

      .align-center {
        width: 100%;
        text-align: center;
      }
      &.active {
        color: map-get($sormas-primary, 700);
      }
    }
  }
}

mat-sidenav-container {
  width: 100%;
  height: 445px;

  .toolbar {
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;

    .mat-toolbar-single-row {
      height: 68px;
    }

    .hamburger-menu {
      display: none;
    }

    .button-container {
      margin-left: 16px;

      .nav-button {
        min-width: 0;
        padding: 0;
        margin: 0 16px 0 16px;
      }

      .is-menu-item-active {
        height: 68px;
        padding: 0 0px;
        border-bottom: solid 4px map-get($sormas-primary, 700);
        border-radius: 0;
        line-height: 68px;
      }
    }

    fa-icon {
      font-size: 24px;
    }

    .logo {
      cursor: pointer;
      figure {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 10px auto 10px 0;

        > * {
          margin-left: 0.4rem;
        }
      }
    }

    .mat-stroked-button {
      margin-right: 10px;
    }

    .spacer {
      flex: 0 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, md)) {
      .nav-button {
        display: none;
      }
      .hamburger-menu {
        position: absolute;
        right: 0;
        left: 0;
        display: block;
        margin: 0 auto !important;
      }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    .content {
      width: 99%;
      height: 90vh;
      flex: 1 0 auto;
      padding: 2rem;
      margin-top: 3rem;
      overflow-y: auto;
      text-align: center;
    }

    @media (max-width: map-get($grid-breakpoints, sm)) {
      .content {
        width: 100%;
        padding: 0.3rem;
        margin-top: 4rem;
      }
    }
  }
}
