<header>
  <figure>
    <img src="assets/img/sormas-logo.png" alt="logo" />
    <figcaption>Sormas</figcaption>
  </figure>

  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> About </a>
    <a routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Tasks </a>
  </nav>
</header>

<main>
  <ng-content></ng-content>
</main>

<footer></footer>
