@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.contact-case-details-wrapper {
  .with-caze {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .text {
      p {
        line-height: 36px;
        margin: 0;

        > span.bold {
          font-weight: 500;
        }
      }
    }
  }
}

.info {
  margin-top: 10px;
  font-size: 12px;
  color: mat.get-color-from-palette($sormas-accent, 500);
}

:host-context(.line-listing-add) {
  .with-caze {
    display: block;
  }

  .button-add-case,
  .button-open-case {
    display: none;
  }
}
