@use '../../../variables' as *;

.menu {
  @include mat-elevation(2);
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  height: 68px;
  background: linear-gradient(90deg, #1b1f26 0%, #2b323d 100%);
  color: $white;

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }

  .logo {
    margin: 20px 10px 0 25px;
    float: left;
  }
}

.mat-icon-button {
  display: none;
}

.mat-button {
  min-width: 0;
  padding: 0;
  margin: 0 16px 0 16px;
  line-height: 68px;

  &.route-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: map-get($sormas-primary, 700);
    content: '';
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .mat-button {
    margin: 0 12px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .mat-button {
    margin: 0 16px;
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .menu {
    height: auto;
    min-height: 68px;
    flex-direction: column;

    .mat-button {
      display: none;
      width: 100%;
      padding: 12px;
      margin: 0;
      color: $white;
      line-height: 1;

      &.route-active {
        color: map-get($sormas-primary, 700);
      }

      &.route-active::after {
        display: none;
      }
    }

    .mat-icon-button {
      top: 14px;
      right: 40px;
      display: block;
      margin: 0 auto;
    }

    &.open {
      z-index: 10;
      padding-bottom: 24px;
      text-align: center;

      .menu-overlay {
        display: block;
        background-color: rgba(mat-color($sormas-accent, 900), 0.2);
      }

      .mat-icon-button {
        margin-bottom: 14px;
        color: map-get($sormas-primary, 700);
      }

      .mat-button {
        display: block;
      }
    }
  }
}
