@use '../../../variables' as *;

.menu {
  @include mat-elevation(2);
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  height: 68px;
  background: linear-gradient(90deg, #1b1f26 0%, #2b323d 100%);
  color: $white;

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }

  .logo {
    margin: 20px 10px 0 25px;
    float: left;
  }
}

.mat-icon-button {
  display: none;
}

.main-menu {
  height: 100%;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .menu {
    overflow: hidden;
    height: auto;
    flex-direction: column;

    .mat-icon-button {
      top: 14px;
      right: 40px;
      display: block;
      margin: 0 auto;
    }
  }
}
