<div class="menu" [@animateMenu]="!menuOpen ? 'close' : 'open'">
  <div class="menu-overlay" (click)="toggleMenu(false)" (keyup.enter)="toggleMenu(false)"></div>
  <img class="logo" [src]="logo" i18n-alt alt="logo" />
  <button mat-icon-button (click)="toggleMenu()" (keyup.enter)="toggleMenu()">
    <mat-icon class="material-icons-round">menu</mat-icon>
  </button>
  <nav mat-tab-nav-bar class="main-menu">
    <a
      mat-tab-link
      *ngFor="let route of routeConfig"
      [routerLink]="[route.link]"
      [active]="isSelectedLink(route.selectedLink)"
      (click)="toggleMenu()"
      (keyup.enter)="toggleMenu()"
    >
      {{ route.label | translate }}
    </a>
  </nav>
</div>
