<nav [ngClass]="menuOpen ? 'menu open' : 'menu'" [@animateMenu]="!menuOpen ? 'close' : 'open'">
  <div class="menu-overlay" (click)="toggleMenu(false)"></div>
  <img class="logo" [src]="logo" i18n-alt alt="logo" />
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon class="material-icons-round">menu</mat-icon>
  </button>
  <a
    mat-button
    *ngFor="let route of routeConfig"
    [routerLink]="[route.link]"
    [routerLinkActive]="['route-active']"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="toggleMenu()"
  >
    {{ route.label | translate }}
  </a>
</nav>
