@use '@angular/material' as mat;
@use '../../../variables' as *;

:host {
  display: block;
}

.menu {
  @include mat.elevation(2);
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 68px;
  background: linear-gradient(90deg, #1b1f26 0%, #2b323d 100%);
  color: $white;

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
}

.logo {
  display: flex;
  height: 68px;
  padding-right: 24px;
  padding-left: 24px;

  img {
    width: 40px;
  }
}

.button-toggle {
  display: none;
}

.main-menu {
  height: 100%;
}

.user-menu {
  display: flex;
  height: 68px;
  align-items: center;
  margin-right: 24px;
  margin-left: auto;
}

.button-user-menu {
  width: 30px;
  height: 30px;
  border: 2px solid map-get($sormas-accent, 600);
  border-radius: 50%;
  color: map-get($sormas-primary, 50);
  line-height: 24px;

  &:not(.about) .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
  }

  &.active {
    background-color: map-get($sormas-accent, 700);
    color: map-get($sormas-primary, 200);
  }

  &:hover,
  &:focus {
    background-color: map-get($sormas-accent, 700);
  }

  & + & {
    margin-left: 12px;
  }
}

.button-user-menu.about {
  width: 24px;
  height: 24px;
  border: 0;
  color: map-get($sormas-primary, 200);

  &.active,
  &:hover,
  &:focus {
    color: map-get($sormas-primary, 400);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .button-user-menu {
    transition: 0.2s;
  }
}

.collapsed {
  &.menu {
    overflow: hidden;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .button-toggle {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
  }

  .main-menu {
    flex-basis: 100%;
    order: 4;
  }
}

:host-context([dir='rtl']) {
  .user-menu {
    margin-left: 24px;
    margin-right: auto;
  }

  .button-user-menu + .button-user-menu {
    margin-left: 0;
    margin-right: 12px;
  }
}
