<button mat-icon-button mat-dialog-close class="button-dialog-close">
  <mat-icon class="material-icons-round">highlight_off</mat-icon>
</button>

<h1 mat-dialog-title>{{ 'exportCaseCustom' | translate }}</h1>

<mat-dialog-content>
  <p class="info-text">{{ 'infoCustomExport' | translate }}</p>

  <div class="list-heading">
    <h2>{{ 'ExportConfiguration.myExports' | translate }}</h2>
    <div class="list-heading-actions">
      <button mat-flat-button color="primary">
        {{ 'exportNewExportConfiguration' | translate }}
      </button>
    </div>
  </div>

  <div class="list-holder">
    <app-card-list
      [data]="dataMyExports"
      [cardWidth]="200"
      [cardEdit]="true"
      [cardDelete]="true"
      cardDeletePosition="TOPRIGHT"
      cardType="download"
      cardTitleKey="title"
      [cardAppearance]="appearance.OUTLINED"
      cardStatus="unclassified"
    ></app-card-list>
  </div>

  <div class="list-heading">
    <h2>{{ 'ExportConfiguration.sharedExports' | translate }}</h2>
  </div>

  <div class="list-holder">
    <app-card-list
      [data]="dataSharedExports"
      [cardWidth]="200"
      cardType="download"
      cardTitleKey="title"
    ></app-card-list>
  </div>
</mat-dialog-content>
