<div mat-dialog-title>
  <h1>{{ 'captions.exportCaseCustom' | translate }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <p class="info-text">{{ 'strings.infoCustomExport' | translate }}</p>

  <div class="list-heading">
    <h2>{{ 'captions.ExportConfiguration.myExports' | translate }}</h2>
    <div class="list-heading-actions">
      <button mat-flat-button color="primary" (click)="addEditExportConfiguration()">
        {{ 'captions.exportNewExportConfiguration' | translate }}
      </button>
    </div>
  </div>

  <div class="list-holder">
    <app-card-list
      [data]="dataMyExports"
      [cardWidth]="200"
      [cardEdit]="true"
      [cardDelete]="true"
      cardDeletePosition="TOPRIGHT"
      cardType="download"
      cardTitleKey="title"
      [cardAppearance]="appearance.OUTLINED"
      cardStatus="unclassified"
      (editCard)="addEditExportConfiguration($event)"
    ></app-card-list>
  </div>

  <div class="list-heading">
    <h2>{{ 'captions.ExportConfiguration.sharedExports' | translate }}</h2>
  </div>

  <div class="list-holder">
    <app-card-list
      [data]="dataSharedExports"
      [cardWidth]="200"
      cardType="download"
      cardTitleKey="title"
    ></app-card-list>
  </div>
</div>
