@use '/src/variables.scss' as *;

.mat-dialog-title {
  padding: 48px 32px 24px 64px;

  > h1 {
    margin: 0;
  }

  .button-dialog-close {
    top: 2px;
    right: 2px;
  }
}

.mat-dialog-content {
  padding: 14px 16px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .mat-dialog-content {
    padding: 14px 24px;
  }
}
