<div mat-dialog-title>
  <h1>{{ data.title }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
    <button mat-button color="primary" (click)="archive()" *ngIf="data.archive">
      {{ 'captions.actionArchiveCoreEntity' | translate }}
    </button>
    <button mat-button color="warn" (click)="delete()" *ngIf="data.delete">
      {{ 'captions.actionDelete' | translate }}
    </button>
    <button mat-stroked-button color="primary" class="reset-btn" (click)="discard()">
      {{ 'Discard' | translate }}
    </button>
    <button mat-flat-button color="primary" class="save-btn" (click)="save()">
      {{ 'Save' | translate }}
    </button>
  </div>
</div>

<div mat-dialog-content>
  <ng-template #addEditResource></ng-template>
</div>
