<section *ngIf="event">
  <header>
    <a [routerLink]="['/events/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1>{{ event.eventTitle }}</h1>
  </header>

  <div class="person-information">
    <ul>
      <li *ngIf="event.eventStatus">
        <strong i18n>{{ 'captions.Event.eventStatus' | translate }}: </strong>
        {{ event.eventStatus }}
      </li>
      <li *ngIf="event.uuid">
        <strong i18n>{{ 'captions.Event.uuid' | translate }}: </strong>
        {{ event.uuid }}
      </li>
    </ul>
  </div>

  <div class="tab-nav-header">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title | translate }}
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <app-form-actions [resource]="event"></app-form-actions>
    </div>
  </div>

  <div class="page-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</section>
