<section *ngIf="event">
  <header>
    <a *ngIf="showTabs" [routerLink]="['/events/list']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <a *ngIf="!showTabs" [routerLink]="['/events/event/' + eventId + '/participants']" mat-icon-button>
      <mat-icon class="material-icons-round" color="accent">keyboard_backspace</mat-icon>
    </a>
    <h1 *ngIf="!showTabs">{{ eventParticipant?.person?.lastName }} {{ eventParticipant?.person?.firstName }} </h1>
    <span *ngIf="!showTabs">
      <mat-icon class="material-icons-round chevron-right-1" color="accent">chevron_right</mat-icon>
      <mat-icon class="material-icons-round chevron-right-2" color="accent">chevron_right</mat-icon>
    </span>
    <h2 *ngIf="!showTabs" class="event-title">{{ event.eventTitle }} </h2>
    <h1 *ngIf="showTabs">{{ event.eventTitle }}</h1>
  </header>

  <app-info-bar *ngIf="showTabs" [data]="event" [type]="'EVENT'"></app-info-bar>
  <app-info-bar *ngIf="!showTabs" [data]="event" [type]="'EVENT_P'"></app-info-bar>

  <div class="tab-nav-header">
    <nav mat-tab-nav-bar *ngIf="showTabs">
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.title | translate }}
      </a>
    </nav>
    <div class="tab-nav-header-actions">
      <app-form-actions *ngIf="currentSubPage.showFormActions" [resource]="event"></app-form-actions>
      <div *ngIf="!currentSubPage.showFormActions && currentSubPage.link.includes('participants')">
        <button
          mat-flat-button
          color="primary"
          class="add-participant-btn"
          (click)="addParticipant()"
        >
          {{ 'captions.eventParticipantAddPerson' | translate }}
        </button>
        <app-dropdown-menu buttonText="{{ 'captions.moreActions' | translate }}">
          <app-action-menu
          ></app-action-menu>
        </app-dropdown-menu>
      </div>
    </div>
  </div>

  <div class="page-content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</section>
