<div class="pds-examples">
  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Colors</div>

  <div class="display-1">Branding Colors</div>

  <section class="row">
    <div class="col">
      <label>Berry</label>
      <div class="color-preview bg-blackberry"></div>
      <div class="color-preview bg-red-grape"></div>
      <div class="color-preview preview-primary bg-berry"></div>
      <div class="color-preview bg-raspberry"></div>
      <div class="color-preview bg-pinkberry"></div>
    </div>
    <div class="col">
      <label>Petrol</label>
      <div class="color-preview bg-dark-green"></div>
      <div class="color-preview bg-fir-green"></div>
      <div class="color-preview preview-primary bg-petrol"></div>
      <div class="color-preview bg-turquoise"></div>
      <div class="color-preview bg-light-turquoise"></div>
    </div>
    <div class="col">
      <label>Blue</label>
      <div class="color-preview bg-deep-blue"></div>
      <div class="color-preview bg-smokey-blue"></div>
      <div class="color-preview preview-primary bg-blue"></div>
      <div class="color-preview bg-strong-blue"></div>
      <div class="color-preview bg-bright-blue"></div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <div class="color-preview preview-primary bg-berry"></div>
      <div class="color-preview bg-berry-t1"></div>
      <div class="color-preview bg-berry-t2"></div>
      <div class="color-preview bg-berry-t3"></div>
      <div class="color-preview bg-berry-t4"></div>
    </div>
    <div class="col">
      <div class="color-preview preview-primary bg-petrol"></div>
      <div class="color-preview bg-petrol-t1"></div>
      <div class="color-preview bg-petrol-t2"></div>
      <div class="color-preview bg-petrol-t3"></div>
      <div class="color-preview bg-petrol-t4"></div>
    </div>
    <div class="col">
      <div class="color-preview preview-primary bg-blue"></div>
      <div class="color-preview bg-blue-t1"></div>
      <div class="color-preview bg-blue-t2"></div>
      <div class="color-preview bg-blue-t3"></div>
      <div class="color-preview bg-blue-t4"></div>
    </div>
  </section>

  <div class="display-1">System Colors</div>

  <section class="row">
    <div class="col">
      <label>Red</label>
      <div class="color-preview preview-primary bg-system-red"></div>
      <div class="color-preview bg-system-red-t1"></div>
      <div class="color-preview bg-system-red-t2"></div>
      <div class="color-preview bg-system-red-t3"></div>
      <div class="color-preview bg-system-red-t4"></div>
    </div>
    <div class="col">
      <label>Green</label>
      <div class="color-preview preview-primary bg-system-green"></div>
      <div class="color-preview bg-system-green-t1"></div>
      <div class="color-preview bg-system-green-t2"></div>
      <div class="color-preview bg-system-green-t3"></div>
      <div class="color-preview bg-system-green-t4"></div>
    </div>
    <div class="col">
      <label>Blue</label>
      <div class="color-preview preview-primary bg-system-blue"></div>
      <div class="color-preview bg-system-blue-t1"></div>
      <div class="color-preview bg-system-blue-t2"></div>
      <div class="color-preview bg-system-blue-t3"></div>
      <div class="color-preview bg-system-blue-t4"></div>
    </div>
  </section>
  <section class="row">
    <div class="col">
      <label>Yellow</label>
      <div class="color-preview preview-primary bg-system-yellow"></div>
      <div class="color-preview bg-system-yellow-t1"></div>
      <div class="color-preview bg-system-yellow-t2"></div>
      <div class="color-preview bg-system-yellow-t3"></div>
      <div class="color-preview bg-system-yellow-t4"></div>
    </div>
    <div class="col">
      <label>Orange</label>
      <div class="color-preview preview-primary bg-system-orange"></div>
      <div class="color-preview bg-system-orange-t1"></div>
      <div class="color-preview bg-system-orange-t2"></div>
      <div class="color-preview bg-system-orange-t3"></div>
      <div class="color-preview bg-system-orange-t4"></div>
    </div>
    <div class="col"></div>
  </section>

  <section class="row">
    <div class="col">
      <label>Dark</label>
      <div class="color-preview preview-primary bg-system-dark"></div>
      <div class="color-preview bg-system-dark-t1"></div>
      <div class="color-preview bg-system-dark-t2"></div>
      <div class="color-preview bg-system-dark-t3"></div>
      <div class="color-preview bg-system-dark-t4"></div>
    </div>
    <div class="col">
      <label>Light</label>
      <div class="color-preview preview-primary bg-system-light"></div>
      <div class="color-preview bg-system-light-t1"></div>
      <div class="color-preview bg-system-light-t2"></div>
    </div>
    <div class="col"></div>
  </section>

  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Colors</div>

  <br />
  <hr />
  <br />

  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Forms</div>

  <div class="display-1">Buttons</div>

  <section class="row">
    <div class="col col-25">
      <label>Default</label>
      <button>Primary</button>
    </div>
    <div class="col col-grow">
      <label>States</label>
      <button class="hover">Hover</button>
      <button class="focus">Focus</button>
      <button class="active">Active</button>
      <button disabled>Disabled</button>
    </div>
  </section>
  <section class="row">
    <div class="col col-25">
      <button class="small">Primary</button>
    </div>
    <div class="col">
      <button class="small hover">Hover</button>
      <button class="small focus">Focus</button>
      <button class="small active">Active</button>
      <button class="small" disabled>Disabled</button>
    </div>
  </section>

  <section class="row">
    <div class="col col-25">
      <label>Default</label>
      <button class="secondary">Secondary</button>
    </div>
    <div class="col col-grow">
      <label>States</label>
      <button class="secondary hover">Hover</button>
      <button class="secondary focus">Focus</button>
      <button class="secondary active">Active</button>
      <button class="secondary" disabled>Disabled</button>
    </div>
  </section>
  <section class="row">
    <div class="col col-25">
      <button class="small secondary">Secondary</button>
    </div>
    <div class="col col-grow">
      <button class="small secondary hover">Hover</button>
      <button class="small secondary focus">Focus</button>
      <button class="small secondary active">Active</button>
      <button class="small secondary" disabled>Disabled</button>
    </div>
  </section>

  <div class="display-1">Inputs</div>

  <section class="row">
    <div class="col col-25">
      <label>Default</label>
      <input type="text" placeholder="Placeholder" />
    </div>
    <div class="col col-grow">
      <label>States</label>
      <input class="focus" type="text" placeholder="Focus" />
      <input class="read-only" type="text" value="Read-only" readonly />
      <input class="disabled" type="text" value="Disabled" disabled />
    </div>
  </section>
  <section class="row">
    <div class="col col-25">
      <label>Default</label>
      <textarea placeholder="Placeholder" rows="2"></textarea>
    </div>
    <div class="col col-grow">
      <label>States</label>
      <textarea class="focus" placeholder="Placeholder" rows="2"></textarea>
      <textarea class="read-only" rows="2" readonly>Read-only</textarea>
      <textarea class="disabled" rows="2" disabled>Disabled</textarea>
    </div>
  </section>

  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Forms</div>
  <br />
  <hr />
  <br />

  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Typography</div>

  <div class="display-1">Typography</div>

  <section>
    <label>Display 1</label>
    <div class="display-1">vitagroup</div>
  </section>

  <section>
    <label>Display 2</label>
    <div class="display-2">vitasystems</div>
  </section>

  <section>
    <label>Display 3</label>
    <div class="display-3">vitaservices</div>
  </section>

  <section>
    <label>H1</label>
    <h1>vitaphone</h1>
  </section>

  <section>
    <label>H2</label>
    <h2>vitagroup</h2>
  </section>

  <section>
    <label>H3</label>
    <h3>Symeda</h3>
  </section>

  <section>
    <label>H4</label>
    <h4>vitapublic</h4>
  </section>

  <section>
    <label>H5</label>
    <h5>vitasystems</h5>
  </section>

  <section>
    <label>H6</label>
    <h6>vitagroup</h6>
  </section>

  <section>
    <label>Capitalized</label>
    <span class="capitalized">Lorem ipsum dolor sit amet</span>
  </section>

  <section>
    <label>Body</label>
    <div>
      Lorem ipsum dolor sit amet,
      <a href="about:blank">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea. Lorem ipsum dolor sit amet, <a href="about:blank">invidunt et ipsum</a> elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam dolore voluptua. At vero eos et accusam
      et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea. Lorem ipsum dolor sit amet,
      <a href="about:blank">gubergren sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea.
    </div>
  </section>

  <section>
    <label>Body Small</label>
    <div class="body-small">
      Lorem ipsum dolor sit amet,
      <a href="about:blank">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea. Lorem ipsum dolor sit amet, <a href="about:blank">gubergren sadipscing</a> elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
      et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea. Lorem ipsum dolor sit amet,
      <a href="about:blank">tempor diam sed et sed</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea.
    </div>
  </section>

  <section>
    <label>Blockquote</label>
    <blockquote>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</blockquote>
  </section>

  <section>
    <label>Small</label>
    <small>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna.
    </small>
  </section>

  <section>
    <label>Tiny</label>
    <span class="tiny">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna.
    </span>
  </section>

  <div class="capitalized text-muted">FE Chapter &mdash; pds-css &mdash; Typography</div>
</div>
