<div [formGroup]="group">
  <mat-form-field
    [id]="config.key"
    appearance="outline"
    floatLabel="always"
    [ngClass]="{ 'has-hint': !!config.hint }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
      <span *ngIf="config.validation?.length" class="required">*</span>
    </mat-label>
    <input
      matInput
      [value]="config.value"
      [type]="config.type"
      (change)="onChange()"
      [formControlName]="config.key"
      [placeholder]="config.placeholder || '' | translate"
      [matTooltip]="config.label || '' | translate"
    />
    <mat-hint *ngIf="config.hint">{{ config.hint | translate }}</mat-hint>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
