<div [formGroup]="group">
  <mat-form-field
    [id]="config.key"
    appearance="outline"
    floatLabel="always"
    [ngClass]="{ 'has-hint': !!config.hint }"
  >
    <mat-label *ngIf="config.label">{{ config.label }}</mat-label>
    <input
      [value]="config.value"
      [type]="config.type"
      (change)="onChange()"
      [formControlName]="config.key"
      matInput
      [placeholder]="config.placeholder || ''"
    />
    <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">{{ config.validationMessage }}</div>
</div>
