<app-collapsable-box
  boxTitle="{{ 'strings.entityDocuments' | translate }}"
  actionText="{{ 'actionAdd' | translate }}"
  [expanded]="true"
  appearance="section"
  iconExpand="arrow_drop_down"
  iconCollapse="arrow_drop_up"
  (action)="create()"
>
  <app-loader [show]="loading"></app-loader>
  <div class="documents-list">
    <ul *ngIf="data && data.length; else noDocs">
      <li *ngFor="let document of data">
        <a mat-button href="/{{ document.name }}" class="document-link">
          <mat-icon class="material-icons-round" color="primary">file_download_black</mat-icon>
          {{ document.name }}
        </a>
        <button mat-icon-button class="document-delete">
          <mat-icon class="material-icons-round">delete_outline_black</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</app-collapsable-box>

<ng-template #noDocs>
  <p class="no-documents">
    {{
      'captions.documentNoDocuments'
        | translate
        | replace: '%s':('enum.DocumentRelatedEntityType.CONTACT' | translate)
    }}
  </p>
</ng-template>
