<div [formGroup]="group">
  <mat-form-field
    [id]="config.key"
    appearance="outline"
    floatLabel="always"
    [ngClass]="{
      'has-hint': !!config.hint,
      'datepicker-opened': picker.opened,
      'datepicker-closed': !picker.opened
    }"
  >
    <mat-label *ngIf="config.label">
      {{ config.label || '' | translate }}
    </mat-label>
    <input
      matInput
      readonly
      [matDatepicker]="picker"
      (dateChange)="onChange()"
      [formControlName]="config.key"
      [placeholder]="config.placeholder || '' | translate"
      [matTooltip]="config.label || '' | translate"
    />
    <mat-hint *ngIf="config.hint">{{ config.hint | translate }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon class="material-icons-round">date_range</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker [calendarHeaderComponent]="header"></mat-datepicker>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
