<div [formGroup]="group">
  <mat-form-field
    [id]="config.key"
    appearance="outline"
    floatLabel="always"
    [ngClass]="{
      'has-hint': !!config.hint,
      'datepicker-opened': picker.opened,
      'datepicker-closed': !picker.opened
    }"
  >
    <mat-label *ngIf="config.label">{{ config.label }}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="config.key" />
    <mat-hint *ngIf="config.hint">{{ config.hint }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="errorMessage" color="warn" *ngIf="!isValid">{{ config.validationMessage }}</div>
</div>
