<div class="filters">
  <h2 class="filters-header">{{ 'strings.headingFilters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <mat-form-field
      id="nameAddressPhoneEmailLike"
      appearance="outline"
      floatLabel="always"
      class="search-field"
    >
      <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
      <input
        value=""
        type="text"
        matInput
        appDebounce
        placeholder="{{ 'strings.promptPersonsSearchField' | translate }}"
        formControlName="nameAddressPhoneEmailLike"
        (debounce)="onFormChange()"
      />
    </mat-form-field>

    <app-collapsable-box boxTitle="{{ 'headingPersons' | translate }}">
      <mat-radio-group name="persons" formControlName="persons" (change)="onFormChange()">
        <mat-radio-button value="ALL" color="primary">
          {{ 'captions.all' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CASE" color="primary">
          {{ 'enum.PersonAssociation.CASE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="CONTACT" color="primary">
          {{ 'enum.PersonAssociation.CONTACT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="EVENT_PARTICIPANT" color="primary">
          {{ 'enum.PersonAssociation.EVENT_PARTICIPANT' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'captions.Person.presentCondition' | translate }}">
      <mat-radio-group
        name="presentCondition"
        formControlName="presentCondition"
        (change)="onFormChange()"
      >
        <mat-radio-button value="ALIVE" color="primary">
          {{ 'enum.PresentCondition.ALIVE' | translate }}
        </mat-radio-button>
        <mat-radio-button value="DEAD" color="primary">
          {{ 'enum.PresentCondition.DEAD' | translate }}
        </mat-radio-button>
        <mat-radio-button value="BURIED" color="primary">
          {{ 'enum.PresentCondition.BURIED' | translate }}
        </mat-radio-button>
        <mat-radio-button value="UNKNOWN" color="primary">
          {{ 'enum.PresentCondition.UNKNOWN' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingBirthdate' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="birthdateYYYY"
          placeholder="{{ 'captions.Person.birthdateYYYY' | translate }}"
        >
          <mat-option value="1900">1900</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="birthdateMM"
          placeholder="{{ 'captions.Person.birthdateMM' | translate }}"
        >
          <mat-option value="1">January</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="birthdateDD"
          placeholder="{{ 'captions.Person.birthdateDD' | translate }}"
        >
          <mat-option value="1">1</mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>

    <app-collapsable-box boxTitle="{{ 'headingAdminAspect' | translate }}">
      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="region"
          placeholder="{{ 'captions.Contact.region' | translate }}"
        >
          <mat-option value="default_region">Default region</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="district"
          placeholder="{{ 'captions.Contact.district' | translate }}"
        >
          <mat-option value="default_district">Default district</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="collapsable-field">
        <mat-select
          disableOptionCentering
          (selectionChange)="onFormChange()"
          formControlName="community"
          placeholder="{{ 'captions.Contact.community' | translate }}"
        >
          <mat-option value="default_community">Default community</mat-option>
        </mat-select>
      </mat-form-field>
    </app-collapsable-box>
  </form>
</div>
