@use '../../../variables.scss' as *;

.person-filters {
  margin-top: 24px;
  .filters-header {
    padding-left: 16px;
    margin-bottom: 0;
    font-size: 24px;
  }

  .search-field {
    width: 240px;
    margin-left: 16px;
    .search-icon {
      width: 14px;
      height: 12px;
      color: map-get($sormas-accent, 200);
      font-size: 12px;
    }
    ::placeholder {
      color: map-get($sormas-accent, 200);
      font-size: 12px;
    }
  }
}
