{
  "keycloakRealm": "SORMAS",
  "keycloakClientId": "sormas-angular",
  "keycloakUrl": "https://localhost:7080/keycloak/",
  "apiUrl": "http://localhost:4201/sormas-rest",
  "domainSubfolder": "/sormas-angular/",
  "legacyUrl": "http://localhost:6080/sormas-ui/"
}
