<app-table
  [filterFormId]="formId"
  [resourceService]="entryPointService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  rowStyleData="defaultName"
  [showTotal]="true"
  [isEditable]="true"
  showTotalContext="{{ 'pointsOfEntries' | translate }}"
  (editItem)="openEditEntryPointModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddEntryPointModal()">
      {{ 'actionAddNewEntryPoint.short' | translate }}
    </button>
    <button class="import-btn" mat-stroked-button color="primary" (click)="openImportModal()">
      {{ 'captions.actionImport' | translate }}
    </button>
    <button mat-stroked-button color="primary" (click)="export()" class="export-btn">
      {{ 'captions.export' | translate }}
    </button>
  </div>
</app-table>
