<div [formGroup]="group">
  <mat-radio-group [formControlName]="config.key" (change)="onChange()">
    <mat-label
      *ngIf="config.label"
      class="radio-group-label"
      [ngClass]="{ 'medium-text-radio': config.className?.includes('medium-text-radio') }"
    >
      {{ config.label || '' | translate }}
    </mat-label>
    <mat-radio-button
      *ngFor="let opt of config.options"
      [value]="opt.key"
      [ngClass]="{ 'full-width': config.radioNewLine, block: config.separated }"
      color="primary"
    >
      <span [ngClass]="{ 'medium-text-radio': config.className?.includes('medium-text-radio') }">{{
        opt.value | translate
      }}</span>
    </mat-radio-button>
  </mat-radio-group>
  <div class="errorMessage" color="warn" *ngIf="!isValid">
    {{ config.validationMessage || '' | translate }}
  </div>
</div>
