@use '/src/variables' as *;

.location-icon {
  position: absolute;
  top: 42px;
  right: 22px;
  color: map-get($sormas-primary, 700);
}

.map-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 2s;

  &.opened {
    max-height: 5000px;
  }
}

.map {
  height: 436px;
  width: 100%;
}
