@use '@angular/material' as mat;
@use '/src/variables' as *;

.location-icon {
  position: absolute;
  top: 42px;
  right: 18px;
  color: mat.get-color-from-palette($sormas-primary, 700);
}

.map-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
  text-align: right;
  margin-top: 16px;

  &.opened {
    max-height: 5000px;
  }
}

.map {
  height: 436px;
  width: 100%;
  border-radius: 5px;
}

.close-map-btn {
  cursor: pointer;
  color: mat.get-color-from-palette($sormas-accent, 500);
  margin-right: 2px;
}
