<div class="not-found-container">
    <div class="not-found-code">404</div>
    <div class="message-info message-info-line message-info__first-line"> {{ 'captions.NotFound.ops' | translate }}</div>
    <div class="message-info message-info-line"> {{ 'captions.NotFound.wentWrong' | translate }}</div>
    <div class="message-details"> {{ 'captions.NotFound.notPandemic' | translate }}</div>
    <div class="message-info message-info-line back-to-button"> {{ 'captions.NotFound.backTo' | translate }}</div>
    <button mat-flat-button color="primary" (click)="navigateToDashboard()">
        {{ 'captions.mainMenuDashboard' | translate }}
    </button>
    <div class="need-help"> {{ 'captions.NotFound.needHelp' | translate }}</div>
    <a routerLink="/about">{{ 'captions.NotFound.contactUs' | translate }}</a>
</div>
