<app-table
  [filterFormId]="formId"
  [resourceService]="regionService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  [showTotal]="true"
  showTotalContext="{{ 'strings.entityRegions' | translate }}"
  [isEditable]="true"
  (editItem)="openEditRegionModal($event)"
>
  <div class="page-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddRegionModal()">
      {{ 'actionAddNewRegion' | translate }}
    </button>
    <button mat-stroked-button color="primary" (click)="export()" class="export-btn">
      {{ 'captions.export' | translate }}
    </button>
  </div>
</app-table>
