<div class="page-header">
  <div class="page-header-actions">
    <button class="add-btn" mat-flat-button color="primary" (click)="openAddRegionModal()">
      {{ 'actionAddNewRegion' | translate }}
    </button>
  </div>
</div>
<app-table
  [resourceService]="regionService"
  [tableColumns]="defaultColumns"
  [isSortable]="true"
  [isSelectable]="true"
  [isHeaderSticky]="true"
  [fullHeight]="true"
  [appearance]="tableAppearanceOptions.MINIMAL"
  [bulkEditOptions]="actionsBulkEdit"
  [showTotal]="true"
  showTotalContext="{{ 'strings.entityRegions' | translate }}"
  [isEditable]="true"
  (editItem)="openEditRegionModal($event)"
></app-table>
