@charset "UTF-8";
/*!
 * ress.css • v3.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

:root {
  --spacing: 1;
  --rounding: 1;
  --foreground: var(--gray-darker);
  --foreground-rgb: var(--gray-darker-rgb);
  --background: var(--gray-lighter);
  --background-rgb: var(--gray-lighter-rgb);
  --gray-darkest: #000000;
  --gray-darkest-rgb: 0,0,0;
  --gray-darker: #232323;
  --gray-darker-rgb: 35,35,35;
  --gray-dark: #777777;
  --gray-dark-rgb: 119,119,119;
  --gray: #c8c8c8;
  --gray-rgb: 200,200,200;
  --gray-light: #ebebeb;
  --gray-light-rgb: 235,235,235;
  --gray-lighter: #f5f5f5;
  --gray-lighter-rgb: 245,245,245;
  --gray-lightest: #ffffff;
  --gray-lightest-rgb: 255,255,255;
  --primary-dark: #255263;
  --primary-dark-rgb: 37,82,99;
  --primary: #306980;
  --primary-rgb: 48,105,128;
  --primary-light: #3b809d;
  --primary-light-rgb: 59,128,157;
  --primary-contrast: white;
  --primary-contrast-rgb: 255,255,255;
  --link: var(--primary);
  --link-rgb: var(--primary);
  --link-visited: var(--primary);
  --link-visited-rgb: var(--primary);
  --disabled: #c8c8c8;
  --disabled-rgb: 200,200,200;
  --disabled-outline: #c8c8c8;
  --disabled-outline-rgb: 200,200,200;
  --good: #159f03;
  --good-rgb: 21,159,3;
  --good-outline: #159f03;
  --good-outline-rgb: 21,159,3;
  --good-contrast: white;
  --good-contrast-rgb: 255,255,255;
  --warning: #fcba04;
  --warning-rgb: 252,186,4;
  --warning-outline: #ffcc00;
  --warning-outline-rgb: 255,204,0;
  --warning-contrast: black;
  --warning-contrast-rgb: 0,0,0;
  --bad: #e63535;
  --bad-rgb: 230,53,53;
  --bad-outline: #ff3b3b;
  --bad-outline-rgb: 255,59,59;
  --bad-contrast: white;
  --bad-contrast-rgb: 255,255,255;
  --body-font-size: 16px;
  --body-font-weight: normal;
  --body-line-height: 23px;
  --body-letter-spacing: -0.01px;
  --body-small-font-size: 14px;
  --body-small-font-weight: normal;
  --body-small-line-height: 20px;
  --body-small-letter-spacing: -0.01px;
  --display-1-font-size: 64px;
  --display-1-font-weight: bold;
  --display-1-line-height: 84px;
  --display-1-letter-spacing: -0.02px;
  --display-2-font-size: 56px;
  --display-2-font-weight: normal;
  --display-2-line-height: 72px;
  --display-2-letter-spacing: -0.02px;
  --display-3-font-size: 32px;
  --display-3-font-weight: normal;
  --display-3-line-height: 42px;
  --display-3-letter-spacing: -0.01px;
  --h1-font-size: 40px;
  --h1-font-weight: bold;
  --h1-line-height: 54px;
  --h1-letter-spacing: -0.02px;
  --h2-font-size: 32px;
  --h2-font-weight: bold;
  --h2-line-height: 44px;
  --h2-letter-spacing: -0.02px;
  --h3-font-size: 28px;
  --h3-font-weight: bold;
  --h3-line-height: 38px;
  --h3-letter-spacing: -0.02px;
  --h4-font-size: 24px;
  --h4-font-weight: bold;
  --h4-line-height: 32px;
  --h4-letter-spacing: -0.02px;
  --h5-font-size: 20px;
  --h5-font-weight: bold;
  --h5-line-height: 28px;
  --h5-letter-spacing: -0.02px;
  --h6-font-size: 16px;
  --h6-font-weight: bold;
  --h6-line-height: 22px;
  --h6-letter-spacing: -0.01px;
  --capitalized-font-size: 14px;
  --capitalized-font-weight: normal;
  --capitalized-line-height: 19px;
  --capitalized-letter-spacing: 2px;
  --capitalized-text-transform: uppercase;
  --lead-font-size: 14px;
  --lead-font-weight: bold;
  --lead-line-height: 24px;
  --lead-letter-spacing: -0.01px;
  --small-font-size: 12px;
  --small-line-height: 15px;
  --tiny-font-size: 10px;
  --tiny-font-weight: bold;
  --tiny-line-height: 13px;
  --tiny-letter-spacing: 0.02px;
  --blockquote-font-size: 20px;
  --blockquote-font-weight: bold;
  --blockquote-line-height: 28px;
  --blockquote-letter-spacing: -0.02px;
  --button-font-size: var(--body-font-size);
  --button-font-weight: 500;
  --button-line-height: var(--body-line-height);
  --button-letter-spacing: 0.69px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-size: var(--body-font-size);
  font-weight: normal;
  font-weight: var(--body-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--body-letter-spacing);
  line-height: 23px;
  line-height: var(--body-line-height);
  text-transform: var(--body-text-transform);
  background-color: #f5f5f5;
  background-color: var(--background);
  color: #232323;
  color: var(--foreground);
}

*:focus {
  outline: none;
}

blockquote {
  font-size: 20px;
  font-size: var(--blockquote-font-size);
  font-weight: bold;
  font-weight: var(--blockquote-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--blockquote-letter-spacing);
  line-height: 28px;
  line-height: var(--blockquote-line-height);
  text-transform: var(--blockquote-text-transform);
}

h1 {
  font-size: 40px;
  font-size: var(--h1-font-size);
  font-weight: bold;
  font-weight: var(--h1-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--h1-letter-spacing);
  line-height: 54px;
  line-height: var(--h1-line-height);
  text-transform: var(--h1-text-transform);
}

h2 {
  font-size: 32px;
  font-size: var(--h2-font-size);
  font-weight: bold;
  font-weight: var(--h2-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--h2-letter-spacing);
  line-height: 44px;
  line-height: var(--h2-line-height);
  text-transform: var(--h2-text-transform);
}

h3 {
  font-size: 28px;
  font-size: var(--h3-font-size);
  font-weight: bold;
  font-weight: var(--h3-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--h3-letter-spacing);
  line-height: 38px;
  line-height: var(--h3-line-height);
  text-transform: var(--h3-text-transform);
}

h4 {
  font-size: 24px;
  font-size: var(--h4-font-size);
  font-weight: bold;
  font-weight: var(--h4-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--h4-letter-spacing);
  line-height: 32px;
  line-height: var(--h4-line-height);
  text-transform: var(--h4-text-transform);
}

h5 {
  font-size: 20px;
  font-size: var(--h5-font-size);
  font-weight: bold;
  font-weight: var(--h5-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--h5-letter-spacing);
  line-height: 28px;
  line-height: var(--h5-line-height);
  text-transform: var(--h5-text-transform);
}

h6 {
  font-size: 16px;
  font-size: var(--h6-font-size);
  font-weight: bold;
  font-weight: var(--h6-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--h6-letter-spacing);
  line-height: 22px;
  line-height: var(--h6-line-height);
  text-transform: var(--h6-text-transform);
}

p {
  margin-top: calc(16px * 1);
  margin-top: calc(16px * var(--spacing, 1));
  margin-bottom: calc(16px * 1);
  margin-bottom: calc(16px * var(--spacing, 1));
}
p:first-of-type {
  margin-top: 0;
}
p:last-of-type {
  margin-bottom: 0;
}

label {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #777777;
  color: var(--gray-dark);
  font-size: 14px;
  font-size: var(--lead-font-size);
  font-weight: bold;
  font-weight: var(--lead-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--lead-letter-spacing);
  line-height: 24px;
  line-height: var(--lead-line-height);
  text-transform: var(--lead-text-transform);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #306980;
  color: var(--link);
  cursor: pointer;
}
a:visited {
  color: #306980;
  color: var(--link-visited, var(--link));
}
a:hover {
  color: var(--link);
  color: var(--link-hover, var(--link));
}
a:focus {
  color: var(--link);
  color: var(--link-focus, var(--link));
}
a:active {
  color: var(--link);
  color: var(--link-active, var(--link));
}

h1.display,
.display-1 {
  font-size: 64px;
  font-size: var(--display-1-font-size);
  font-weight: bold;
  font-weight: var(--display-1-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--display-1-letter-spacing);
  line-height: 84px;
  line-height: var(--display-1-line-height);
  text-transform: var(--display-1-text-transform);
}

h2.display,
.display-2 {
  font-size: 56px;
  font-size: var(--display-2-font-size);
  font-weight: normal;
  font-weight: var(--display-2-font-weight);
  letter-spacing: -0.02px;
  letter-spacing: var(--display-2-letter-spacing);
  line-height: 72px;
  line-height: var(--display-2-line-height);
  text-transform: var(--display-2-text-transform);
}

h3.display,
.display-3 {
  font-size: 32px;
  font-size: var(--display-3-font-size);
  font-weight: normal;
  font-weight: var(--display-3-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--display-3-letter-spacing);
  line-height: 42px;
  line-height: var(--display-3-line-height);
  text-transform: var(--display-3-text-transform);
}

.body-small {
  font-family: inherit;
  font-family: var(--body-small-font-family, inherit);
  font-size: 14px;
  font-size: var(--body-small-font-size);
  font-weight: normal;
  font-weight: var(--body-small-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--body-small-letter-spacing);
  line-height: 20px;
  line-height: var(--body-small-line-height);
  text-transform: var(--body-small-text-transform);
}

.capitalized {
  font-family: inherit;
  font-family: var(--capitalized-font-family, inherit);
  font-size: 14px;
  font-size: var(--capitalized-font-size);
  font-weight: normal;
  font-weight: var(--capitalized-font-weight);
  letter-spacing: 2px;
  letter-spacing: var(--capitalized-letter-spacing);
  line-height: 19px;
  line-height: var(--capitalized-line-height);
  text-transform: uppercase;
  text-transform: var(--capitalized-text-transform);
}

.lead {
  font-family: inherit;
  font-family: var(--lead-font-family, inherit);
  font-size: 14px;
  font-size: var(--lead-font-size);
  font-weight: bold;
  font-weight: var(--lead-font-weight);
  letter-spacing: -0.01px;
  letter-spacing: var(--lead-letter-spacing);
  line-height: 24px;
  line-height: var(--lead-line-height);
  text-transform: var(--lead-text-transform);
}

.small {
  font-family: inherit;
  font-family: var(--small-font-family, inherit);
  font-size: 12px;
  font-size: var(--small-font-size);
  font-weight: var(--small-font-weight);
  letter-spacing: var(--small-letter-spacing);
  line-height: 15px;
  line-height: var(--small-line-height);
  text-transform: var(--small-text-transform);
}

.tiny {
  font-family: inherit;
  font-family: var(--tiny-font-family, inherit);
  font-size: 10px;
  font-size: var(--tiny-font-size);
  font-weight: bold;
  font-weight: var(--tiny-font-weight);
  letter-spacing: 0.02px;
  letter-spacing: var(--tiny-letter-spacing);
  line-height: 13px;
  line-height: var(--tiny-line-height);
  text-transform: var(--tiny-text-transform);
}

.text-primary {
  color: #306980;
  color: var(--primary);
}

.text-primary-dark {
  color: #255263;
  color: var(--primary-dark);
}

.text-primary-light {
  color: #3b809d;
  color: var(--primary-light);
}

.text-good {
  color: #159f03;
  color: var(--good);
}

.text-warning {
  color: #fcba04;
  color: var(--warning);
}

.text-bad {
  color: #e63535;
  color: var(--bad);
}

:root {
  --input-height: 40px;
  --input-spacing: 1;
}

:root {
  --button-min-width: 120px;
}

button,
.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 40px;
  height: var(--input-height);
  border: 1px solid;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  line-height: 1 !important;
  font-size: 16px;
  font-size: var(--button-font-size);
  font-weight: 500;
  font-weight: var(--button-font-weight);
  letter-spacing: 0.69px;
  letter-spacing: var(--button-letter-spacing);
  line-height: 23px;
  line-height: var(--button-line-height);
  text-transform: var(--button-text-transform);
  border-color: #306980;
  border-color: var(--primary);
  background-color: #306980;
  background-color: var(--primary);
  color: white;
  color: var(--primary-contrast);
  padding-left: calc(12px * 1);
  padding-left: calc(12px * var(--spacing, 1));
  padding-right: calc(12px * 1);
  padding-right: calc(12px * var(--spacing, 1));
  padding-top: calc(4px * 1);
  padding-top: calc(4px * var(--spacing, 1));
  padding-bottom: calc(4px * 1);
  padding-bottom: calc(4px * var(--spacing, 1));
  border-top-left-radius: calc(40px * 1);
  border-top-left-radius: calc(var(--input-height) * var(--rounding, 1));
  border-top-right-radius: calc(40px * 1);
  border-top-right-radius: calc(var(--input-height) * var(--rounding, 1));
  border-bottom-left-radius: calc(40px * 1);
  border-bottom-left-radius: calc(var(--input-height) * var(--rounding, 1));
  border-bottom-right-radius: calc(40px * 1);
  border-bottom-right-radius: calc(var(--input-height) * var(--rounding, 1));
  --spacing: var(--input-spacing);
}
button.hover, button:hover,
.button.hover,
.button:hover {
  background-color: #3b809d;
  background-color: var(--primary-light);
  border-color: #3b809d;
  border-color: var(--primary-light);
}
button.focus, button:focus,
.button.focus,
.button:focus {
  background-color: #306980;
  background-color: var(--primary);
  border-color: #3b809d;
  border-color: var(--primary-light);
}
button.active, button:active,
.button.active,
.button:active {
  background-color: #255263;
  background-color: var(--primary-dark);
  border-color: #255263;
  border-color: var(--primary-dark);
}
button.disabled, button:disabled, button[disabled],
.button.disabled,
.button:disabled,
.button[disabled] {
  background-color: #c8c8c8;
  background-color: var(--disabled);
  border-color: #c8c8c8;
  border-color: var(--disabled);
  color: #777777;
}
button + button,
button + .button,
.button + button,
.button + .button {
  margin-left: calc(16px * 1);
  margin-left: calc(16px * var(--spacing, 1));
}
button > *,
.button > * {
  margin-left: calc(8px * 1);
  margin-left: calc(8px * var(--spacing, 1));
  margin-right: calc(8px * 1);
  margin-right: calc(8px * var(--spacing, 1));
}
button > *:first-of-type,
.button > *:first-of-type {
  margin-left: 0;
}
button > *:last-of-type,
.button > *:last-of-type {
  margin-right: 0;
}
button:not(.small),
.button:not(.small) {
  min-width: 120px;
  min-width: var(--button-min-width);
}
button.secondary,
.button.secondary {
  border-color: #232323;
  border-color: var(--gray-darker);
  background-color: transparent;
  color: #232323;
  color: var(--gray-darker);
}
button.secondary.hover, button.secondary:hover,
.button.secondary.hover,
.button.secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
button.secondary.focus, button.secondary:focus,
.button.secondary.focus,
.button.secondary:focus {
  border-color: #3b809d;
  border-color: var(--primary-light);
}
button.secondary.active, button.secondary:active,
.button.secondary.active,
.button.secondary:active {
  background-color: #232323;
  background-color: var(--gray-darker);
  border-color: #232323;
  border-color: var(--gray-darker);
  color: #f5f5f5;
  color: var(--gray-lighter);
}
button.secondary.disabled, button.secondary:disabled, button.secondary[disabled],
.button.secondary.disabled,
.button.secondary:disabled,
.button.secondary[disabled] {
  background-color: rgba(0,0,0, 0.05);
  background-color: rgba(var(--gray-darkest-rgb), 0.05);
  border-color: #c8c8c8;
  border-color: var(--disabled);
  color: #c8c8c8;
  color: var(--disabled);
}
button.small,
.button.small {
  height: 24px;
  height: var(--input-height-small, 24px);
}

select,
textarea,
input:not([type=checkbox]):not([type=radio]) {
  padding-left: calc(12px * 1);
  padding-left: calc(12px * var(--spacing, 1));
  padding-right: calc(12px * 1);
  padding-right: calc(12px * var(--spacing, 1));
  padding-top: calc(8px * 1);
  padding-top: calc(8px * var(--spacing, 1));
  padding-bottom: calc(8px * 1);
  padding-bottom: calc(8px * var(--spacing, 1));
  border-top-left-radius: calc(4px * 1);
  border-top-left-radius: calc(4px * var(--rounding, 1));
  border-top-right-radius: calc(4px * 1);
  border-top-right-radius: calc(4px * var(--rounding, 1));
  border-bottom-left-radius: calc(4px * 1);
  border-bottom-left-radius: calc(4px * var(--rounding, 1));
  border-bottom-right-radius: calc(4px * 1);
  border-bottom-right-radius: calc(4px * var(--rounding, 1));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  background-color: #f5f5f5;
  background-color: var(--background);
  border: 1px solid #777777;
  border: 1px solid var(--gray-dark);
  color: #232323;
  color: var(--foreground);
  caret-color: #306980;
  caret-color: var(--primary);
  --spacing: var(--input-spacing);
}
select::-moz-placeholder, textarea::-moz-placeholder, input:not([type=checkbox]):not([type=radio])::-moz-placeholder {
  color: rgba(0, 0, 0, 0.42);
  -moz-user-select: none;
       user-select: none;
}
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input:not([type=checkbox]):not([type=radio]):-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.42);
  -ms-user-select: none;
      user-select: none;
}
select::placeholder,
textarea::placeholder,
input:not([type=checkbox]):not([type=radio])::placeholder {
  color: rgba(0, 0, 0, 0.42);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
select.hover, select:hover,
textarea.hover,
textarea:hover,
input:not([type=checkbox]):not([type=radio]).hover,
input:not([type=checkbox]):not([type=radio]):hover {
  border-color: #232323;
  border-color: var(--gray-darker);
}
select:-moz-read-only, textarea:-moz-read-only, input:not([type=checkbox]):not([type=radio]):-moz-read-only {
  border-color: #c8c8c8 !important;
  border-color: var(--disabled) !important;
}
select.read-only, select:read-only, select[read-only],
textarea.read-only,
textarea:read-only,
textarea[read-only],
input:not([type=checkbox]):not([type=radio]).read-only,
input:not([type=checkbox]):not([type=radio]):read-only,
input:not([type=checkbox]):not([type=radio])[read-only] {
  border-color: #c8c8c8 !important;
  border-color: var(--disabled) !important;
}
select.focus, select:focus,
textarea.focus,
textarea:focus,
input:not([type=checkbox]):not([type=radio]).focus,
input:not([type=checkbox]):not([type=radio]):focus {
  border-color: #3b809d;
  border-color: var(--primary-light);
}
select.disabled, select:disabled, select[disabled],
textarea.disabled,
textarea:disabled,
textarea[disabled],
input:not([type=checkbox]):not([type=radio]).disabled,
input:not([type=checkbox]):not([type=radio]):disabled,
input:not([type=checkbox]):not([type=radio])[disabled] {
  border-color: #c8c8c8;
  border-color: var(--disabled);
  color: #c8c8c8;
  color: var(--disabled);
  pointer-events: none;
}
.error select, select.error,
.error textarea,
textarea.error,
.error input:not([type=checkbox]):not([type=radio]),
input:not([type=checkbox]):not([type=radio]).error {
  color: #e63535;
  color: var(--bad);
  border-color: #e63535;
  border-color: var(--bad);
}

select,
input:not([type=checkbox]):not([type=radio]) {
  height: 40px;
  height: var(--input-height);
}

textarea {
  min-height: 40px;
  min-height: var(--input-height);
}