<app-sidebar>
  <app-dynamic-form
    main
    [formElements]="myFormElements"
    [resourceService]="resourceService"
    [withAnchor]="true"
  ></app-dynamic-form>
  <div *ngIf="event" aside>
    <app-edge-panel
      type="SAMPLE"
      [resourceService]="sampleService"
      [scopeId]="'WXKKDI-W5LSJ2-YWK5SP-U7ZH2MQI'"
      [cardCollapse]="true"
    ></app-edge-panel>
    <app-edge-panel
      type="CONTACT"
      [resourceService]="contactService"
      [scopeId]="'QGH44Q-3WXSCR-WRCDJT-EVUVCJXQ'"
      filterCriteriaEntity="person"
      [cardCollapse]="false"
      status="unclassified"
      [showGroupLink]="true"
      actionLink="/contacts/list"
      [actionLinkParams]="{ person: 'QGH44Q-3WXSCR-WRCDJT-EVUVCJXQ' }"
    ></app-edge-panel>
  </div>
</app-sidebar>
