<app-sidebar>
  <app-dynamic-form
    main
    [formId]="formId"
    [formElements]="myFormElements"
    [resourceService]="resourceService"
    [withAnchor]="true"
  ></app-dynamic-form>
  <div *ngIf="event" aside>
    <app-edge-panel
      type="TASK"
      [resourceService]="taskService"
      [scopeId]="'WXKKDI-W5LSJ2-YWK5SP-U7ZH2MQI'"
      [cardCollapse]="true"
    ></app-edge-panel>
    <div class="action-cards">
      <h3>{{ 'strings.entityActions' | translate }}</h3>
      <div class="action-card pending">
        <p>{{ 'enum.ActionStatus.PENDING' | translate }}</p>
        <p class="no">2</p>
      </div>
      <div class="action-card done">
        <p>{{ 'enum.ActionStatus.DONE' | translate }}</p>
        <p class="no">3</p>
      </div>
      <div class="action-card progress">
        <p>{{ 'enum.ActionStatus.IN_PROGRESS' | translate }}</p>
        <p class="no">4</p>
      </div>
    </div>
  </div>
</app-sidebar>
