<app-sidebar>
  <app-dynamic-form
    main
    [formElements]="myFormElements"
    [resourceService]="resourceService"
    [withAnchor]="true"
  ></app-dynamic-form>
  <div *ngIf="case" aside>
    <app-edge-panel
      type="TASK"
      [resourceService]="taskService"
      [scopeId]="case.uuid"
    ></app-edge-panel>
    <app-edge-panel
      type="SAMPLE"
      [resourceService]="sampleService"
      [scopeId]="case.uuid"
    ></app-edge-panel>
    <app-edge-panel
      type="EVENT"
      [resourceService]="eventService"
      [scopeId]="case.uuid"
    ></app-edge-panel>
  </div>
</app-sidebar>
