// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './theme/palettes.scss';
@import './theme/form-field.scss';
@import './theme/form-checkbox.scss';
@import './theme/form-select.scss';
@import './theme/form-datepicker.scss';
@import './theme/form-radio.scss';
@import './theme/button.scss';
@import './theme/table.scss';
@import './theme/tabs.scss';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sormas-primary: mat-palette($brand-primary, 700);
$sormas-accent: mat-palette($brand-neutrals, 800);

// The warn palette is optional (defaults to red).
$sormas-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sormas-theme: mat-light-theme(
  (
    color: (
      primary: $sormas-primary,
      accent: $sormas-accent,
      warn: $sormas-warn,
    ),
  )
);

@mixin custom-theme($theme) {
  @include form-checkbox-theme($theme);
  @include form-field-theme($theme);
  @include form-select-theme($theme);
  @include form-datepicker-theme($theme);
  @include form-radio-theme($theme);
  @include button-theme($theme);
  @include table-theme($theme);
  @include tabs-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sormas-theme);
@include custom-theme($sormas-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}
