@import '~@angular/material/theming';
@import './theme/palettes.scss';

$sormas-primary: mat-palette($brand-primary);
$sormas-accent: mat-palette($brand-neutrals);
$sormas-warn: mat-palette($mat-red);

$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 840px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1680px,
);

$primary: mat-color($sormas-primary);
$accent: mat-color($sormas-accent);
$warn: mat-color($sormas-warn);
$white: #ffffff;

$warn-default: map-get($sormas-warn, default);

// TIP: to check all colors in a pallete:
// @debug $sormas-primary;
