@use '/src/variables.scss' as *;

.mat-dialog-title {
  padding-top: 40px;

  > h2 {
    margin: 0;
    font-size: 34px;
  }
}

.mat-dialog-content {
  padding: 25px;
  background: $white;

  #listingSearch {
    width: 212px;
    margin: 10px 0;
    float: left;
  }

  .action-content {
    overflow: hidden;

    .btns {
      margin-top: 5px;
      float: right;
    }
  }

  .search-field {
    .search-icon {
      width: 14px;
      height: 12px;
      color: map-get($sormas-accent, 200);
      font-size: 12px;
    }
    ::placeholder {
      color: map-get($sormas-accent, 200);
      font-size: 12px;
    }
  }

  .text {
    overflow: hidden;
    .mat-icon {
      display: inline-block;
      color: mat-color($sormas-accent, 500);
      font-size: 18px;
    }

    > p {
      display: inline-block;
      width: 70%;
      color: mat-color($sormas-accent, 500);
      font-size: 12px;
      vertical-align: top;
    }
  }

  .date-content {
    .mat-form-field-hint-wrapper {
      margin-top: 10px;
    }

    .datepicker-input {
      margin-right: 20px;
      float: left;
    }

    .set-btn {
      margin-top: 7px;
    }
  }
}
