<mat-icon
  *ngIf="config.iconify"
  [ngClass]="['material-icons-round', 'icon-' + config.dataKey + '-' + getRawData(config.dataKey)]"
>
  {{ getIcon() }}
</mat-icon>

<ng-container [ngSwitch]="dataType">
  <ng-container *ngSwitchCase="formats.LOADING">
    <div class="row-skeleton"></div>
  </ng-container>

  <ng-container *ngSwitchCase="formats.LINK">
    <a
      mat-button
      color="primary"
      [routerLink]="dataLink"
      [innerHtml]="dataDisplay"
      (click)="$event.stopPropagation()"
    ></a>
  </ng-container>

  <ng-container *ngSwitchCase="formats.DATE">
    <span
      [innerHtml]="
        config.format?.breakSpaces
          ? (dataDisplay | date: config.format?.pattern | wrapWord: config.dataKey)
          : (dataDisplay | date: config.format?.pattern)
      "
    ></span>
  </ng-container>

  <ng-container *ngSwitchCase="formats.NUMBER">
    <span
      [ngClass]="dataClass"
      [innerHtml]="
        config.format?.breakSpaces ? (dataDisplay | wrapWord: config.dataKey) : dataDisplay
      "
    ></span>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <span
      [innerHtml]="
        config.format?.breakSpaces ? (dataDisplay | wrapWord: config.dataKey) : dataDisplay
      "
    ></span>
  </ng-container>
</ng-container>
