@use '@angular/material' as mat;
@use '/src/variables.scss' as *;

.icon-data:not([class*='icon-status-']) {
  width: 14px;
  height: 14px;
  margin: -8px 8px 0 0;
  font-size: 14px;
  line-height: inherit;
}

a.mat-button {
  line-height: inherit;
}

.row-skeleton {
  display: inline-block;
  width: 100%;
  height: 1rem;
  animation: skeleton 3s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  background-color: mat.get-color-from-palette($sormas-accent, 200);
  opacity: 0;
}

.value-low {
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-alert, 700);
}

.value-medium {
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-warning, 800);
}

.value-normal {
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-warning, 600);
}

.value-high {
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-success, 700);
}

.no-data {
  font-weight: 500;
  color: mat.get-color-from-palette($sormas-alert, 300);
}

.icon-status-NOT_SYMPTOMATIC {
  color: mat.get-color-from-palette($sormas-success, 600);
}

.icon-status-SYMPTOMATIC {
  color: mat.get-color-from-palette($sormas-alert, 300);
}

.icon-status-UNAVAILABLE,
.icon-status-NOT_PERFORMED {
  color: mat.get-color-from-palette($sormas-accent, 800);
}

.icon-status-UNCOOPERATIVE {
  color: mat.get-color-from-palette($sormas-alert, 700);
}

@media (prefers-reduced-motion) {
  .row-skeleton {
    animation: none;
  }
}

@keyframes skeleton {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
  }
}
