<div *ngIf="data" class="card-sample-additional">
  <div class="sample-additional-details">
    <div class="list-additionals">
      <div class="alt-sgpt">
        <div class="row">
          <div class="label">
            {{ 'captions.AdditionalTest.altSgpt' | translate }}
          </div>
          <div class="value">{{ data.altSgpt }}</div>
        </div>
        <div class="row">
          <div class="label">
            {{ 'captions.AdditionalTest.altSgpt' | translate }}
          </div>
          <div class="value">{{ data.altSgpt }}</div>
        </div>
        <div class="row">
          <div class="label">
            {{ 'captions.AdditionalTest.altSgpt' | translate }}
          </div>
          <div class="value">{{ data.altSgpt }}</div>
        </div>
        <div class="row">
          <div class="label">
            {{ 'captions.AdditionalTest.altSgpt' | translate }}
          </div>
          <div class="value">{{ data.altSgpt }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
