<app-filters [topGap]="headerHeight">
  <app-person-filters filters></app-person-filters>
  <ng-container list>
    <div class="page-header">
      <h1 class="page-header-title">
        {{ 'captions.View.persons' | translate }}
      </h1>
      <div class="page-header-actions"></div>
    </div>

    <app-table
      [resourceService]="personService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      showTotalContext="{{ 'strings.entityPersons' | translate }}"
    ></app-table>
  </ng-container>
</app-filters>
