<div class="filters">
  <h2 class="filters-header">{{ 'Filters' | translate }}</h2>
  <form class="filters-form" [formGroup]="filtersForm">
    <div *ngIf="!inTab">
      <mat-form-field
        id="nameUuidCaseLike"
        appearance="outline"
        floatLabel="always"
        class="search-field"
      >
        <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
        <input
          value=""
          type="text"
          matInput
          appDebounce
          placeholder="{{
            'ID, name, case ID, case name, person phone / postal code / city' | translate
          }}"
          formControlName="nameUuidCaseLike"
          (debounce)="onFormChange()"
        />
      </mat-form-field>

      <app-collapsable-box boxTitle="{{ 'Contacts' | translate }}">
        <mat-radio-group name="contacts" formControlName="contacts" (change)="onFormChange()">
          <mat-radio-button value="LOW" color="primary">
            {{ 'All contacts' | translate }}
          </mat-radio-button>
          <mat-radio-button value="MODERATE" color="primary">
            {{ 'Active contacts' | translate }}
          </mat-radio-button>
          <mat-radio-button value="HIGH" color="primary">
            {{ 'Archived contacts' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Contact status' | translate }}">
        <mat-radio-group name="status" formControlName="status" (change)="onFormChange()">
          <mat-radio-button value="LOW" color="primary">
            {{ 'All' | translate }}
          </mat-radio-button>
          <mat-radio-button value="MODERATE" color="primary">
            {{ 'Active contacts' | translate }}
          </mat-radio-button>
          <mat-radio-button value="HIGH" color="primary">
            {{ 'Converted to case' | translate }}
          </mat-radio-button>
          <mat-radio-button value="HIGH" color="primary">
            {{ 'Dropped' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Contact category' | translate }}">
        <mat-radio-group name="contactCategory" formControlName="contactCategory" (change)="onFormChange()">
          <mat-radio-button value="high_risk_contact" color="primary">
            {{ 'High risk contact' | translate }}
          </mat-radio-button>
          <mat-radio-button value="high_risk_medical_contact" color="primary">
            {{ 'High risk medical contact' | translate }}
          </mat-radio-button>
          <mat-radio-button value="medium_risk_medical_contact" color="primary">
            {{ 'Medium risk medical contact' | translate }}
          </mat-radio-button>
          <mat-radio-button value="low_risk_contact" color="primary">
            {{ 'Low risk contact' | translate }}
          </mat-radio-button>
          <mat-radio-button value="no_risk_contact" color="primary">
            {{ 'No risk contact' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Returning traveler' | translate }}">
        <mat-radio-group name="traveler" formControlName="traveler" (change)="onFormChange()">
          <mat-radio-button value="LOW" color="primary">
            {{ 'Yes' | translate }}
          </mat-radio-button>
          <mat-radio-button value="MODERATE" color="primary">
            {{ 'No' | translate }}
          </mat-radio-button>
          <mat-radio-button value="HIGH" color="primary">
            {{ 'Unknown' | translate }}
          </mat-radio-button>
        </mat-radio-group>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Events' | translate }}">
        <mat-form-field
          id="eventLike"
          appearance="outline"
          floatLabel="always"
          class="search-field"
        >
          <mat-icon matPrefix class="search-icon material-icons-round">search</mat-icon>
          <input
            value=""
            type="text"
            matInput
            appDebounce
            placeholder="{{ 'Event: ID, title, description' | translate }}"
            formControlName="eventLike"
            (debounce)="onFormChange()"
          />
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Birth' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="birthdateYYYY"
            placeholder="{{ 'Year of birth' | translate }}"
          >
            <mat-option value="1900">1900</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="birthdateMM"
            placeholder="{{ 'Month of birth' | translate }}"
          >
            <mat-option value="1">January</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="birthdateDD"
            placeholder="{{ 'Day of birth' | translate }}"
          >
            <mat-option value="1">1</mat-option>
          </mat-select>
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Medical aspects' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="contactClassification"
            placeholder="{{ 'Contact classification' | translate }}"
          >
            <mat-option value="contact1">Contact1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="disease"
            placeholder="{{ 'Disease' | translate }}"
          >
            <mat-option value="disease1">Disease1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="diseaseVariant"
            placeholder="{{ 'Disease variant' | translate }}"
          >
            <mat-option value="disease_variant1">Disease variant1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="sourceCaseClassification"
            placeholder="{{ 'Source case classification' | translate }}"
          >
            <mat-option value="case1">Case1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="symptomJournalStatus"
            placeholder="{{ 'Symptom journal status' | translate }}"
          >
            <mat-option value="symptom_journal_status1">symptom journal status1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="vaccinationStatus"
            placeholder="{{ 'Vaccination status' | translate }}"
          >
            <mat-option value="symptom_journal_status1">symptom journal status1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="followUpStatus"
            placeholder="{{ 'Follow-up status' | translate }}"
          >
            <mat-option value="followup1">followup1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          id="follow-up-until"
          appearance="outline"
          floatLabel="always"
          class="{{
            pickerFollowUpUntilDate.opened ? 'datepicker-opened' : 'datepicker-closed'
          }} date-filter has-hint"
        >
          <input
            matInput
            [matDatepicker]="pickerFollowUpUntilDate"
            size="5"
            formControlName="followUpUntilDate"
            (dateChange)="onFormChange()"
          />
          <mat-hint>{{ 'Follow up until' | translate }}</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFollowUpUntilDate"
            class="datepicker-icon"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFollowUpUntilDate></mat-datepicker>
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Admin aspects' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="responsibleRegion"
            placeholder="{{ 'Responsible region' | translate }}"
          >
            <mat-option value="region1">Region1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="responsibleDistrict"
            placeholder="{{ 'Responsible district' | translate }}"
          >
            <mat-option value="district1">District1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="responsibleCommunity"
            placeholder="{{ 'Responsible community' | translate }}"
          >
            <mat-option value="community1">Community1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="contactOfficer"
            placeholder="{{ 'Contact officer' | translate }}"
          >
            <mat-option value="officer">Officer1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="relationshipWithCase"
            placeholder="{{ 'Relationship with case' | translate }}"
          >
            <mat-option value="rel1">Rel1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="reportedBy"
            placeholder="{{ 'Reported by' | translate }}"
          >
            <mat-option value="person1">Person1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            multiple
            formControlName="moreFilters"
            (selectionChange)="onFormChange()"
            placeholder="{{ 'More filters' | translate }}"
            class="multiselect"
          >
            <mat-option value="high_priority_contacts">
              {{ 'High priority contacts' | translate }}
            </mat-option>
            <mat-option value="contacts_with_source">
              {{ 'Contacts with source case linked to the specified event' | translate }}
            </mat-option>
            <mat-option value="contacts_from_other">
              {{ 'Contacts from other instances' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Quarantine' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="placeOfQuarantine"
            placeholder="{{ 'Place of quarantine' | translate }}"
          >
            <mat-option value="place1">Place1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            multiple
            formControlName="quarantineDetails"
            (selectionChange)="onFormChange()"
            placeholder="{{ 'Quarantine details' | translate }}"
            class="multiselect"
          >
            <mat-option value="quarantine_ordered_verbally">
              {{ 'Quarantine ordered verbally' | translate }}
            </mat-option>
            <mat-option value="quarantine_ordered_document">
              {{ 'Quarantine ordered by official document' | translate }}
            </mat-option>
            <mat-option value="no_quarantine">
              {{ 'No quarantine ordered' | translate }}
            </mat-option>
            <mat-option value="help_needed">
              {{ 'Help needed in quarantine' | translate }}
            </mat-option>
            <mat-option value="contacts_extended_quarantine">
              {{ 'Contacts with extended quarantine' | translate }}
            </mat-option>
            <mat-option value="contacts_reduce_quarantine">
              {{ 'Contacts with reduced quarantine' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          id="quarantine-end"
          appearance="outline"
          floatLabel="always"
          class="{{
            pickerQuarantineEndDate.opened ? 'datepicker-opened' : 'datepicker-closed'
          }} date-filter has-hint"
        >
          <input
            matInput
            [matDatepicker]="pickerQuarantineEndDate"
            size="5"
            formControlName="quarantineEndDate"
            (dateChange)="onFormChange()"
          />
          <mat-hint>{{ 'Quarantine end' | translate }}</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerQuarantineEndDate"
            class="datepicker-icon"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerQuarantineEndDate></mat-datepicker>
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Date filter' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            formControlName="dateFilter"
            (selectionChange)="onFormChange()"
            placeholder="{{ 'By date' | translate }}"
          >
            <mat-option value="byDate"> {{ 'By date' | translate }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            formControlName="referenceDate"
            (selectionChange)="onFormChange()"
            placeholder="{{ 'Reference date' | translate }}"
          >
            <mat-option value="referenceDate"> {{ 'Reference date' | translate }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          id="start-date"
          appearance="outline"
          floatLabel="always"
          class="{{
            picker1.opened ? 'datepicker-opened' : 'datepicker-closed'
          }} date-filter has-hint"
        >
          <input
            matInput
            [matDatepicker]="picker1"
            size="5"
            formControlName="startDate"
            (dateChange)="onFormChange()"
          />
          <mat-hint>{{ 'New contact from' | translate }}</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
            class="datepicker-icon"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          id="due-date"
          appearance="outline"
          floatLabel="always"
          class="{{
            picker2.opened ? 'datepicker-opened' : 'datepicker-closed'
          }} date-filter has-hint"
        >
          <input
            matInput
            [matDatepicker]="picker2"
            size="5"
            formControlName="dueDate"
            (dateChange)="onFormChange()"
          />
          <mat-hint>{{ 'to' | translate }}</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
            class="datepicker-icon"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </app-collapsable-box>
    </div>
    <div *ngIf="inTab">
      <app-collapsable-box boxTitle="{{ 'Medical aspects' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="contactClassification"
            placeholder="{{ 'Contact classification' | translate }}"
          >
            <mat-option value="contact1">Contact1</mat-option>
          </mat-select>
        </mat-form-field>
      </app-collapsable-box>

      <app-collapsable-box boxTitle="{{ 'Admin aspects' | translate }}">
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="contactPerson"
            placeholder="{{ 'Contact person' | translate }}"
          >
            <mat-option value="person1">Person1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="responsibleRegion"
            placeholder="{{ 'Responsible region' | translate }}"
          >
            <mat-option value="region1">Region1</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="collapsable-field">
          <mat-select
            disableOptionCentering
            (selectionChange)="onFormChange()"
            formControlName="responsibleOfficer"
            placeholder="{{ 'Responsible officer' | translate }}"
          >
            <mat-option value="officer1">Officer1</mat-option>
          </mat-select>
        </mat-form-field>
      </app-collapsable-box>
    </div>
  </form>
</div>
