<app-filters [topGap]="headerHeight">
  <app-messages-filters
    [formId]="formIdFilters"
    [data]="filtersData"
    filters
  ></app-messages-filters>
  <ng-container list>
    <div class="page-header">
      <h1 class="page-header-title">
        {{ 'captions.View.messages' | translate }}
      </h1>

      <div class="page-header-actions">
        <button mat-flat-button color="primary" (click)="refresh()">
          {{ 'captions.externalMessageFetch' | translate }}
        </button>
      </div>
    </div>

    <app-table
      [filterFormId]="formIdFilters"
      [resourceService]="externalMessageService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isViewable]="true"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      [bulkEditOptions]="actionsBulkEditOptions"
      (rowAction)="doMessageAction($event)"
      showTotalContext="{{ 'strings.entitySamples' | translate }}"
    ></app-table>
  </ng-container>
</app-filters>
