<mat-button-toggle-group [value]="value" (change)="onSelection($event)">
  <mat-button-toggle [value]="viewOptions.PRIMARY" [hidden]="active === viewOptions.PRIMARY">
    <mat-icon color="primary" [ngClass]="['material-icons-round', iconSize]">{{
      iconViewPrimary
    }}</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle [value]="viewOptions.SECONDARY" [hidden]="active === viewOptions.SECONDARY">
    <mat-icon color="primary" [ngClass]="['material-icons-round', iconSize]">{{
      iconViewSecondary
    }}</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
