<div class="location-form-container">
  <form class="location-form" [formGroup]="locationForm">
    <mat-form-field
      *ngFor="let field of fields"
      appearance="outline"
      [ngClass]="[!data[field].newLine ? 'no-float' : '', data[field].className || '']"
      floatLabel="always"
    >
      <mat-label *ngIf="data[field].label">
        {{ data[field].label || '' | translate }}
        <span *ngIf="data[field].required" class="required">*</span>
      </mat-label>
      <mat-select
        disableOptionCentering
        [formControlName]="field"
        [aria-label]="field"
        [placeholder]="data[field].placeholder | translate"
      >
        <mat-option *ngFor="let opt of data[field].options" [value]="opt.key">
          {{ opt.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
