<div class="follow-up">
  <div class="status">
    {{ 'enum.FollowUpStatus.' + status | translate }}
  </div>

  <div class="actions">
    <button *ngIf="!activeFollowUp" mat-stroked-button color="primary" (click)="resumeFollowUp()">
      {{ 'captions.contactResumeFollowUp' | translate }}
    </button>

    <app-dropdown-menu
      *ngIf="activeFollowUp"
      [buttonText]="'FollowUpStatus.actions' | translate"
      horizontalPosition="before"
    >
      <button mat-menu-item (click)="cancelFollowUp()">
        {{ 'captions.contactCancelFollowUp' | translate }}
      </button>
      <button mat-menu-item (click)="lostFollowUp()">
        {{ 'captions.contactLostToFollowUp' | translate }}
      </button>
    </app-dropdown-menu>
  </div>
</div>
