@use '../../../../variables' as *;

.header-title {
  padding-left: 20px;
  margin-top: 24px;
  font-size: 34px;
  font-weight: 500;
}

.actions-section{
  display: flex;
  justify-content: end;
  padding: 32px;
  background-color: #fff;
}
