<app-filters [fixed]="false">
  <app-contact-filters [data]="filtersData" filters></app-contact-filters>
  <ng-container list>
    <app-dropdown-menu buttonText="{{ 'captions.moreActions' | translate }}">
      <app-action-menu
        [config]="actionsMore"
        (action)="onActionSelected($event)"
      ></app-action-menu>
    </app-dropdown-menu>
    <app-table
      [filterFormId]="formIdFilters"
      [resourceService]="contactService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      [preSetFilters]="preSetFilters"
    ></app-table>
  </ng-container>
</app-filters>
