<button class="toggle-filter" (click)="drawer.open()">
  <mat-icon *ngIf="!drawer.opened" class="material-icons-round">filter_list</mat-icon>
</button>
<mat-drawer-container [ngClass]="['contact-list-container', drawer.opened ? '' : 'margin']">
  <mat-drawer #drawer opened mode="side" class="filters-bar">
    <app-contact-filters [drawer]="drawer"></app-contact-filters>
  </mat-drawer>
  <mat-drawer-content>
    <h1 class="header-title" i18n="Contacts Overview header">{{ 'Contacts Overview' | translate }}</h1>
    <app-table
      [resourceService]="contactService"
      [tableColumns]="defaultColumns"
      [isSortable]="true"
      [isSelectable]="true"
      [isHeaderSticky]="true"
      [fullHeight]="true"
      [saveConfigKey]="configKey"
      [preSetFilters]="preSetFilters"
    ></app-table>
  </mat-drawer-content>
</mat-drawer-container>
