<div class="line-listing-table-wrapper">
  <table mat-table [dataSource]="listings">
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          color="primary"
          [(ngModel)]="element.enabled"
          (change)="onChangeCheckbox(element)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name" *ngIf="!regionId">
      <th mat-header-cell *matHeaderCellDef> {{ 'strings.entityRegion' | translate }} </th>
      <td mat-cell *matCellDef="let element"> <span class="bold">{{element.name}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="districtName">
      <th mat-header-cell *matHeaderCellDef> {{ 'strings.entityDistrict' | translate }} </th>
      <td mat-cell *matCellDef="let element"> <span class="bold">{{element.districtName}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> {{ 'captions.lineListingEndDate' | translate }} </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field
          class="datepicker-input"
          appearance="outline"
          floatLabel="always"
          [ngClass]="{
        'datepicker-opened': picker.opened,
        'datepicker-closed': !picker.opened
      }"
        >
          <input
            matInput
            readonly
            [(ngModel)]="element.endDate"
            [matDatepicker]="picker"
            [placeholder]="'captions.lineListingEndDate' | translate"
          />
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon class="material-icons-round">date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker [calendarHeaderComponent]="header"></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
