.dashboard-disease-menu {
  .actions {
    float: left;

    .mat-form-field {
      width: 100px;
      display: inline-block;
    }

    .start-stop-btn {
      font-size: 24px;
      cursor: pointer;
      display: inline;
    }
  }

  .mat-progress-bar {
    margin-bottom: -16px;
  }
}
