<div mat-dialog-title>
  <h1>{{ 'strings.headingImportPopulationData' | translate }}</h1>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close class="button-dialog-close">
      <mat-icon class="material-icons-round">highlight_off</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content [formGroup]="form">
  <div class="step">
    <div class="iteration">{{ 'strings.date' | translate }}</div>
    <div class="instructions">
      <p>{{ 'strings.infoPopulationCollectionDate' | translate }}</p>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        [ngClass]="{
          'datepicker-opened': picker.opened,
          'datepicker-closed': !picker.opened
        }"
      >
        <input matInput [matDatepicker]="picker" [formControlName]="'date'" />
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon class="material-icons-round">date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'strings.step' | translate }} 1</div>
    <div class="instructions">
      <h2>{{ 'strings.headingDownloadImportGuide' | translate }}</h2>
      <p>{{ 'strings.infoDownloadImportGuide' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'captions.importDownloadImportGuide' | translate }}
        </a>
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'captions.importDownloadDataDictionary' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'strings.step' | translate }} 2</div>
    <div class="instructions">
      <h2>{{ 'strings.headingDownloadImportTemplate' | translate }}</h2>
      <p>{{ 'strings.infoDownloadCaseImportTemplate' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'captions.importDownloadImportTemplate' | translate }}
        </a>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'strings.step' | translate }} 3</div>
    <div class="instructions">
      <h2>{{ 'strings.headingImportCsvFile' | translate }}</h2>
      <p>{{ 'strings.infoImportCsvFile' | translate }}</p>
      <mat-checkbox color="primary" [formControlName]="'overwriteEntries'">
        {{ 'captions.infrastructureImportAllowOverwrite' | translate }}
      </mat-checkbox>
      <mat-radio-group name="separator" formControlName="separator">
        <mat-label>{{ 'captions.importValueSeparator' | translate }}</mat-label>
        <br />
        <mat-radio-button value="DEFAULT" color="primary">
          {{ 'enum.ValueSeparator.DEFAULT' | translate }}
        </mat-radio-button>
        <mat-radio-button value="COMMA" color="primary">
          {{ 'enum.ValueSeparator.COMMA' | translate }}
        </mat-radio-button>
        <mat-radio-button value="SEMICOLON" color="primary">
          {{ 'enum.ValueSeparator.SEMICOLON' | translate }}
        </mat-radio-button>
        <mat-radio-button value="TAB" color="primary">
          {{ 'enum.ValueSeparator.TAB' | translate }}
        </mat-radio-button>
      </mat-radio-group>
      <p class="file-upload">
        <label for="import">Choose file</label>
        <input type="file" id="import" name="import" accept=".csv" />
      </p>
      <p class="actions">
        <button mat-button color="primary" class="button-upload">
          <mat-icon class="material-icons-round">file_upload_black</mat-icon>
          {{ 'captions.importImportData' | translate }}
        </button>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="iteration">{{ 'strings.step' | translate }} 4</div>
    <div class="instructions">
      <h2>{{ 'strings.headingDownloadErrorReport' | translate }}</h2>
      <p>{{ 'strings.infoDownloadErrorReport' | translate }}</p>
      <p class="actions">
        <a
          href="/assets/document.pdf"
          target="_blank"
          mat-button
          color="primary"
          class="button-download"
        >
          <mat-icon class="material-icons-round">file_download_black</mat-icon>
          {{ 'captions.importDownloadErrorReport' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
