<ng-container *ngIf="data">
  <div [ngClass]="visible ? 'hide-section' : 'show-section'">
    <mat-checkbox color="primary" class="small" (change)="toggleSection($event)">
      {{ 'captions.dashboardHideOverview' | translate }}
    </mat-checkbox>
  </div>

  <mat-card *ngIf="visible">
    <div [ngClass]="activeView === viewOptions.PRIMARY ? 'grid' : ''">
      <app-dashboard-disease-overview
        [data]="data"
        class="overview"
      ></app-dashboard-disease-overview>
      <app-dashboard-difference-cases
        [data]="data"
        [filters]="filters"
        class="graph"
      ></app-dashboard-difference-cases>
    </div>
    <div [hidden]="diseases.length <= 6" class="expand-view">
      <app-toggle-view
        iconViewPrimary="expand_less_black"
        iconViewSecondary="expand_more_black"
        iconSize="large"
        (selection)="onViewChange($event)"
      ></app-toggle-view>
    </div>
  </mat-card>
</ng-container>
