@use '/src/variables.scss' as *;

:host {
  display: block;
  position: relative;
}

.mat-card {
  padding: 24px;
  z-index: 1;
}

.overview,
.graph {
  display: block;
  margin-bottom: 24px;
}

.show-section {
  padding-right: 24px;
  margin-top: -8px;
  text-align: right;
}

.hide-section {
  position: absolute;
  top: 20px;
  right: 24px;
  z-index: 2;

  .mat-label {
    font-weight: normal;
  }
}

.expand-view {
  margin-bottom: -16px !important;
  text-align: center;
}

@media (min-width: map-get($grid-breakpoints, xl)) {
  .grid {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 24px;
  }
}
